﻿

<html>
<head>
    <script src="~/Scripts/angular/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Content/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/angucomplete-alt/angucomplete-alt.js"></script>
    <script src="~/Content/angular-ui-select/dist/select.min.js"></script>
    <script src="~/Content/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/sprintf/sprintf.js"></script>
    <script src="~/Content/sprintf/angular-sprintf.js"></script>
    <script src="~/Scripts/Services/apiService.js"></script>
    <script src="~/Content/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="~/Content/ui-boostrap/scripts/ui-bootstrap-tpls-2.1.2.min.js"></script>
    <script src="~/Scripts/Directives/angular-bootstrap-switch.min.js"></script>
    <script src="~/Scripts/Utils/modalUtils.js"></script>
    <script src="~/Scripts/Apps/MainApp.js"></script>
    <script src="~/Content/bootstrap-switch-master/dist/js/bootstrap-switch.min.js"></script>



    <script src="~/Scripts/Controllers/impresionController.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>ImprimirFactura</title>
</head>
<body>
    <div ng-app="impresionApp"  ng-init="facturaId='@{ViewBag.IdFactura}''"> 
        <div class="panel-body" ng-controller="ImpresionFactura">


            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>

                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Unidad</th>
                        <th>Precio unitario</th>
                        <th>Subtotal</th>
                        <th>Itbis</th>

                        <th>Total</th>
                        <th ng-hide="esEdicion"></th>
                    </tr>
                </thead>
                <tbody class="table-bordered">
                    <tr ng-repeat="detalle in factura.detallesFactura">

                        <td>{{detalle.producto.nombre}}</td>
                        <td>{{detalle.cantidad }}</td>
                        <td>{{detalle.producto.esServicio?'':detalle.unidad.nombre}}</td>
                        <td>{{detalle.monto }}</td>
                        <td>{{(detalle.montoGrabado) }}</td>
                        <td>{{(detalle.montoItbis * detalle.cantidad)}}</td>


                        <td>{{detalle.montoTotal }}</td>

                        <td align="center" ng-hide="esEdicion">
                            <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                <a class="btn btn-primary btn-sm" href="" title="Editar" ng-click="EditarDetalle(detalle)"><i class="fa fa-pencil"></i> <span class="option">Editar</span> </a>

                            </div>
                            <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                <a class="btn btn-danger" ng-click="AnularDetalle(detalle)"><i class="fa fa-ban"></i> Anular</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row" style="margin-right:5px">

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <p class="lead pull-left" style="vertical-align:central">
                        Subtotal
                        <span class="badge badge-default" style="margin-bottom:5px">{{factura.montoGrabado | number:2}}</span>
                    </p>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <p class="lead pull-center" style="vertical-align:central">
                        Total Itbis
                        <span class="badge badge-default" style="margin-bottom:5px">{{factura.montoItbis | number:2}}</span>
                    </p>
                </div>

                <div class="col-md-6 col-xs-12 col-sm-12">
                    <p class="lead pull-left" style="vertical-align:central">
                        Total de factura
                        <span class="badge badge-default ">{{factura.moneda.codigo }}</span>
                        <span class="badge badge-default pull-right" style="margin-left:10px; margin-top:5px;">{{factura.montoTotal | number:2}}</span>

                    </p>

                </div>

            </div>

            <div class="row" style="margin-right:5px">
                <div class="col-md-6 col-xs-12 col-sm-12">
                    <p class="lead pull-left" style="vertical-align:central">
                        Pagado
                        <span class="badge badge-default" style="margin-bottom:5px">{{(factura.montoPagado) | number:2}}</span>
                    </p>
                </div>

                <div class="col-md-6 col-xs-12 col-sm-12">
                    <p class="lead pull-left" style="vertical-align:central">
                        Total adeudado
                        <span class="badge badge-default" style="margin-bottom:5px">{{(factura.montoTotal-factura.montoPagado) | number:2}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>
