﻿@{
    ViewBag.Title = "BILLTECH";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por confirmar su Email. Favor @Html.ActionLink("Clic para iniciar sesion.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
