﻿@{
    Layout = null;
}
<script src="~/Content/jquery/dist/jquery.min.js"></script>
<script src="~/Content/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Content/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/Scripts/angular/angular.min.js"></script>
<script src="~/Scripts/angular-resource.min.js"></script>
<script src="~/Scripts/Services/apiService.js"></script>
<link href="~/Content/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/angucomplete-alt/angucomplete-alt.css" rel="stylesheet" />
<link href="~/Content/PaceJs/paceJs.css" rel="stylesheet" />
<link href="~/Content/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />

<link href="~/Content/printStylePos.css" rel="stylesheet" />
<script src="~/Scripts/Apps/impresionApp.js"></script>




<div id="printingContainer" ng-app="impresionApp" ng-init="facturaId=@ViewBag.facturaId; tipoImpresora='Normal'; cantidadDeCopias=2; verColumnas={unidades:true, descuento:true};">
    <div class="panel-body receipt sheet" id="impresionBody" ng-controller="impresionController">

        <div class="row noImprimir">


            @*<div class="col-md-2 col-xs-12 col-sm-12">
                    <label>Mostrar unidades</label>
                    <input type="checkbox" ng-model="verColumnas.unidades" ng-model-options="{allowInvalid: true}" />
                </div>
                <div class="col-md-2 col-xs-12 col-sm-12">
                    <label>Mostrar descuento</label>
                    <input type="checkbox" ng-model="verColumnas.descuento" ng-model-options="{allowInvalid: true}" />
                </div>*@
            <div class="col-md-3 col-xs-12 col-sm-12 hidden">
                <button id="printButton_reset" class="btn btn-default col-md-12" ng-click="PrintFactura('Normal', false)">
                    <i class="fa fa-print"></i> Imprimir Normal
                </button>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-12">
                <button id="printButton_pos" class="btn btn-default col-md-12" ng-click="PrintFactura('POS80', true)">
                    <i class="fa fa-print"></i> Imprimir POS
                </button>
            </div>


        </div>
        <div id="impresoraNormal" ng-class="{'hidden':tipoImpresora!='Normal'}">

            <div id="estadoCuenta" class="row">
                <div class="col-xs-12">
                    <div class="block full">




                        <div id="invoiceContainer">
                            <div class="divBody">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                <img src="~/Content/images/logo.jpg" height="100" width="200" />
                                            </th>
                                            <th>
                                                <table>
                                                    <thead>
                                                        <tr><th class="infoCompania generalFont">C/ 19 de marzo No.15</th></tr>
                                                        <tr><th class="infoCompania generalFont">Tel: 829-861-5698 / 809-610-0712</th></tr>
                                                        <tr><th class="infoCompania generalFont">San Cristóbal</th></tr>
                                                        <tr><th class="infoCompania generalFont">RNC: 132136421</th></tr>
                                                    </thead>
                                                </table>
                                            </th>
                                            <th style="width:30% !important"></th>
                                            <th class="text-left generalFont">Fecha: {{factura.fechaFacturado?factura.fechaFacturado:factura.fechaCreacion | date:'dd-MM-yyyy'}} </th>
                                        </tr>

                                    </thead>
                                </table>
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="width:70% !important"></th>
                                            <th>
                                                <table>
                                                    <thead>
                                                        <tr><th class="text-left generalFont">{{factura.numeroFactura && factura.numeroFactura.toUpperCase().indexOf('FAC')>=0?'Factura válida para crédito fiscal':'Cotización'}}</th></tr>
                                                        <tr><th class="text-left generalFont" ng-if="factura.numeroFactura && factura.numeroFactura.toUpperCase().indexOf('FAC')>=0">NCF: {{factura.ncf}}</th></tr>
                                                        <tr><th class="text-left generalFont">VALIDA: {{addDays(factura.fechaCreacion,factura.cliente.diasVencimiento) | date:'dd-MM-yyyy'}}</th></tr>
                                                        <tr><th class="text-left generalFont">{{factura.numeroFactura.toUpperCase().indexOf('FAC')>=0?'FACTURA':'COTIZACION'}}: {{factura.numeroFactura.toUpperCase()}}</th></tr>
                                                    </thead>
                                                </table>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>

                                <br />
                                <table class="table table-vcenter">
                                    <thead>


                                        <tr>
                                            <th>
                                                <table>
                                                    <thead class="generalFont">
                                                        <tr><th class="generalFont">CLIENTE: {{factura.cliente.nombre}} {{factura.cliente.codigo}}</th></tr>
                                                        <tr><th class="generalFont">TELF: {{factura.cliente.telefono}}</th></tr>
                                                        <tr><th class="generalFont">RNC: {{factura.cliente.cedulaRnc}}</th></tr>
                                                        <tr><th class="generalFont">DIRECCION: {{factura.cliente.direccion}}</th></tr>
                                                    </thead>
                                                </table>
                                            </th>

                                        </tr>




                                        <tr>
                                            <th style="color:white !important; visibility:hidden;">sssss</th>
                                        </tr>

                                    </thead>

                                </table>
                                <table class="table table-vcenter generalFont">
                                    <thead class="table-bordered tabl">
                                        <tr>
                                            <th class="text-center generalFont" style="border: 1px solid black;background-color: aliceblue;">CANTIDAD</th>
                                            <th class="text-center generalFont" style="border: 1px solid black;background-color: aliceblue;">DESCRIPCION</th>
                                            <th class="text-center generalFont" style="border: 1px solid black;background-color: aliceblue;">NOTA</th>
                                            <th class="text-center generalFont" style="border: 1px solid black;background-color: aliceblue;">UNIT</th>
                                            <th class="text-center generalFont" style="border: 1px solid black;background-color: aliceblue;">MONTO TOTAL</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="detalles in factura.detallesFactura" class="table-bordered">
                                        <tr ng-show="detalles.DetallePadreId==null">

                                            <td class="text-center generalFont" style="border: 1px solid black;" ng-show="verColumnas.unidades">{{detalles.cantidad | number}} {{detalles.unidad.nombre}}</td>
                                            <td class="text-center generalFont" style="border: 1px solid black;" ng-show="!verColumnas.unidades">{{detalles.cantidad | number}}</td>
                                            <td class="text-center generalFont" style="border: 1px solid black;">{{detalles.producto.nombre.length>71?detalles.producto.nombre.substring(0,69)+'...':detalles.producto.nombre}}</td>
                                            <td class="text-center generalFont" style="border: 1px solid black;">{{detalles.comentario}}</td>
                                            <td class="text-right generalFont" style="border: 1px solid black;">${{detalles.monto | currency : ""}}</td>
                                            <td class="text-right generalFont" style="border: 1px solid black;">${{detalles.montoGrabado  | currency : ""}}</td>
                                        </tr>

                                    </tbody>


                                    <tfoot>
                                        <tr>
                                            <th style="color:white !important; visibility:hidden;">sssss</th>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th class="text-left generalFont">TOTAL:</th>
                                            <th class="text-right generalFont" style="border-top: 1px solid black !important; border-bottom: 2px double black"> ${{factura.montoGrabado | currency:""}}</th>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th class="text-left generalFont">ITBIS:</th>
                                            <th class="text-right generalFont" style=" border-bottom:2px double black"> ${{factura.montoItbis | currency:""}}</th>
                                        </tr>

                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th class="text-left generalFont">TOTAL {{factura.moneda.codigo.toUpperCase()}}$:</th>
                                            <th class="text-right generalFont" style=" border-bottom: 2px double black"> ${{factura.montoTotal | currency:""}}</th>
                                        </tr>

                                    </tfoot>
                                </table>
                                <br /><br /><br />
                            </div>

                        </div>








                    </div>
                </div>
            </div>

        </div>

        <div id="impresoraPos" ng-class="{'hidden':tipoImpresora!='POS80'}">

            <div id="estadoCuenta" class="row">
                <div class="col-xs-12">
                    <div class="block full">

                        <div id="printHeader">
                            <div class="row">

                                <img style="margin-left:15%;" src="~/Content/images/logo.jpg" height="100" width="200" />

                            </div>
                            <br />
                            <div class="row ">
                                <div class=" col-xs-12 col-sm-12">
                                    <p class="text-left">{{factura.fechaFacturado | date:'dd/MM/yyyy hh:mm:ss'}}</p>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <p class="text-left">FACTURA: {{factura.numeroFactura.toUpperCase()}}</p>
                                </div>
                            </div>
                            @*<div class="row">
                                    <div class="col-xs-6 col-sm-6">
                                        <p class="text-left" ng-show="factura.ncf">NCF: {{factura.ncf}}</p>
                                    </div>
                                </div>*@
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">

                                    <p class="clientFont"><noel>Cliente:</noel> {{factura.cliente.codigoYNombre}}</p>
                                    <p ng-show="(factura.rnc!=null && factura.rnc!='')">RNC: {{factura.rnc}}</p>
                                    <p ng-show="(factura.cliente.telefono!=null && factura.cliente.telefono!='')">Teléfono: {{factura.cliente.telefono}}</p>

                                </div>
                            </div>
                        </div>
                        <br />
                        <div id="printDetail">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>CANT.</th>
                                        <th>MONTO</th>
                                        <th>TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody style="border-top: 1px solid !important" ng-repeat="detalle in factura.detallesFactura track by detalle.id">
                                    <tr>
                                        <td>{{detalle.cantidad | number}}</td>
                                        <td>{{detalle.monto | currency:""}}</td>
                                        <td>{{detalle.montoTotal | currency:""}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{detalle.producto.nombre}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            <div>
                                <br />
                                <br />
                                <br />
                                <div class=" row">
                                    <p class="col-xs-12 col-sm-12 text-left" style="font-weight:bolder; font-size:15px;">TOTAL</p>
                                    <p class="col-xs-12 col-sm-12 text-left" style="font-weight: bolder; font-size: 15px;">${{factura.montoTotal | currency:""}}</p>
                                </div>

                            </div>

                            <br />
                            <br />
                            <br />

                            <table class="table table-vcenter">
                                <tfoot>

                                    <tr>

                                        <th class="text-center" style="border-top: 4px solid black;">RECIBIDO</th>

                                    </tr>
                                </tfoot>
                            </table>



                        </div>




                    </div>
                </div>
            </div>
        </div>


        <div class="row ">
            <div class="col-md-12 col-xs-12 col-sm-12">

                <h4 style="height:10px;"></h4>
                <h4 class="text-center">{{mensajePiePagina}}</h4>
            </div>
        </div>
    </div>
</div>
<script>
    function auto_grow(elementId) {
        var element = document.getElementById(elementId);
        element.style.height = "5px";
        element.style.height = (element.scrollHeight) + "px";
    }
</script>



