﻿@{
    Layout = null;
}
<script src="~/Content/jquery/dist/jquery.min.js"></script>
<script src="~/Content/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Content/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/Scripts/angular/angular.min.js"></script>
<script src="~/Scripts/angular-resource.min.js"></script>
<script src="~/Scripts/Services/apiService.js"></script>

<link href="~/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/angucomplete-alt/angucomplete-alt.css" rel="stylesheet" />
<link href="~/Content/PaceJs/paceJs.css" rel="stylesheet" />
<link href="~/Content/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />


<script src="~/Scripts/Apps/impresionApp.js"></script>

<style>
    textarea {
        resize: none;
        overflow: hidden;
        min-height: 50px;
        max-height: 100px;
    }
    @@page {
        size: 8.5in 11in;
        margin-top: 25px;
        margin: 15px;
    }
  

    @@media print {
        table tfoot {
            display: table-row-group;
        }

        .noel, #estadoCuenta {
            display: block !important;
            font-size: 10px !important;
        }

        .noImprimir {
            display: none;
        }

        body {
            font-size: 10px !important;
            margin: 1.6cm;
        }

        h2 {
            font-size: 18px !important;
        }

        h3 {
            font-size: 16px !important;
        }

        h4 {
            font-size: 12px !important;
        }
        .textoInformativo {
            font-size: 12px !important;
        }

        .row > .col-md-2, .row > .col-md-1, .table thead > tr > th {
            font-size: 10px !important;
        }
       

        .row > .col-md-2, .row > .col-md-1, .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            padding: 0;
			font-size: 12px !important;
        }
    }

</style>


<div ng-app="impresionApp" ng-init="facturaId=@ViewBag.facturaId; cantidadDeCopias=2">
    <div class="panel-body" id="impresionBody" ng-controller="impresionController">
        <div class="row noImprimir">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label class="">Texto provisional</label>
                <input type="text" id="textoProvisional" class="form-control"  ng-model="textoProvisional" />
            </div>
              <div class="col-md-4 col-xs-5 col-ms-4">
                <label class="">Texto pie de página</label>
                <input type="text" id="mensajePiePagina" class="form-control" ng-model="mensajePiePagina" />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <button id="printButton" class="btn btn-default col-md-2" ng-click="PrintFactura()">
                    <i class="fa fa-print"></i> Imprimir
                </button>
            </div>

        </div>
        <div id="estadoCuenta" class="row">
            <div class="col-xs-12">
                <div class="block full">

                    <div id="printHeader">
                        <div class="row">
                            <div class="col-xs-5 col-md-4">
                                <img src="~/Content/images/logo.jpg" alt="header" width="500" height="100" />

                            </div>
                            <div class="col-xs-5 col-xs-offset-2 col-md-4 col-md-offset-2">
                                <h4 class="text-left">FECHA: {{factura.fechaFacturado | date:'dd-MM-yyyy'}}</h4>
                                <h4 class="text-left">FACTURA: {{factura.numeroFactura.toUpperCase()}}</h4>
                                <h4 class="text-left" ng-show="factura.ncf">NCF: {{factura.ncf}}</h4>
                                <textarea maxlength="50" id="textoProvisional"
                                          onkeyup="auto_grow(this)"
                                          style="border:none; resize:none; overflow:hidden;"
                                          ng-hide="!textoProvisional || textoProvisional.length==0"
                                          rows="4" class="textoInformativo">{{textoProvisional.toUpperCase()}}</textarea>
                            </div>

                        </div>
                        <div class="row ">
                          
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>Cliente: {{factura.cliente.nombre}}</h4>
                                <h4 ng-show="(factura.rnc!=null && factura.rnc!='')">RNC: {{factura.rnc}}</h4>
                                <h4  ng-show="(factura.cliente.direccion!=null && factura.cliente.direccion!='')">Dirección: {{factura.cliente.direccion}}</h4>
                                <h4  ng-show="(factura.cliente.telefono!=null && factura.cliente.telefono!='')">Teléfono: {{factura.cliente.telefono}}</h4>

                            </div>
                        </div>
                    </div>
                    <br />
                    <div id="printDetail">
                        <div>
                            <table class="table table-vcenter">
                                <thead>
                                    <tr>

                                        <th >Producto</th>
                                        <th >Cantidad</th>
                                        <th class="text-center">Precio unitario</th>
                                        <th class="text-center">Total</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="detalles in factura.detallesFactura" class="filas">
                                    <tr ng-show="detalles.DetallePadreId==null" >
                                        <td>{{detalles.producto.nombre}}</td>
                                        <td>{{detalles.cantidad | number}} {{detalles.unidad.nombre}}</td>
                                        <td  class="text-center">${{detalles.monto | currency : ""}}</td>
                                        <td  class="text-center">${{detalles.montoTotal  | currency : ""}}</td>
                                    </tr>
                                </tbody>
                                <tfoot class="pie">

                                    <tr>
                                        <th class="text-left">{{factura.moneda.codigo}}</th>
                                        <th></th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">SubTotal: ${{factura.montoGrabado | currency:""}}</th>
                                        @*<th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Total ITBIS: ${{factura.montoItbis | currency:""}}</th>*@
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Total: {{factura.montoTotal | currency:""}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <br />
                        <br /><br />
                        <br />

                        <table class="table table-vcenter">
                            <tfoot>

                                <tr>

                                    <th class="text-center" style="border-top: 2px solid black;">RECIBIDO</th>
                                    <th style=" border:none; width:100px;" ></th>
                                    <th class="text-center" style="border-top: 2px solid black;">  BULTOS  </th>
                                    <th style=" border:none; width:100px;"></th>
                                    <th class="text-center" style="border-top: 2px solid black;">DESPACHADO</th>
                                </tr>
                            </tfoot>
                        </table>

                        <br /><br />
                        <div class="row ">
                            <div class="col-md-12 col-xs-12 col-sm-12">
                           
                                <h4 style="height:10px;"></h4>
                                <h4 class="text-center">{{mensajePiePagina}}</h4>
                            </div>
                        </div>

                    </div>




                </div>
            </div>
        </div>

    </div>
</div>
<script>
    function auto_grow(elementId) {
        var element = document.getElementById(elementId);
        element.style.height = "5px";
        element.style.height = (element.scrollHeight) + "px";
    }
</script>



