﻿
@{
    Layout = null;
}

<style>
    .invoice-box{
        max-width:800px;
        margin:auto;
        padding:30px;
        border:1px solid #eee;
        box-shadow:0 0 10px rgba(0, 0, 0, .15);
        font-size:16px;
        line-height:24px;
        font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color:#555;
    }

    .invoice-box table{
        width:100%;
        line-height:inherit;
        text-align:left;
    }

    .invoice-box table td{
        padding:5px;
        vertical-align:top;
    }

    .invoice-box table tr td:nth-child(2){
        text-align:right;
    }

    .invoice-box table tr.top table td{
        padding-bottom:20px;
    }

    .invoice-box table tr.top table td.title{
        font-size:45px;
        line-height:45px;
        color:#333;
    }

    .invoice-box table tr.information table td{
        padding-bottom:40px;
    }

    .invoice-box table tr.heading td{
        background:#eee;
        border-bottom:1px solid #ddd;
        font-weight:bold;
    }

    .invoice-box table tr.details td{
        padding-bottom:20px;
    }

    .invoice-box table tr.item td{
        border-bottom:1px solid #eee;
    }

    .invoice-box table tr.item.last td{
        border-bottom:none;
    }

    .invoice-box table tr.total td:nth-child(2){
        border-top:2px solid #eee;
        font-weight:bold;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td{
            width:100%;
            display:block;
            text-align:center;
        }

        .invoice-box table tr.information table td{
            width:100%;
            display:block;
            text-align:center;
        }
    }
</style>

    
   
   <script src="~/Content/jquery/dist/jquery.min.js"></script>
<script src="~/Content/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Content/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/Scripts/angular/angular.min.js"></script>
<script src="~/Scripts/angular-resource.min.js"></script>
<script src="~/Scripts/Services/apiService.js"></script>

<link href="~/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/angucomplete-alt/angucomplete-alt.css" rel="stylesheet" />
<link href="~/Content/PaceJs/paceJs.css" rel="stylesheet" />
<link href="~/Content/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />


<script src="~/Scripts/Apps/impresionApp.js"></script>



    <div class="invoice-box" ng-app="impresionApp" ng-init="facturaId=@ViewBag.facturaId">
        <table cellpadding="0" cellspacing="0" ng-controller="impresionController">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="http://nextstepwebs.com/images/logo.png" style="width:100%; max-width:300px;">
                            </td>

                            <td>
                                NO. FACTURA #: {{factura.numeroFactura}}<br>
                                Fecha: {{factura.fechaCreacion | date :'mm-dd-yyyy'}}<br>
                              
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                               {{factura.cliente.nombre}}<br>
                               {{factura.cliente.cedulaRnc}}<br>
                               {{factura.cliente.telefono}}
                            </td>

                            <td>
                                My Punto de Venta<br>
                                John Doe<br>
                                john@example.com
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td>
                    Metodo de pago
                </td>

                <td>
                    Check #
                </td>
            </tr>

            <tr class="details">
                <td>
                    Check
                </td>

                <td>
                    1000
                </td>
            </tr>

            <tr class="heading">
                <td>
                    Articulo
                </td>
                <td>Cantidad</td>
                <td>
                    Precio
                </td>
            </tr>

            <tr ng-repeat="detalle in factura.detallesFactura" style="page-break-inside:avoid">

                <td>{{detalle.producto.nombre}}</td>
                <td>{{detalle.cantidad | number : 2 }}</td>
                <td>{{detalle.producto.esServicio?'':detalle.unidad.nombre}}</td>
                <td>{{detalle.monto | number : 2}}</td>
                <td>{{(detalle.montoGrabado) | number : 2}}</td>
                <td>{{(detalle.montoItbis * detalle.cantidad) | number : 2}}</td>


                <td>{{detalle.montoTotal }}</td>

            </tr>

            <tr class="total">
                <td></td>

                <td>
                    Total: ${{factura.montoTotal}}
                </td>
            </tr>
        </table>
    </div>

