﻿@{
    Layout = null;
}
<script src="~/Content/jquery/dist/jquery.min.js"></script>
<script src="~/Content/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Content/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/Scripts/angular/angular.min.js"></script>
<script src="~/Scripts/angular-resource.min.js"></script>
<script src="~/Scripts/Services/apiService.js"></script>
<link href="~/Content/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/angucomplete-alt/angucomplete-alt.css" rel="stylesheet" />
<link href="~/Content/PaceJs/paceJs.css" rel="stylesheet" />
<link href="~/Content/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />

<link href="~/Content/printStyle.css" rel="stylesheet" />
<script src="~/Scripts/Apps/impresionApp.js"></script>




<div id="printingContainer" ng-app="impresionApp" ng-init="facturaId=@ViewBag.facturaId; cantidadDeCopias=2; verColumnas={unidades:true, descuento:true};">
    <div class="panel-body receipt sheet" id="impresionBody" ng-controller="impresionController">

        <div class="row noImprimir">

            <div class="col-md-6 col-xs-12 col-sm-12">
                <button id="printButton" class="btn btn-default col-md-2" ng-click="PrintFactura()">
                    <i class="fa fa-print"></i> Imprimir
                </button>
            </div>


        </div>
        <div id="impresoraNormal" ng-if="true">

            <div id="estadoCuenta" class="row">
                <div class="col-xs-12">
                    <div class="block full">

                        <div id="invoiceContainer">
                            <div style="height:2px;"></div>
                            <div class="divBody">
                                <div style="margin-left: 10px;border: solid 1px black;">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th><img style=" margin-left:5px; margin-top:5px;" src="~/Content/images/logo.jpg" width="250px" height="100px" /></th>
                                            </tr>
                                            <tr style="position:absolute; top:10px;">
                                                <th style="width:600px; font-size:30px;" class="text-right">$</th>
                                                <th style="border:solid 2px black; height:50px !important; width:100px !important"></th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <table>
                                        <tbody>
                                            <tr><td><h4>RECIBIDO DE:</h4></td><td style="width:500px; border-bottom:dotted 2px black;"></td></tr>
                                        </tbody>
                                    </table>
                                    <table>
                                        <tbody>
                                            <tr><td><h4>LA SUMA DE:</h4></td><td style="width:510px; border-bottom:dotted 2px black;"></td></tr>
                                        </tbody>
                                    </table>
                                    <table>

                                        <tbody>
                                            <tr><td><h4>POR CONCEPTO DE:</h4></td><td style="width:500px; border-bottom:dotted 2px black;"></td></tr>
                                        </tbody>
                                    </table>
                                    <hr style="border-top: 0px solid #eee;" /><hr style="border-top: 0px solid #eee;" />
                                    <table class="table table-vcenter">
                                        <tfoot>

                                            <tr>

                                                <th class="text-center" style="border-top: 1px solid black !important;font-size:10px !important; ">&nbsp &nbsp  RECIBIDO POR &nbsp &nbsp </th>
                                                <th style=" border:none; width:180px;"></th>
                                                <th class="text-center" style="border-top: 1px solid black !important;font-size:10px !important; "> &nbsp &nbsp   ENTREGADO POR  &nbsp &nbsp  </th>
                                                <th style=" border:none; width:180px;"></th>
                                                <th class="text-center" style="border-top: 1px solid black !important;font-size:10px !important; "> &nbsp &nbsp  SALDO PENDIENTE &nbsp </th>
                                                <th style=" border:none; width:10px;"></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>








                    </div>
                </div>
            </div>

            <div id="estadoCuenta" class="row">
                <div class="col-xs-12">
                    <div class="block full">

                        <div id="invoiceContainer">
                            <div style="height:2px;"></div>
                            <div class="divBody">
                                <div style="margin-left: 10px;border: solid 1px black;">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th><img style=" margin-left:5px; margin-top:5px;" src="~/Content/images/logo.jpg" width="250px" height="100px" /></th>
                                            </tr>
                                            <tr style="position:absolute; top:10px;">
                                                <th style="width:600px; font-size:30px;" class="text-right">$</th>
                                                <th style="border:solid 2px black; height:50px !important; width:100px !important"></th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <table>
                                        <tbody>
                                            <tr><td><h4>RECIBIDO DE:</h4></td><td style="width:500px; border-bottom:dotted 2px black;"></td></tr>
                                        </tbody>
                                    </table>
                                    <table>
                                        <tbody>
                                            <tr><td><h4>LA SUMA DE:</h4></td><td style="width:510px; border-bottom:dotted 2px black;"></td></tr>
                                        </tbody>
                                    </table>
                                    <table>

                                        <tbody>
                                            <tr><td><h4>POR CONCEPTO DE:</h4></td><td style="width:500px; border-bottom:dotted 2px black;"></td></tr>
                                        </tbody>
                                    </table>
                                    <hr style="border-top: 0px solid #eee;" /><hr style="border-top: 0px solid #eee;" />
                                    <table class="table table-vcenter">
                                        <tfoot>

                                            <tr>

                                                <th class="text-center" style="border-top: 1px solid black !important;font-size:10px !important; ">&nbsp &nbsp  RECIBIDO POR &nbsp &nbsp </th>
                                                <th style=" border:none; width:180px;"></th>
                                                <th class="text-center" style="border-top: 1px solid black !important;font-size:10px !important; "> &nbsp &nbsp   ENTREGADO POR  &nbsp &nbsp  </th>
                                                <th style=" border:none; width:180px;"></th>
                                                <th class="text-center" style="border-top: 1px solid black !important;font-size:10px !important; "> &nbsp &nbsp  SALDO PENDIENTE &nbsp </th>
                                                <th style=" border:none; width:10px;"></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>








                    </div>
                </div>
            </div>
            <div id="estadoCuenta" class="row">
                <div class="col-xs-12">
                    <div class="block full">

                        <div id="invoiceContainer">
                            <div style="height:2px;"></div>
                            <div class="divBody">
                                <div style="margin-left: 10px;border: solid 1px black;">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th><img style=" margin-left:5px; margin-top:5px;" src="~/Content/images/logo.jpg" width="250px" height="100px" /></th>
                                            </tr>
                                            <tr style="position:absolute; top:10px;">
                                                <th style="width:600px; font-size:30px;" class="text-right">$</th>
                                                <th style="border:solid 2px black; height:50px !important; width:100px !important"></th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <table>
                                        <tbody>
                                            <tr><td><h4>RECIBIDO DE:</h4></td><td style="width:500px; border-bottom:dotted 2px black;"></td></tr>
                                        </tbody>
                                    </table>
                                    <table>
                                        <tbody>
                                            <tr><td><h4>LA SUMA DE:</h4></td><td style="width:510px; border-bottom:dotted 2px black;"></td></tr>
                                        </tbody>
                                    </table>
                                    <table>

                                        <tbody>
                                            <tr><td><h4>POR CONCEPTO DE:</h4></td><td style="width:500px; border-bottom:dotted 2px black;"></td></tr>
                                        </tbody>
                                    </table>
                                    <hr style="border-top: 0px solid #eee;" /><hr style="border-top: 0px solid #eee;" />
                                    <table class="table table-vcenter">
                                        <tfoot>

                                            <tr>

                                                <th class="text-center" style="border-top: 1px solid black !important;font-size:10px !important; ">&nbsp &nbsp  RECIBIDO POR &nbsp &nbsp </th>
                                                <th style=" border:none; width:180px;"></th>
                                                <th class="text-center" style="border-top: 1px solid black !important;font-size:10px !important; "> &nbsp &nbsp   ENTREGADO POR  &nbsp &nbsp  </th>
                                                <th style=" border:none; width:180px;"></th>
                                                <th class="text-center" style="border-top: 1px solid black !important;font-size:10px !important; "> &nbsp &nbsp  SALDO PENDIENTE &nbsp </th>
                                                <th style=" border:none; width:10px;"></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>








                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-12 col-xs-12 col-sm-12">

                <h4 style="height:10px;"></h4>
                <h4 class="text-center">{{mensajePiePagina}}</h4>
            </div>
        </div>
    </div>
</div>
<script>
    function auto_grow(elementId) {
        var element = document.getElementById(elementId);
        element.style.height = "5px";
        element.style.height = (element.scrollHeight) + "px";
    }
</script>



