﻿

<ul class="nav navbar-top-links navbar-right">
    <li><a href="javascript:;" id="BtnCalculadora"> <i class="fa fa-calculator"></i></a> </li>

    <li class="dropdown">
        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="javascript:;">
            <i class="fa fa-file-archive-o"></i> <span class="label label-danger">##</span>
        </a>
        <ul class="dropdown-menu dropdown-alerts">


           
        </ul>
    </li>





</ul>