﻿@using PuntoDeVenta.WebApi.Helpers;
<!DOCTYPE html>
<html lang="en">
<head>
    @{
        ViewBag.Title = "BILLTECH";
    }
    <meta charset="utf-8" />
    <title>@ViewBag.Title - SISTEMA DE FACTURACION</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/font-awesome.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/animate.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Main.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Extra.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/toastr.css")" rel="stylesheet">

    @Html.Partial("Css")


    @Html.Partial("Js")
    <script src="@Url.Content("~/Scripts/Jquery.metismenu.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.slimscroll.min.js")"></script>
    <script src="@Url.Content("~/Scripts/toastr.js")"></script>
    <script src="@Url.Content("~/Scripts/Common.js")"></script>

    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .hideMenu {
            display: none !important;
        }
    </style>


    <link href="~/Content/printStyle.css" rel="stylesheet" />

</head>
<body>

    <div ng-app="NavegationApp" ng-init="seleccion=''; ocultarInicio=true;" id="wrapper">

        @Html.Partial("_Menu")

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>

                  
                  

                </nav>
            </div>


           
            <a href="#" class="back-to-top"><i class="fa fa-long-arrow-up fa-4x"></i></a>
            <div class="wrapper wrapper-content">
                @RenderBody()
            </div>
            <div class="footer noImprimir">
                <div class="pull-right">
                    @* 10GB of <strong>250GB</strong> Free.*@
                </div>
                <div>
                    <strong>Copyright</strong>  &copy; @DateTime.Now.Year
                </div>
            </div>

        </div>
    </div>


    <!-- sometime later, probably inside your on load event callback -->
    <script>
        $("#myModal").on("show", function () {    // wire up the OK button to dismiss the modal when shown
            $("#myModal a.btn").on("click", function (e) {
                console.log("button pressed");   // just as an example...
                $("#myModal").modal('hide');     // dismiss the dialog
            });
        });
        $("#myModal").on("hide", function () {    // remove the event listeners when the dialog is dismissed
            $("#myModal a.btn").off("click");
        });

        $("#myModal").on("hidden", function () {  // remove the actual elements from the DOM when fully hidden
            $("#myModal").remove();
        });

        //$("#myModal").modal({                    // wire up the actual modal functionality and show the dialog
        //  "backdrop"  : "static",
        //  "keyboard"  : true,
        //  "show"      : true                     // ensure the modal is shown immediately
        //});
    </script>
    <script>
        function showLoading() {
            $("#loadingBlock").show();
        }

        function hideLoading() {
            $("#loadingBlock").hide();
        }
        $(document).ready(function () {
            hideLoading();

            $("[name='facturaChk']").bootstrapSwitch();
            $('.dropdown-toggle').dropdown();
        });

    </script>

    @RenderSection("Scripts", required: false)

    <div class="loaderBackGround" id="loadingBlock">
        <div class="loader"></div>
    </div>



</body>
</html>