﻿@using PuntoDeVenta.WebApi.Helpers;
@using Microsoft.AspNet.Identity;
<nav class="navbar-default navbar-static-side noImprimir " role="navigation">
    @*<div class="dropdown profile-element">
        <img alt="image" width="150" class="center-block" src="@Url.Content("~/Content/images/logo.jpg")" />
    </div>*@
    <div class="sidebar-collapse noImprimir">
        <ul class="nav metismenu" id="side-menu">

            <li class="nav-header text-center noImprimir">

                <div class="dropdown profile-element noImprimir">
                    <span>
                        <img alt="image" width="63" class="img-circle " src="@Url.Content("~/Content/images/NoUser.png")" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold center-block">@Convert.ToString(Session["Usuario"])</strong>
                            </span> <span class="text-muted text-xs block center-block">Opciones: <b class="caret"></b></span>
                        </span>
                    </a>
                    @if (!string.IsNullOrEmpty(System.Web.HttpContext.Current.User.Identity.GetUserId()))
                    {
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="@Url.Action("Index", "Manage")">Cambiar Clave</a></li>

                            <li class="divider"></li>
                            <li>

                                <a href="#" onclick="logOff()">Salir</a>


                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li>

                                <a href="#" onclick="login()">Iniciar sesion</a>


                            </li>
                        </ul>
                    }

                </div>
                <div class="logo-element noImprimir">
                    <img alt="image" width="40px" class="img-circle noImprimir" src="@Url.Content("~/Content/images/logoMobile.jpg")" />
                </div>
            </li>
            <li>
                <a href="#" ng-show="ocultarInicio" ng-click="seleccion=''"><i class="fa fa-th-large noImprimir"></i> <span class="nav-label">Inicio</span> </a>

            </li>
            @if (!string.IsNullOrEmpty(System.Web.HttpContext.Current.User.Identity.GetUserId()))
            {
                <li class=" noImprimir">
                    <a href="#"><i class="fa fa-user noImprimir"></i> <span class="nav-label">Usuario</span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>   <a href="#" onclick="changePass()">Cambiar contraseña</a></li>
                        <li>   <a href="#" onclick="logOff()">Salir</a></li>

                    </ul>
                </li>

            }

            else
            {
                <li class=" noImprimir">
                    <a href="#"><i class="fa fa-user noImprimir"></i> <span class="nav-label">Usuario</span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>   <a href="#" onclick="login()">Iniciar sesion</a></li>

                    </ul>
                </li>
            }

            <li class="@VerifyAdminUser.verifyUserAccess("Menu","Mantenimiento") noImprimir">
                <a href="#"><i class="fa fa-cogs noImprimir"></i> <span class="nav-label">Mantenimiento</span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Mantenimiento-Clientes")">
                        <a href="#" ng-click="seleccion='Clientes'">Clientes</a>
                    </li>
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Mantenimiento-Productos")">
                        <a href="#" ng-click="seleccion='Productos'">Productos</a>
                    </li>
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Mantenimiento-Suplidores")">
                        <a href="#" ng-click="seleccion='Suplidores'">Suplidores</a>
                    </li>
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Mantenimiento-Almacenes")">
                        <a href="#" ng-click="seleccion='Almacen'">Almacen</a>
                    </li>
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Mantenimiento-Impuestos")">
                        <a href="#" ng-click="seleccion='Impuestos'">Impuestos</a>
                    </li>
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Mantenimiento-Localidades")">
                        <a href="#" ng-click="seleccion='Localidad'">Localidades</a>
                    </li>
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Mantenimiento-Monedas")">
                        <a href="#" ng-click="seleccion='Monedas'">Monedas</a>
                    </li>
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Mantenimiento-Unidades")">
                        <a href="#" ng-click="seleccion='Unidades'">Unidades</a>
                    </li>
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Mantenimiento-ControlNCF")">
                        <a href="#" ng-click="seleccion='controlNCF'">Control NCF</a>
                    </li>
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Mantenimiento-Zonas")">
                        <a href="#" ng-click="seleccion='zonas'">Zonas</a>
                    </li>
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Mantenimiento-Vendedores")">
                        <a href="#" ng-click="seleccion='vendedor'">Vendedores</a>
                    </li>
                </ul>
            </li>

            <li class="@VerifyAdminUser.verifyUserAccess("Menu","Cajas") noImprimir">
                <a href="#"><i class="fa fa-cube noImprimir"></i> <span class="nav-label">Caja</span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Cajas-Mantenimiento")">  <a href="#" ng-click="seleccion='Caja'">Mantenimiento</a></li>

                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Cajas-AperturaCierre")">  <a href="#" ng-click="seleccion='AperturaCierreCaja'">Apertura/Cierre</a></li>

                </ul>
            </li>

            <li class="@VerifyAdminUser.verifyUserAccess("Menu","Facturacion")  noImprimir">
                <a href="#"><i class="fas fa-shopping-cart noImprimir"></i> <span class="nav-label">Facturación</span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Facturacion-Cotizaciones")"><a href="#" ng-click="seleccion='Cotizaciones'">Cotizaciones</a></li>

                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Facturacion-Facturas")">  <a href="#" ng-click="seleccion='Facturas'">Facturas</a></li>

                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Facturacion-Pagos")">  <a href="#" ng-click="seleccion='Pagos'">Pagos</a></li>
                </ul>
            </li>

            <li class="@VerifyAdminUser.verifyUserAccess("Menu","Gastos") noImprimir">
                <a href="#"><i class="fas fa-wallet noImprimir"></i> <span class="nav-label">Control de Gastos</span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Gastos-Gastos")">  <a href="#" ng-click="seleccion='Gastos'">Gastos</a></li>
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Gastos-Gastos") divider" role="separator"></li>
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Gastos-Gastos")">  <a href="#" ng-click="seleccion='GastoAgenda'">Agendado</a></li>
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Gastos-Gastos") divider" role="separator"></li>
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Gastos-Pagos")">  <a href="#" ng-click="seleccion='PagoGastos'">Pagos</a></li>

                </ul>
            </li>

            <li class="@VerifyAdminUser.verifyUserAccess("Menu","Reportes") noImprimir">
                <a href="#"><i class="far fab fa-wpforms noImprimir"></i> <span class="nav-label">Reportes</span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Reportes-ReporteVentas")">  <a href="#" ng-click="seleccion='ReporteVentas'">Reporte de ventas</a></li>

                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Reportes-CxCGeneral")">  <a href="#" ng-click="seleccion='CxCGeneral'">Cuentas por cobrar</a></li>

                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Reportes-ReporteRecibos")">  <a href="#" ng-click="seleccion='ReporteRecibos'">Recibos de ingreso</a></li>

                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Reportes-ReporteComisiones")">  <a href="#" ng-click="seleccion='ReporteComisiones'">Comisiones</a></li>

                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Reportes-ReporteInventario")">  <a href="#" ng-click="seleccion='ReporteInventario'">Existencia en almacenes</a></li>

                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Reportes-movimientosProducto")">  <a href="#" ng-click="seleccion='movimientosProducto'">Movimientos de producto</a></li>

                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Reportes-reporteCxP")">  <a href="#" ng-click="seleccion='reporteCxP'">Cuentas por pagar</a></li>

                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Reportes-listadoPrecios")">  <a href="#" ng-click="seleccion='listadoPrecios'">Listado de precios</a></li>

                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Reportes-listadoClientes")">  <a href="#" ng-click="seleccion='listadoClientes'">Listado de clientes</a></li>

                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Reportes-estadoCuentaClientes")">  <a href="#" ng-click="seleccion='EstadoCuentaCliente'">Estado de cuenta</a></li>
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Reportes-estadoEmpresa")">  <a href="#" ng-click="seleccion='estadoEmpresa'">Estado resultado</a></li>
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Reportes-reporteImpuestos")">  <a href="#" ng-click="seleccion='reporteImpuestos'">Reporte impuestos</a></li>
                </ul>
            </li>


            <li class="@VerifyAdminUser.verifyUserAccess("Menu","Movimientos") noImprimir">
                <a href="#"><i class="fas fa-truck-moving noImprimir" aria-hidden="true"></i> <span class="nav-label">Movimientos</span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Movimientos-MovimientoEntrada")"> <a href="#" ng-click="seleccion='movimientoEntrada'">Entrada de inventario</a></li>

                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Movimientos-TransferenciaAlmacen")"> <a href="#" ng-click="seleccion='transferenciaAlmacen'">Transferencias de almacenes</a></li>

                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Movimientos-DevolucionCliente")"> <a href="#" ng-click="seleccion='devolucionCliente'">Devoluciones clientes</a></li>

                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Movimientos-MovimientoDevolucion")"> <a href="#" ng-click="seleccion='movimientoDevolucion'">Devoluciones a suplidor</a></li>
                </ul>
            </li>

            <li class="@VerifyAdminUser.verifyUserAccess("Menu","Usuarios") noImprimir">
                <a href="#"><i class="fas fa-lock noImprimir"></i> <span class="nav-label">Usuarios</span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Usuarios-Usuarios")"><a href="#" ng-click="seleccion='usuarios'">Usuarios</a></li>

                    <li class="@VerifyAdminUser.verifyUserAccess("Menu","Usuarios-Roles")"><a href="#" ng-click="seleccion='roles'">Roles</a></li>
                </ul>
            </li>

        </ul>

    </div>
</nav>

<script>
    function logOff()
    {
        let endpoint = "http://" + window.location.hostname + (location.port ? (":" + location.port) : '');

        sessionStorage.removeItem('accessToken');
        $.post(endpoint+'/account/LogOut', {}, function (data, status)
        {
             if (data.status < 0)
                bootbox.alert(data.message)
            else
                window.location.href = endpoint + '/Account/Login';
        });
    }

    function login() {
        let endpoint = "http://" + window.location.hostname + (location.port ? (":" + location.port) : '');
        window.location.href = endpoint+ '/Account/Login';
    }

    function changePass() {
        let endpoint = "http://" + window.location.hostname + (location.port ? (":" + location.port) : '');
        window.location.href = endpoint + '/Manage';
    }
</script>