﻿


<div id="ClienteIndex" >
 
    <div ng-controller="TablaDeClientesController">
        <br /><br />
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12">
                <a href="#" class="btn btn-primary btn-sm" ng-click="EditarCliente(0)"> Crear cliente</a>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12 col-xs-offset-0 ">

                <div class="form-group col-md-3 col-xs-12 ">
                    <label>Mostrar inactivos</label>
                    <input bs-switch
                           name="facturaChk"
                           ng-model="inactivos"
                           type="checkbox"
                           switch-active="true"
                           switch-readonly="false"
                           switch-size="small"
                           switch-animate="true"
                           switch-label=""
                           switch-icon="icon-save"
                           switch-on-text="Si"
                           switch-off-text="No"
                           switch-on-color="warning"
                           switch-off-color="primary"
                           switch-radio-off="true"
                           switch-label-width="{{ labelWidth }}"
                           switch-handle-width="{{ handleWidth }}"
                           switch-inverse="false"
                           ng-true-value="{{true}}"
                           ng-false-value="{{false}}">

                </div>

            </div>
        </div>
        <br />
        <br />


        <div class="row">
            <div class="col-md-3 col-xs-12 col-sm-12">
                <div class="form-group form-inline">
                    <label for="filtro">Buscar por:</label>
                    <select class="form-control" ng-model="seleccionDeFiltro" ng-options="filtro.descripcion for filtro in filtroBusqueda"
                            ng-change="valorBusqueda.campo = seleccionDeFiltro.campo; valorBusqueda.tipoCampo=seleccionDeFiltro.tipoCampo"></select>
                </div>

            </div>
            <div class="col-md-3 col-md-3 col-xs-12 col-sm-12 ">
                <div class="form-group form-inline">
                    <label>Valor</label>
                    <input type="text" class="form-control" ng-model="valorBusqueda.valor" ng-keydown="$event.keyCode === 13 && search()" />
                </div>

            </div>

            <div class="col-md-3 col-md-3 col-xs-12 col-sm-12 ">
                <div class="form-group form-inline">
                    <label>Buscar</label>
                    <a class="btn btn-primary btn-sm" ng-click="search()" title="Buscar"><i class="fa fa-search"></i> <span class="Buscar">Buscar</span> </a>
                </div>

            </div>


        </div>


        <br />
        <div class="panel panel-primary">
            <div class="panel-heading"><h2 style="margin-top:0;margin-bottom:0;">Clientes</h2></div>

            <div class="panel-body">

                <div class="tab-content">
                    <!--INICIO TABLA DE FACTURACION-->
                    <div class="tab-pane fade in active scrollTablaMobile">
                        <br />
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th >Id</th>
                                    <th >Codigo</th>
                                    <th >Nombre</th>
                                    <th >Cedula/Rnc</th>
                                    <th >Telefono</th>
                                    <th >Aplicar Itbis</th>
                                    <th >Activo</th>
                                    <th >Dias de vencimiento</th>
                                    <th ></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cliente in resultadoEnPantalla.clientes">
                                    <td >{{cliente.id }}</td>
                                    <td >{{cliente.codigo}}</td>
                                    <td >{{cliente.nombre}}</td>
                                    <td >{{cliente.cedulaRnc}}</td>
                                    <td >{{cliente.telefono}}</td>
                                    <td >{{cliente.aplicarItbis?'Si':'No'}}</td>
                                    <td >{{cliente.activo?'Si':'No'}}</td>
                                    <td >{{cliente.diasVencimiento}}</td>
                                    <td align="center">
                                        <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                            <a class="btn btn-primary btn-sm" ng-click="EditarCliente(cliente.id)" title="Editar"><i class="fa fa-pencil"></i> <span class="option">Editar</span> </a>

                                            <a class="btn btn-primary btn-sm" href="#" ng-hide="!cliente.activo" ng-click="BorrarCliente(cliente.id)" title="Desactivar">
                                                <i class="glyphicon glyphicon-trash"></i>
                                                <span class="option">Desactivar</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row" style="margin-right:5px">
                            <div class="col-md-3  col-xs-12 col-sm-12">
                                <p class="lead pull-left" style="vertical-align:central">
                                    <span class="badge badge-default" style="margin-bottom:5px">{{resultadoEnPantalla.totalClientes | number}}</span>
                                </p>
                            </div>
                            <div class="col-md-9  col-xs-12 col-sm-12" id="navBarFacturacion">
                                <ul class="pull-right"
                                    uib-pagination
                                    previous-text="Anterior"
                                    next-text="Siguiente"
                                    total-items="resultadoEnPantalla.totalClientes"
                                    items-per-page="resultadoEnPantalla.pageSize"
                                    max-size="10"
                                    ng-model="resultadoEnPantalla.currentPage"
                                    ng-change="pageChanged()"></ul>
                            </div>
                        </div>
                    </div>
                    <!--FIN TABLA DE FACTURACION-->

                </div>
            </div>
        </div>
    </div>
</div>