﻿


<div id="controlNCFIndex" >
 
    <div ng-controller="TablaDecontrolNCFController">
        <br /><br />
        <div class="row">
              <div class="col-md-4 col-xs-12 col-sm-12">
                <a href="#" class="btn btn-primary btn-sm" ng-click="EditarControlNCF(0)"> Ingresar control NCF</a>
            </div>
           
              <div class="col-md-4 col-xs-12 col-sm-12">
                  @*<input type="text" ng-model="filtro" />*@
                  <div class="form-group">
                      <label>Mostrar inactivos</label>
                      <input bs-switch
                             name="facturaChk"
                             ng-model="inactivos"
                             type="checkbox"
                             switch-active="true"
                             switch-readonly="false"
                             switch-size="small"
                             switch-animate="true"
                             switch-label=""
                             switch-icon="icon-save"
                             switch-on-text="Si"
                             switch-off-text="No"
                             switch-on-color="warning"
                             switch-off-color="primary"
                             switch-radio-off="true"
                             switch-label-width="{{ labelWidth }}"
                             switch-handle-width="{{ handleWidth }}"
                             switch-inverse="false"
                             ng-true-value="{{true}}"
                             ng-false-value="{{false}}">

                  </div>

              </div>
        </div>
        
        <br /><br />
        <div class="panel panel-primary">
            <div class="panel-heading"><h2 style="margin-top:0;margin-bottom:0;">Control NCF</h2></div>

            <div class="panel-body">

                <div class="tab-content">
                    <!--INICIO TABLA DE controlNCF-->
                    <div class="tab-pane fade in active scrollTablaMobile" >
                        <br />
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>

                                    <th class="col-md-1 col-xs-1 col-sm-1">Nombre</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Secuencia</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Control Numerico</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Cantidad</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Codigo</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Activo</th>
                                    <th class="col-md-3  col-xs-12 col-sm-12"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="controlNCF in resultadoEnPantalla.controlNCFs">
                                    <td>{{controlNCF.nombre }}</td>
                                    <td>{{controlNCF.secuencia }}</td>
                                    <td>{{controlNCF.controlNumerico }}</td>
                                    <td>{{controlNCF.cantidad }}</td>
                                    <td>{{controlNCF.tipo }}</td>
                                    <td>{{controlNCF.activo }}</td>
                                    <td align="left">
                                        <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                            <a class="btn btn-primary btn-sm" ng-click="EditarControlNCF(controlNCF.id)" title="Editar"><i class="fa fa-pencil"></i> <span class="option">Editar</span> </a>
                                        </div>
                                        <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter" ng-hide="!controlNCF.activo">
                                            <a class="btn btn-primary btn-sm" href="#" ng-click="BorrarControlNCF(controlNCF.id)" title="Desactivar">
                                                <i class="glyphicon glyphicon-trash"></i>
                                                <span class="option">Desactivar</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row" style="margin-right:5px">
                            <div class="col-md-3  col-xs-12 col-sm-12">
                                <p class="lead pull-left" style="vertical-align:central">
                                    <span class="badge badge-default" style="margin-bottom:5px">{{resultadoEnPantalla.totalcontrolNCFs | number}}</span>
                                </p>
                            </div>
                            <div class="col-md-9  col-xs-9 col-sm-9" id="navBarcontrolNCF">
                                <ul class="pull-right"
                                    uib-pagination
                                    previous-text="Anterior"
                                    next-text="Siguiente"
                                    total-items="resultadoEnPantalla.totalcontrolNCFs"
                                    items-per-page="resultadoEnPantalla.pageSize"
                                    max-size="10"
                                    ng-model="resultadoEnPantalla.currentPage"
                                    ng-change="pageChanged()"></ul>
                            </div>
                        </div>
                    </div>
                    <!--FIN TABLA DE controlNCF-->

                </div>
            </div>
        </div>
    </div>
</div>