﻿


<div id="FacturaIndex">

    <div ng-controller="TablaDeCotizacionesController">
        <br /><br />

        <div class="row">
              <div class="col-md-4 col-xs-12 col-sm-12">
                <a href="#" class="btn btn-primary btn-sm" ng-click="EditarFactura(0)"> Crear Cotización</a>
            </div>

              <div class="col-md-4 col-xs-12 col-sm-12">

                <div class="form-group">
                    <label>Mostrar inactivos</label>
                    <input bs-switch
                           name="facturaChk"
                           ng-model="inactivos"
                           type="checkbox"
                           switch-active="true"
                           switch-readonly="false"
                           switch-size="small"
                           switch-animate="true"
                           switch-label=""
                           switch-icon="icon-save"
                           switch-on-text="Si"
                           switch-off-text="No"
                           switch-on-color="warning"
                           switch-off-color="primary"
                           switch-radio-off="true"
                           switch-label-width="{{ labelWidth }}"
                           switch-handle-width="{{ handleWidth }}"
                           switch-inverse="false"
                           ng-true-value="{{true}}"
                           ng-false-value="{{false}}">

                </div>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3  col-xs-12 col-sm-12">
                <label>Busqueda</label>
                <select class="form-control" ng-model="seleccionDeFiltro" ng-options="filtro.descripcion for filtro in filtroBusqueda"
                        ng-change="valorBusqueda.campo = seleccionDeFiltro.campo; valorBusqueda.tipoCampo=seleccionDeFiltro.tipoCampo;
                        valorBusqueda.filtroCampo = seleccionDeFiltro"></select>
            </div>
            <div class="col-md-3 col-md-3 col-xs-12 col-sm-12 " ng-show="valorBusqueda.tipoCampo==0;">
                <label>Valor</label>
                <input type="text" class="form-control" ng-model="valorBusqueda.valor"
                       ng-change="valorBusqueda.descripcionValor=null;" ng-keydown="$event.keyCode === 13 && (agregarFiltro() && search())" />
            </div>

            <div class="col-md-3 col-md-3 col-xs-12 col-sm-12 " ng-show="valorBusqueda.campo=='Estado'">
                <label>EstadoFactura</label>
                <select class="form-control" ng-model="estadoFactura" ng-options="estado.descripcion for estado in estados"
                        ng-change="valorBusqueda.valor = estadoFactura.valorEstado;
                        valorBusqueda.descripcionValor=estadoFactura.descripcion; agregarFiltro();  search();"></select>
            </div>

            <div class="col-md-3 col-md-3 col-xs-12 col-sm-12 " ng-show="valorBusqueda.campo=='FechaFacturado'">
                <label>Fecha facturado</label>
                <input type="date" class="form-control" ng-model="valorBusqueda.valor"
                       ng-change="valorBusqueda.descripcionValor=ObtenerSoloFecha(valorBusqueda.valor); agregarFiltro(); search();" />
            </div>

            <div class="col-md-3 col-md-3 col-xs-12 col-sm-12 " ng-show="valorBusqueda.campo=='ClienteId';">
                <label>Valor</label>
                <angucomplete-alt id="cliente" placeholder=""
                                  pause="200"
                                  selected-object="selectedCliente"
                                  title-field="codigoYNombre"
                                  remote-url="/api/cliente?pagesize=6&nombreCampo=nombre&filtro="
                                  remote-url-data-field="pagedData.result"
                                  minlength="2"
                                  initial-value=""
                                  input-class="form-control form-control-small"
                                  input-name="cliente"
                                  field-required="false"
                                  input-field-required="false"
                                  input-required="false"
                                  auto-match="true">
                </angucomplete-alt>


            </div>
            <div class="col-md-3 col-md-3 col-xs-12 col-sm-12 " ng-show="valorBusqueda.campo=='VendedorId';">
                <label>Valor</label>
                <angucomplete-alt id="vendedor" placeholder=""
                                  pause="200"
                                  selected-object="selectedCliente"
                                  title-field="codigoYNombre"
                                  remote-url="/api/vendedor?pagesize=6&nombreCampo=nombre&filtro="
                                  remote-url-data-field="pagedData.result"
                                  minlength="2"
                                  initial-value=""
                                  input-class="form-control form-control-small"
                                  input-name="cliente"
                                  field-required="false"
                                  input-field-required="false"
                                  input-required="false"
                                  auto-match="true">
                </angucomplete-alt>


            </div>
            <div class="col-md-1 col-xs-12 col-sm-12 ">
                <label>Agregar</label>
                <a class="btn btn-primary btn-sm  " ng-click="agregarFiltro()" title="Añadir"><i class="fa fa-search"></i> <span class="Añadir">Añadir</span> </a>
            </div>
            <div class="col-md-1 col-xs-12 col-sm-12  ">
                <label>Buscar</label>
                <a class="btn btn-primary btn-sm" ng-click="search()" title="Buscar"><i class="fa fa-search"></i> <span class="Buscar">Buscar</span> </a>
            </div>


        </div>
        <div ng-show="verificarBusquedaCompleja()">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1 col-xs-12 col-sm-12">Busqueda</th>
                        <th class="col-md-1 col-xs-12 col-sm-12">Valor</th>

                        <th class="col-md-3  col-xs-12 col-sm-12"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="filtro in busquedaCompleja.filtros">
                        <td>{{filtro.filtroCampo.descripcion }}</td>
                        <td>{{filtro.descripcionValor?filtro.descripcionValor:filtro.valor}}</td>

                        <td align="left">

                            <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                <a class="btn btn-primary btn-sm" href="#" ng-click="borrarFiltro($index)" title="Quitar">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span class="option">Quitar</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      
        <br /><br />
        <div class="panel panel-primary">
            <div class="panel-heading"><h2 style="margin-top:0;margin-bottom:0;">Cotizaciones</h2></div>

            <div class="panel-body">

                <div class="tab-content">
                    <!--INICIO TABLA DE FACTURACION-->
                    <div class="tab-pane fade in active scrollTablaMobile">
                        <br />
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Número Cotización</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Cliente</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Moneda</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Monto Total</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Fecha creación</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Estado</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Concepto</th>
                                    <th class="col-md-3  col-xs-12 col-sm-12"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="factura in resultadoEnPantalla.facturas">
                                    <td>{{factura.noDocumento }}</td>
                                    <td>{{factura.cliente.codigoYNombre}}</td>
                                    <td>{{factura.moneda.nombre}}</td>
                                    <td>{{factura.montoTotal | number:2}}</td>
                                    <td>{{factura.fechaCreacion | date:'dd-MM-yyyy'}}</td>
                                    <td>{{obtenerEstadoDeFactura(factura.estado)}}</td>
                                    <td>{{factura.detalles}}</td>
                                    <td align="left">
                                        <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                            <a class="btn btn-primary btn-sm" href="ImpresionFactura/index?id={{factura.id}}" target="_blank" title="Imprimir"><i class="glyphicon glyphicon-print"></i> <span class="option">Imprimir</span> </a>
                                        </div>
                                        <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter" ng-hide=" factura.estado!='C'">
                                            <a class="btn btn-primary btn-sm" ng-click="EditarFactura(factura.id)" title="Editar"><i class="fa fa-pencil"></i> <span class="option">Editar</span> </a>
                                        </div>
                                        <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter" ng-hide="factura.estado!='C'">
                                            <a class="btn btn-primary btn-sm" href="#" ng-click="BorrarFactura(factura.id)" title="Anular">
                                                <i class="glyphicon glyphicon-trash"></i>
                                                <span class="option">Anular</span>
                                            </a>
                                        </div>
                                        <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter" ng-hide="factura.estado!='C'">
                                            <a class="btn btn-primary btn-sm" href="#" ng-click="FacturarCotizacion(factura.id)" title="Facturar">
                                                <i class="glyphicon glyphicon-trash"></i>
                                                <span class="option">Facturar</span>
                                            </a>
                                        </div>
                                        <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter" ng-hide="factura.estado!='C'">
                                            <a class="btn btn-success btn-sm" href="#" ng-click="CopiarCotizacion(factura)" title="Duplicar">
                                                <i class="glyphicon glyphicon-bookmark"></i>
                                                <span class="option">Duplicar</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row" style="margin-right:5px">
                            <div class="col-md-3  col-xs-12 col-sm-12">
                                <p class="lead pull-left" style="vertical-align:central">
                                    <span class="badge badge-default" style="margin-bottom:5px">{{resultadoEnPantalla.totalFacturas | number}}</span>
                                </p>
                            </div>
                            <div class="col-md-9  col-xs-12 col-sm-12" id="navBarFacturacion">
                                <ul class="pull-right"
                                    uib-pagination
                                    previous-text="Anterior"
                                    next-text="Siguiente"
                                    total-items="resultadoEnPantalla.totalFacturas"
                                    items-per-page="resultadoEnPantalla.pageSize"
                                    max-size="10"
                                    ng-model="resultadoEnPantalla.currentPage"
                                    ng-change="pageChanged()"></ul>
                            </div>
                        </div>
                    </div>
                    <!--FIN TABLA DE FACTURACION-->

                </div>
            </div>
        </div>
    </div>
</div>