﻿
<link href="~/Content/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/angucomplete-alt/angucomplete-alt.css" rel="stylesheet" />
<link href="~/Content/PaceJs/paceJs.css" rel="stylesheet" />
<link href="~/Content/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/all.css" rel="stylesheet" />
<link href="~/Content/printStyle.css" rel="stylesheet" />