﻿
<style>

    .cxc-row {
        border: none;
    }

    .cxc-cliente {
        border: groove;
        border-width: 4px 2px 4px 2px;
    }
</style>
<div id="cxcGeneralIndex">

    <div class="panel-body " id="impresionBody" ng-controller="cxcGeneralController" ng-init="busqueda={sumarizar:false}">
        <form name="frmReporteVentasForm" ng-class="showValidate ? 'form-validate' : ''" class="noImprimir" ng-submit="BuscarFacturas()" novalidate>
            <div class="form-group ">
                <label>Fecha inicio</label>
                <input type="date" class="form-control" ng-model="busqueda.fechaInicial" />
            </div>

            <div class="form-group ">
                <label>Fecha final</label>
                <input type="date" class="form-control" ng-model="busqueda.fechaFinal" />
            </div>
            <div class="">
                <div class="form-group">
                    <label>Cliente</label>
                    <angucomplete-alt id="cliente" placeholder=""
                                      pause="200"
                                      selected-object="selectedCliente"
                                      title-field="codigoYNombre"
                                      remote-url="/api/cliente?pagesize=6&nombreCampo=nombre&filtro="
                                      remote-url-data-field="pagedData.result"
                                      minlength="2"
                                      initial-value=""
                                      input-class="form-control form-control-small"
                                      input-name="cliente"
                                      field-required="false"
                                      input-field-required="false"
                                      input-required="false"
                                      auto-match="true">
                    </angucomplete-alt>
                </div>

                <div class="form-group">
                    <label>Vendedor</label>
                    <angucomplete-alt id="vendedor" placeholder=""
                                      pause="200"
                                      selected-object="selectedVendedor"
                                      title-field="codigoYNombre"
                                      remote-url="/api/vendedor?pagesize=6&nombreCampo=nombre&filtro="
                                      remote-url-data-field="pagedData.result"
                                      minlength="2"
                                      initial-value=""
                                      input-class="form-control form-control-small"
                                      input-name="vendedor"
                                      field-required="false"
                                      input-field-required="false"
                                      input-required="false"
                                      auto-match="true">
                    </angucomplete-alt>
                </div>
                <div class="form-group">
                    <label>Sumarizar Facturas por cliente</label>
                    <input type="checkbox" ng-model="busqueda.sumarizar" ng-model-options="{allowInvalid: true}" />
                </div>
            </div>

            <div id="printButton" class="btn btn-default noImprimir" ng-click="exportarExcel()">
                <i class="fa fa-print"></i> Exportar Excel
            </div>
            <input type="submit" class="btn btn-primary noImprimir" value="Aceptar" />
        </form>





        <div id="estadoCuenta" class="row" ng-hide="!busquedaFinalizada">
            <div class="col-xs-12">
                <div class="block full">
                    <div class="noImprimir">
                        <button id="printButton" class="btn btn-default noImprimir" ng-click="Print()">
                            <i class="fa fa-print"></i> Imprimir
                        </button>
                        <br />
                        <br />
                    </div>

                    <div id="printHeader">
                        <table>
                            <thead>
                                <tr class="hideLines">
                                    <th> <img src="~/Content/images/logo.jpg" alt="header" width="230" height="60" /></th>


                                </tr>
                                <tr class="hideLines">
                                    <th style="color:white !important; visibility:hidden; width:68% !important;"></th>
                                    <th>CUENTAS POR COBRAR</th>
                                </tr>
                            </thead>
                        </table>
                        <table>
                            <thead>

                                <tr class="hideLines">
                                    <th style="color:white !important; visibility:hidden;">sssss</th>
                                </tr>
                                <tr class="hideLines">
                                    <th> {{reporte.fechaActual | date:'dd-MM-yyyy'}}</th>
                                </tr>
                                <tr ng-show="busqueda.fechaInicial" class="hideLines">
                                    <th>Facturas desde {{busqueda.fechaInicial | date:'dd-MM-yyyy'}}</th>
                                </tr>
                                <tr ng-show="busqueda.fechaFinal" class="hideLines">
                                    <th>Facturas hasta {{busqueda.fechaFinal | date:'dd-MM-yyyy'}}</th>
                                </tr>
                                <tr ng-show="busqueda.clienteId" class="hideLines">
                                    <th>De cliente:  {{busqueda.cliente.nombre | date:'dd-MM-yyyy'}}</th>
                                </tr>
                            </thead>
                        </table>


                    </div>
                    <div id="printDetail">
                        <div ng-repeat="reporte in reporteGeneral.reportePorMonedas track by $index" class="scrollTablaMobile">
                            <br />
                            <h2>{{reporte.moneda.nombre}}</h2>
                            <table class="table table-vcenter">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>Fecha Facturado</th>
                                        <th>No. Factura</th>
                                        <th class="text-center">Vendido por:</th>
                                        <th>Monto Itbis</th>
                                        <th>Monto por devolución</th>
                                        <th>Monto nota crédito</th>
                                        <th>Monto total</th>
                                        <th>Monto Pagado</th>
                                        <th>Monto Adeudado</th>
                                        <th>Cantidad Días</th>
                                        <th>Vencida</th>
                                    </tr>
                                </thead>
                                <tbody class="cxc-cliente" ng-repeat="facturasCliente in reporte.facturasPorCliente | orderBy :'nombreCliente' track by $index">
                                    <tr  class="cxc-row" ng-repeat="factura in facturasCliente.facturas | orderBy :'fechaFacturado' track by factura.id">
                                        <td>{{factura.cliente.codigoYNombre}}</td>
                                        <td>{{factura.fechaFacturado  | date : "dd-MM-yyyy"}}</td>
                                        <td>{{factura.numeroFactura}}</td>
                                        <td class="text-center">{{factura.creadoPor}}</td>
                                        <td>${{factura.montoItbis | currency : ""}}</td>
                                        <td>${{factura.montoDevuelto | currency:""}}</td>
                                        <td>${{factura.montoNotaCreditoAplicada | currency:""}}</td>
                                        <td>${{factura.montoTotal | currency:""}} </td>
                                        <td>${{factura.montoPagado | currency:""}}</td>
                                        <td>${{(factura.montoAdeudado) | currency:""}}</td>
                                        <td>{{factura.cantidadDias}}</td>
                                        <td>{{factura.cliente.diasVencimiento>0?factura.cantidadDias>factura.cliente.diasVencimiento?"SI":"NO":"NO"}}</td>
                                    </tr>
                                    <tr class="cxc-row">
                                        <th>ITBIS</th>
                                        <th>TOTAL</th>
                                        <th>PAGADO</th>
                                        <th>ADEUDADO</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td>${{facturasCliente.totalItbis | currency:""}}</td>
                                        <td>${{facturasCliente.totalFacturas | currency:""}}</td>
                                        <td>${{facturasCliente.totalPagados | currency:""}}</td>
                                        <td>${{facturasCliente.totalAdeudado | currency:""}}</td>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tbody>

                            </table>
                            <table class="table table-vcenter">
                                <tfoot>

                                    <tr>
                                        <th class="text-left">{{reporte.codigoMoneda}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">SubTotal: ${{reporte.montoGrabado | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Total ITBIS: ${{reporte.montoItbis | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Total NC: ${{reporte.montoNotaCredito | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Total: ${{reporte.montoTotal | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Pagado: ${{reporte.montoPagado | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Adeudado: ${{(reporte.montoAdeudado) | currency:""}}</th>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Antigüedad de saldo</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">0 a 30 días: ${{obtenerSaldoPorAntiguedad(reporte,0,30) | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">30 a 60 días: ${{obtenerSaldoPorAntiguedad(reporte,30,60) | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">60 a 90 días: ${{obtenerSaldoPorAntiguedad(reporte,60,90) | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Mayor de 90 días: ${{obtenerSaldoPorAntiguedad(reporte,90,null) | currency:""}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>