﻿



<div id="DetallesPermisos" class="col-md-11 col-sm-11 col-xs-11">
    <div class="panel panel-default">
        <div class="row formTable">
            <div class="col-md-offset-1 ", style="margin-top:5px;">
                <h4 class="col-md-6 col-xs-12 col-sm-12">
                    permisos
                </h4>

                <div class="col-md-2 ">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="EditarDetallePermiso()">Agregar a permisos</button>

                </div>
            </div>


        </div>
        <div class="panel-body">


            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                      
                        <th>Seccion</th>
                        <th>Operaciones</th>
                        <th ></th>
                    </tr>
                </thead>
                <tbody class="table-bordered">
                    <tr ng-repeat="detalle in permiso.permisos">
                        
                        <td>{{detalle.seccion.nombre}}</td>
                        <td>{{convertirListaEnTexto(detalle.operaciones)}}</td>

                        <td align="center">
                            <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                <a class="btn btn-danger" ng-click="AnularDetalle(detalle)"><i class="fa fa-ban"></i> Anular</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

