﻿



<div id="Detalles" class="col-md-11 col-sm-11 col-xs-11">
    <div class="panel panel-default">
        <div class="row formTable">
            <div class="col-md-offset-1 ", style="margin-top:5px;">
                <h4 class="col-md-6 col-xs-12 col-sm-12">
                    Detalle de factura
                </h4>

                <div class="col-md-2 ">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="EditarDetalle()" ng-show="factura.moneda">Agregar Detalle</button>

                </div>
            </div>


        </div>
        <div class="panel-body">


            <table class="table table-striped table-hover table-bordered" ng-show="mostrarDetalles">
                <thead>
                    <tr>
                      
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Unidad</th>
                        <th>Precio unitario</th>
                        <th>Subtotal</th>
                        <th>Itbis</th>
                       
                        <th>Total</th>
                        <th ng-hide="esEdicion" ></th>
                    </tr>
                </thead>
                <tbody class="table-bordered" >
                    <tr ng-repeat="detalle in factura.detallesFactura">
                        
                        <td>{{detalle.producto.nombre}}</td>
                        <td>{{detalle.cantidad |number:2 }}</td>
                        <td>{{detalle.producto.esServicio?'':detalle.unidad.nombre}}</td>
                        <td>{{detalle.monto | currency:""}}</td>
                        <td>{{(detalle.montoGrabado) | currency:"" }}</td>
                        <td>{{(detalle.montoItbis * detalle.cantidad) | currency:""}}</td>
                     
                       
                        <td>{{detalle.montoTotal | currency:"" }}</td>

                        <td align="center" >
                            <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                <a class="btn btn-primary btn-sm" href="" title="Editar" ng-click="EditarDetalle(detalle)"><i class="fa fa-pencil"></i> <span class="option">Editar</span> </a>

                            </div>
                            <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                <a class="btn btn-danger" ng-click="AnularDetalle($index)"><i class="fa fa-ban"></i> Anular</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row" style="margin-right:5px">

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <p class="lead pull-left" style="vertical-align:central">
                        Subtotal
                        <span class="badge badge-default" style="margin-bottom:5px">{{factura.montoGrabado | currency:""}}</span>
                    </p>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <p class="lead pull-center" style="vertical-align:central">
                        Total Itbis
                        <span class="badge badge-default" style="margin-bottom:5px">{{factura.montoItbis | currency:""}}</span>
                    </p>
                </div>

                <div class="col-md-6 col-xs-12 col-sm-12">
                    <p class="lead pull-left" style="vertical-align:central">
                        Total de factura
                        <span class="badge badge-default ">{{factura.moneda.codigo }}</span>
                        <span class="badge badge-default pull-right" style="margin-left:10px; margin-top:5px;">{{factura.montoTotal | currency:""}}</span>

                    </p>

                </div>

            </div>
            <div class="row" style="margin-right:5px">
                <div class="col-md-6 col-xs-12 col-sm-12">
                    <p class="lead pull-left" style="vertical-align:central">
                        Recibido
                        <span class="badge badge-default" style="margin-bottom:5px">{{(factura.montoRecibido) | currency:""}}</span>
                    </p>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12">
                    <p class="lead pull-left" style="vertical-align:central">
                        Pagado
                        <span class="badge badge-default" style="margin-bottom:5px">{{(factura.montoPagado) | currency:""}}</span>
                    </p>
                </div>
            </div>

            <div class="row" style="margin-right:5px">

                <div class="col-md-6 col-xs-12 col-sm-12" ng-show="factura.montoRecibido>=factura.montoTotal">
                    <p class="lead pull-left" style="vertical-align:central">
                        Devolución
                        <span class="badge badge-default" style="margin-bottom:5px">{{(factura.montoDevuelto) | currency:""}}</span>
                    </p>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12">
                    <p class="lead pull-left" style="vertical-align:central">
                        Total adeudado
                        <span class="badge badge-default" style="margin-bottom:5px">{{(factura.montoAdeudado) | currency:""}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

