﻿



<div id="DetallesPermisos" class="col-md-11 col-sm-11 col-xs-11">
    <div class="panel panel-default">
        <div class="row formTable">
            <div class="col-md-offset-1 ", style="margin-top:5px;">
                <h4 class="col-md-6 col-xs-12 col-sm-12">
                    Entradas
                </h4>

              
            </div>


        </div>
        <div class="panel-body">


            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                      
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Unidad</th>
                        <th>Monto</th>
                        <th>Monto Itbis</th>
                        <th>Monto total</th>
                        <th ></th>
                    </tr>
                </thead>
                <tbody class="table-bordered">
                    <tr ng-repeat="movimiento in movimientoEntrada.movimientosEntradas">
                        
                        <td>{{movimiento.producto.nombre}}</td>
                        <td>{{movimiento.cantidad}}</td>
                        <td>{{movimiento.productoUnidad.unidad.nombre}}</td>
                        <td>{{movimiento.producto.costo}}</td>
                        <td>{{movimiento.montoItbis}}</td>
                        <td>{{movimiento.montoTotal}}</td>

                        <td align="center">
                            <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                <a class="btn btn-primary btn-sm" ng-click="EditarMovimiento(movimiento)" title="Editar"><i class="fa fa-pencil"></i> <span class="option">Editar</span> </a>
                            </div>
                            <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                <a class="btn btn-danger" ng-click="AnularMovimiento(movimiento)"><i class="fa fa-ban"></i> Anular</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

