﻿

<div id="estadoCuentaClienteIndex">

    <div class="panel-body " id="impresionBody" ng-controller="estadoCuentaClienteController" ng-init="busqueda={}">
        <form name="frmestadoCuentaClienteForm" class="noImprimir" ng-class="showValidate ? 'form-validate' : ''" ng-submit="buscarEstadoCuenta()" novalidate>
            @*<div class="form-group ">
                <label>Fecha inicio</label>
                <input type="date" class="form-control" ng-model="busqueda.fechaInicial" />
            </div>

            <div class="form-group ">
                <label>Fecha final</label>
                <input type="date" class="form-control" ng-model="busqueda.fechaFinal" />
            </div>*@
            <div class="form-group">
                <label>Cliente</label>
                <angucomplete-alt id="cliente" placeholder=""
                                  pause="200"
                                  selected-object="selectedCliente"
                                  title-field="codigoYNombre"
                                  remote-url="/api/cliente?pagesize=6&nombreCampo=nombre&filtro="
                                  remote-url-data-field="pagedData.result"
                                  minlength="2"
                                  initial-value=""
                                  input-class="form-control form-control-small"
                                  input-name="cliente"
                                  field-required="esCreacion"
                                  input-field-required="true"
                                  input-required="true"
                                  auto-match="true">
                </angucomplete-alt>

            </div>

            <div id="printButton" class="btn btn-default" ng-click="exportarExcel()">
                <i class="fa fa-print"></i> Exportar Excel
            </div>
            <input type="submit" class="btn btn-primary noPresentar" value="Aceptar" />
        </form>





        <div id="listaMovimientos" class="row" ng-hide="!busquedaFinalizada">
            <div class="col-xs-12">
                <div class="block full">

                    <button id="printButton" class="btn btn-default noImprimir" ng-click="Print()">
                        <i class="fa fa-print"></i> Imprimir
                    </button>

                    <div id="estadoCuenta" class="row">
                        <div class="col-xs-12">
                            <div class="block full">
                                <div id="invoiceContainer scrollTablaMobile">
                                    <div class="divBody scrollTablaMobile">

                                        <table>
                                            <thead>
                                                <tr class="hideLines">
                                                    <th> <img src="~/Content/images/logo.jpg" alt="header" width="230" height="60" /></th>
                                                   
                                                    
                                                </tr>
                                                <tr class="hideLines">
                                                    <th style="color:white !important; visibility:hidden; width:61% !important;"></th>
                                                    <th>ESTADO DE CUENTA CLIENTE</th>
                                                </tr>
                                                </thead>
                                            </table>
                                                <table>
                                                    <thead>
                                                        <tr class="hideLines">
                                                            <th style="color:white !important; visibility:hidden;">sssss</th>
                                                        </tr>
                                                        <tr class="hideLines">
                                                            <th>Cliente: {{busqueda.cliente.nombre}}</th>
                                                        </tr>
                                                        <tr class="hideLines" ng-show="(busqueda.cliente.cedulaRnc!=null && busqueda.cliente.rnc!='')">
                                                            <th>RNC: {{busqueda.cliente.cedulaRnc}}</th>
                                                        </tr>
                                                        <tr class="hideLines" ng-show="(busqueda.cliente.direccion!=null && busqueda.cliente.direccion!='')">
                                                            <th>Dirección: {{busqueda.cliente.direccion}}</th>
                                                        </tr>
                                                        <tr ng-show="(busqueda.cliente.telefono!=null && busqueda.cliente.telefono!='')">
                                                            <th>Teléfono: {{factura.cliente.telefono}}</th>
                                                        </tr>
                                                        <tr class="hideLines">
                                                            <th style="color:white !important; visibility:hidden;">sssss</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                <table class="table table-vcenter">
                                                    <thead>


                                                        <tr>
                                                            <th class="">Documento</th>
                                                            <th class="text-center">Fecha</th>
                                                            <th class="text-center">Débitos</th>
                                                            <th class="text-center">Créditos</th>
                                                            <th class="text-center">Referencia</th>
                                                            <th class="text-center">Balance</th>
                                                            <th class="text-center">Moneda</th>
                                                            <th class="text-center">Vendedor</th>

                                                        </tr>

                                                    </thead>
                                                    <tbody ng-repeat="reporte in reporteGeneral track by $index" class="filas">
                                                        <tr>
                                                            <td>{{reporte.factura.concepto}}</td>
                                                            <td class="text-center">{{reporte.factura.fecha | date:'dd-MM-yyyy'}}</tdclass="text-center">
                                                            <td class="text-center">${{reporte.factura.monto | currency:""}}</td>
                                                            <td class="text-center">$0.00</td>
                                                            <td class="text-center">N/A</td>
                                                            <td class="text-center">${{reporte.factura.montoAdeudado | currency:""}}</td>
                                                            <td class="text-center">{{reporte.factura.monedaNombre}}</td>
                                                            <td class="text-center">{{reporte.factura.vendedor?reporte.factura.vendedor:'N/A'}}</td>
                                                        </tr>
                                                        <tr ng-repeat="pago in reporte.pagos | orderBy :'fecha'">
                                                            <td>{{pago.concepto}}</td>
                                                            <td class="text-center">{{pago.fecha | date:'dd-MM-yyyy'}}</td>
                                                            <td class="text-center">$0.00</td>
                                                            <td class="text-center">${{pago.monto | currency:""}}</td>
                                                            <td class="text-center">{{pago.referencia?pago.referencia:'N/A'}}</td>
                                                            <td class="text-center">${{pago.montoAdeudado | currency:""}}</td>
                                                            <td class="text-center">{{pago.monedaNombre}}</td>
                                                            <td class="text-center">{{pago.vendedor?pago.vendedor:'N/A'}}</td>
                                                        </tr>

                                                    </tbody>


                                                    <tfoot>
                                                        <tr>
                                                            <th style="color:white !important; visibility:hidden;">sssss</th>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-left">Total Facturado:</th>
                                                            <th class="text-right" style="border-top: 1px solid black !important; border-bottom: 2px double black"> ${{reporteGeneral.sum('montoComprado')| currency:""}}</th>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-left">Total Pagado:</th>
                                                            <th class="text-right" style=" border-bottom:2px double black"> ${{reporteGeneral.sum('montoPagado') | currency:""}}</th>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-left">Total Adeudado:</th>
                                                            <th class="text-right" style=" border-bottom: 2px double black">-${{reporteGeneral.sum('montoAdeudado') | currency:""}}</th>
                                                        </tr>


                                                    </tfoot>
                                                </table>
                                                <br />
                                                <br />
                                                <br />
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</div>