﻿


<div id="gastoIndex">

    <div ng-controller="TablaDeGastosController">
        <br /><br />

        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12">
                <a href="#" class="btn btn-primary btn-sm" ng-click="editarGasto(0)"> Crear gasto</a>
            </div>

            <div class="col-md-4 col-xs-12 col-sm-12">

                <div class="form-group">
                    <label>Mostrar inactivos</label>
                    <input bs-switch
                           name="gastoChk"
                           ng-model="inactivos"
                           type="checkbox"
                           switch-active="true"
                           switch-readonly="false"
                           switch-size="small"
                           switch-animate="true"
                           switch-label=""
                           switch-icon="icon-save"
                           switch-on-text="Si"
                           switch-off-text="No"
                           switch-on-color="warning"
                           switch-off-color="primary"
                           switch-radio-off="true"
                           switch-label-width="{{ labelWidth }}"
                           switch-handle-width="{{ handleWidth }}"
                           switch-inverse="false"
                           ng-true-value="{{true}}"
                           ng-false-value="{{false}}">

                </div>

            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-3  col-xs-12 col-sm-12">
                <label>Busqueda</label>
                <select class="form-control" ng-model="seleccionDeFiltro" ng-options="filtro.descripcion for filtro in filtroBusqueda"
                        ng-change="valorBusqueda.campo = seleccionDeFiltro.campo; valorBusqueda.tipoCampo=seleccionDeFiltro.tipoCampo;
                        valorBusqueda.filtroCampo = seleccionDeFiltro"></select>
            </div>
            <div class="col-md-3  col-xs-12 col-sm-12 " ng-show="valorBusqueda.tipoCampo==0;">
                <label>Valor</label>
                <input type="text" class="form-control" ng-model="valorBusqueda.valor"
                       ng-change="valorBusqueda.descripcionValor=null;" ng-keydown="$event.keyCode === 13 && agregarFiltro()" />
            </div>

            <div class="col-md-3  col-xs-12 col-sm-12 " ng-show="valorBusqueda.campo=='Estado'">
                <label>Estado</label>
                <select class="form-control" ng-model="estadogasto" ng-options="estado.descripcion for estado in estados"
                        ng-change="valorBusqueda.valor = estadogasto.valorEstado;
                        valorBusqueda.descripcionValor=estadogasto.descripcion; agregarFiltro();"></select>
            </div>

            <div class="col-md-3  col-xs-12 col-sm-12 " ng-show="valorBusqueda.campo=='FechaEmision'">
                <label>Fecha</label>
                <input type="date" class="form-control" ng-model="valorBusqueda.valor"
                       ng-change="valorBusqueda.descripcionValor=ObtenerSoloFecha(valorBusqueda.valor);  agregarFiltro();" />
            </div>

            <div class="col-md-4 col-xs-12 col-sm-12 " ng-show="valorBusqueda.campo=='SuplidorId';">
                <label>Valor</label>
                <angucomplete-alt id="suplidor" placeholder=""
                                  pause="200"
                                  selected-object="selectedSuplidor"
                                  title-field="nombre"
                                  remote-url="/api/suplidor?pagesize=6&nombreCampo=nombre&filtro="
                                  remote-url-data-field="pagedData.result"
                                  minlength="2"
                                  initial-value=""
                                  input-class="form-control form-control-small"
                                  input-name="supllidor"
                                  field-required="false"
                                  input-field-required="false"
                                  input-required="false"
                                  auto-match="true">
                </angucomplete-alt>


            </div>
            <div class="col-md-1 col-xs-12 col-sm-12">
                <label>Agregar</label>
                <a class="btn btn-primary btn-sm" ng-click="agregarFiltro()" title="Añadir"><i class="fa fa-search"></i> <span class="Añadir">Añadir</span> </a>
            </div>
            <div class="col-md-1 col-xs-12 col-sm-12">
                <label>Buscar</label>
                <a class="btn btn-primary btn-sm" ng-click="search()" title="Buscar"><i class="fa fa-search"></i> <span class="Buscar">Buscar</span> </a>
            </div>


        </div>
        <div ng-show="verificarBusquedaCompleja()">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1 col-xs-12 col-sm-12">Busqueda</th>
                        <th class="col-md-1 col-xs-12 col-sm-12">Valor</th>

                        <th class="col-md-3  col-xs-12 col-sm-12"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="filtro in busquedaCompleja.filtros">
                        <td class="col-md-1 col-xs-12 col-sm-12">{{filtro.filtroCampo.descripcion }}</td>
                        <td class="col-md-1 col-xs-12 col-sm-12">{{filtro.descripcionValor?filtro.descripcionValor:filtro.valor}}</td>

                        <td class="col-md-3 col-xs-12 col-sm-12" align="center">

                            <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                <a class="btn btn-primary btn-sm" href="#" ng-click="borrarFiltro($index)" title="Quitar">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span class="option">Quitar</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br /><br />
        <div class="panel panel-primary">
            <div class="panel-heading"><h2 style="margin-top:0;margin-bottom:0;">Gastos</h2></div>

            <div class="panel-body">

                <div class="tab-content">
                    <!--INICIO TABLA DE gastoCION-->
                    <div class="tab-pane fade in active scrollTablaMobile">
                        <br />
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Numero Referencia</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Suplidor</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Moneda</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Monto Total</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Fecha Emisión</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Estado</th>
                                    <th class="col-md-2 col-xs-2 col-sm-2">Concepto</th>
                                    <th class="col-md-4  col-xs-12 col-sm-12"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="gasto in resultadoEnPantalla.gastos">
                                    <td class="col-md-1 col-xs-1 col-sm-1">{{gasto.referenciaGasto }}</td>
                                    <td class="col-md-1 col-xs-1 col-sm-1">{{gasto.suplidor.nombre}}</td>
                                    <td class="col-md-1 col-xs-1 col-sm-1">{{gasto.moneda.nombre}}</td>
                                    <td class="col-md-1 col-xs-1 col-sm-1">{{gasto.montoTotal | number:2}}</td>
                                    <td class="col-md-1 col-xs-1 col-sm-1">{{gasto.fechaEmision | date:'dd-MM-yyyy'}}</td>
                                    <td class="col-md-1 col-xs-1 col-sm-1">{{obtenerEstadoDeGasto(gasto.estado)}}</td>
                                    <td class="col-md-2 col-xs-2 col-sm-2">{{gasto.detalles}}</td>
                                    <td class="col-md-4 col-xs-12 col-sm-12" align="left">
                                        <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                            <a class="btn btn-primary btn-sm" href="ImpresionEntrada/ImprimirGasto?id={{gasto.id}}" target="_blank" title="Imprimir"><i class="glyphicon glyphicon-print"></i> <span class="option">Imprimir</span> </a>

                                            <a class="btn btn-primary btn-sm" ng-click="editarGasto(gasto.id)" ng-hide="gasto.estado=='A'" title="Editar"><i class="fa fa-pencil"></i> <span class="option">Editar</span> </a>

                                            <a class="btn btn-primary btn-sm" href="#" ng-click="borrarGasto(gasto.id)" ng-hide="gasto.estado=='A'" title="Anular">
                                                <i class="glyphicon glyphicon-trash"></i>
                                                <span class="option">Anular</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row" style="margin-right:5px">
                            <div class="col-md-3  col-xs-12 col-sm-12">
                                <p class="lead pull-left" style="vertical-align:central">
                                    <span class="badge badge-default" style="margin-bottom:5px">{{resultadoEnPantalla.totalgastos | number}}</span>
                                </p>
                            </div>
                            <div class="col-md-9  col-xs-9 col-sm-9" id="navBargastocion">
                                <ul class="pull-right"
                                    uib-pagination
                                    previous-text="Anterior"
                                    next-text="Siguiente"
                                    total-items="resultadoEnPantalla.totalgastos"
                                    items-per-page="resultadoEnPantalla.pageSize"
                                    max-size="10"
                                    ng-model="resultadoEnPantalla.currentPage"
                                    ng-change="pageChanged()"></ul>
                            </div>
                        </div>
                    </div>
                    <!--FIN TABLA DE gastoCION-->

                </div>
            </div>
        </div>
    </div>
</div>