﻿
@using PuntoDeVenta.WebApi.Helpers;

<div id="HomeIndex">
    <div class="separacion"></div>
    <div class="row">
        <div class="col-md-4 col-xs-6 col-sm-6 col-xl-4 text-center @VerifyAdminUser.verifyUserAccess("Menu","Facturacion-Facturas")">
            <a href="#"><i class="iconsSize fas fa-shopping-cart " title="Facturas" ng-click="seleccion='Facturas'"></i></a>
            <h5 style="color:#1738e0;">Facturas</h5>
        </div>
        <div class="col-md-4 col-xs-6 col-sm-6 col-xl-4 text-center @VerifyAdminUser.verifyUserAccess("Menu","Facturacion-Cotizaciones")">
            <a href="#"><i class="iconsSize fas fa-inbox" title="Cotizaciones" ng-click="seleccion='Cotizaciones'"></i></a>
            <h5 style="color:#1738e0;">Cotizaciones</h5>
        </div>
        <div class="col-md-4 col-xs-6 col-sm-6 col-xl-4 text-center @VerifyAdminUser.verifyUserAccess("Menu","Facturacion-Pagos")">
            <a href="#"><i class="iconsSize fas fa-money-bill-alt" title="Pagos" ng-click="seleccion='Pagos'"></i></a>
            <h5 style="color:#1738e0;">Pagos</h5>
        </div>
        <div class="col-md-4 col-xs-6 col-sm-6 col-xl-4 text-center @VerifyAdminUser.verifyUserAccess("Menu","Reportes-ReporteInventario")">
            <a href="#"><i class="iconsSize fas fa-box" title="Inventario" ng-click="seleccion='ReporteInventario'"></i></a>
            <h5 style="color:#1738e0;">Inventario</h5>
        </div>
        <div class="col-md-4 col-xs-6 col-sm-6 col-xl-4 text-center @VerifyAdminUser.verifyUserAccess("Menu","Movimientos-MovimientoEntrada")">
            <a href="#"><i class="iconsSize fas fa-truck-moving" title="Entrada inventario" ng-click="seleccion='movimientoEntrada'"></i></a>
            <h5 style="color:#1738e0;">Entrada inventario</h5>
        </div>
        <div class="col-md-4 col-xs-6 col-sm-6 col-xl-4 text-center @VerifyAdminUser.verifyUserAccess("Menu","Gastos-Gastos")">
            <a href="#"><i class="iconsSize fas fa-wallet" title="Ingreso de gastos" ng-click="seleccion='Gastos'"></i></a>
            <h5 style="color:#1738e0;">Ingreso de gastos</h5>
        </div>
        <div class="col-md-4 col-xs-6 col-sm-6 col-xl-4 text-center @VerifyAdminUser.verifyUserAccess("Menu","Reportes-CxCGeneral")">
            <a href="#"><i class="iconsSize far fab fa-wpforms" title="Reporte CXC" ng-click="seleccion='CxCGeneral'"></i></a>
            <h5 style="color:#1738e0;">Reporte CXC</h5>
        </div>
        <div class="col-md-4 col-xs-6 col-sm-6 col-xl-4 text-center @VerifyAdminUser.verifyUserAccess("Menu","Reportes-reporteCxP")">
            <a href="#"><i class="iconsSize fab fa-wpforms" title="Reporte CXP" ng-click="seleccion='reporteCxP'"></i></a>
            <h5 style="color:#1738e0;">Reporte CXP</h5>
        </div>
        <div class="col-md-4 col-xs-6 col-sm-6 col-xl-4 text-center @VerifyAdminUser.verifyUserAccess("Menu","Usuarios-Usuarios")">
            <a href="#"><i class="iconsSize fas fa-lock" title="Permisos de usuarios" ng-click="seleccion='usuarios'"></i></a>
            <h5 style="color:#1738e0;">Permisos de usuarios</h5>
        </div>

        <div class="col-md-4 col-xs-6 col-sm-6 col-xl-4 text-center @VerifyAdminUser.verifyUserAccess("Menu","Facturacion-Pagos")">
            <a href="@Url.Action("TemplateRecibos", "ImpresionFactura")"><i class="iconsSize fas fa-money-bill-alt" title="Impresion Recibos"></i></a>
            <h5 style="color:#1738e0;">Impresion Recibos</h5>
        </div>
    </div>
    <div class="row">

    </div>

</div>
<style scoped>
    .iconsSize {
        font-size: 13em !important;
    }

    @@media (max-width: 767px) {
    .iconsSize {
        font-size:7em !important;
    }
   
}
</style>

