﻿
<div id="productoIndex">

    <div class="panel-body" id="impresionBody" ng-controller="listadoClientesController">
        <form name="frmListadoClientesForm" ng-class="showValidate ? 'form-validate' : ''" class="noImprimir" ng-submit="buscarClientes()" novalidate>
            <div class="row noPresentar">
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Ocultar Dirección</label>
                    <input type="checkbox" ng-model="ocultarDireccion" ng-model-options="{allowInvalid: true}" />
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Busqueda</label>
                    <select class="form-control" ng-model="seleccionDeFiltro" ng-options="filtro.descripcion for filtro in filtroBusqueda"
                            ng-change="valorBusqueda.campo = seleccionDeFiltro.campo; valorBusqueda.tipoCampo=seleccionDeFiltro.tipoCampo;
                        valorBusqueda.filtroCampo = seleccionDeFiltro"></select>
                </div>
                <div class="col-md-3  col-xs-12 col-sm-12" ng-show="valorBusqueda.tipoCampo==0;">
                    <label>Valor</label>
                    <input type="text" class="form-control" ng-model="valorBusqueda.valor"
                           ng-change="valorBusqueda.descripcionValor=null;" />
                </div>


                <div class="col-md-1 col-xs-12 col-sm-12">
                    <label>Buscar</label>
                    <a class="btn btn-primary btn-sm" ng-click="buscarClientes()" title="Buscar"><i class="fa fa-search"></i> <span class="Buscar">Buscar</span> </a>
                </div>
                <div class="col-md-1 col-xs-12 col-sm-12">
                    <label style="color:white;">Buscar</label>
                    <div id="printButton" class="btn btn-default" ng-click="exportarExcel()">
                        <i class="fa fa-print"></i> Exportar Excel
                    </div>
                </div>
                </div>

</form>





        <div id="estadoCuenta" class="row" ng-hide="!busquedaFinalizada">
            <div class="col-xs-12">
                <div class="block full">

                    <button id="printButton" class="btn btn-default noImprimir" ng-click="Print()">
                        <i class="fa fa-print"></i> Imprimir
                    </button>
                    <div id="printHeader">
                        <table>
                            <thead>
                                <tr class="hideLines">
                                    <th> <img src="~/Content/images/logo.jpg" alt="header" width="230" height="60" /></th>


                                </tr>
                                <tr class="hideLines">
                                    <th style="color:white !important; visibility:hidden; width:68% !important;"></th>
                                    <th>LISTADO DE CLIENTES</th>
                                </tr>
                            </thead>
                        </table>


                    </div>
                    <br />
                    <div id="printDetail" class="scrollTablaMobile">


                        <table class="table table-vcenter">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>RNC / Cédula</th>
                                    <th>Teléfono</th>
                                    <th ng-hide="ocultarDireccion">Dirección</th>
                                    <th>Moneda</th>
                                    <th>Días vencimiento</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cliente in reporte.clientes track by cliente.id">
                                    <td>{{cliente.codigoYNombre}}</td>
                                    <td>{{cliente.cedulaRnc}}</td>
                                    <td>{{cliente.telefono}}</td>
                                    <td ng-hide="ocultarDireccion">{{cliente.direccion}}</td>
                                    <td>{{cliente.moneda.codigo}}</td>
                                    <td>{{cliente.diasVencimiento}}</td>
                                </tr>
                            </tbody>

                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>