﻿

<div id="productoIndex" >
 
    <div class="panel-body" id="impresionBody" ng-controller="listadoPreciosController">
        <form name="frmListadoPreciosForm" ng-class="showValidate ? 'form-validate' : ''" class="noImprimir" ng-submit="buscarPrecios()" novalidate>
            <div class="row noPresentar">

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Ocultar costo</label>
                    <input type="checkbox" ng-model="ocultarCosto" ng-model-options="{allowInvalid: true}" />
                </div>
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Busqueda</label>
                    <select class="form-control" ng-model="seleccionDeFiltro" ng-options="filtro.descripcion for filtro in filtroBusqueda"
                            ng-change="valorBusqueda.campo = seleccionDeFiltro.campo; valorBusqueda.tipoCampo=seleccionDeFiltro.tipoCampo;
                        valorBusqueda.filtroCampo = seleccionDeFiltro"></select>
                </div>
                <div class="col-md-3  col-xs-12 col-sm-12" ng-show="valorBusqueda.tipoCampo==0;">
                    <label>Valor</label>
                    <input type="text" class="form-control" ng-model="valorBusqueda.valor"
                           ng-change="valorBusqueda.descripcionValor=null;" />
                </div>

           
                <div class="col-md-1 col-xs-12 col-sm-12">
                    <label>Buscar</label>
                    <a class="btn btn-primary btn-sm" ng-click="buscarPrecios()" title="Buscar"><i class="fa fa-search"></i> <span class="Buscar">Buscar</span> </a>
                </div>
         <div class="col-md-1 col-xs-12 col-sm-12">
                    <label style="color:white;">Buscar</label>
                    <div id="printButton" class="btn btn-default" ng-click="exportarExcel()">
                        <i class="fa fa-print"></i> Exportar Excel
                    </div>
                </div>

            </div>
         
        </form>
     




        <div id="estadoCuenta" class="row" ng-hide="!busquedaFinalizada">
            <div class="col-xs-12">
                <div class="block full">

                    <button id="printButton" class="btn btn-default noImprimir" ng-click="Print()">
                        <i class="fa fa-print"></i> Imprimir
                    </button>
                    <div id="printHeader">
                        <table>
                            <thead>
                                <tr class="hideLines">
                                    <th> <img src="~/Content/images/logo.jpg" alt="header" width="230" height="60" /></th>


                                </tr>
                                <tr class="hideLines">
                                    <th style="color:white !important; visibility:hidden; width:70% !important;"></th>
                                    <th>LISTADO DE PRECIOS</th>
                                </tr>
                            </thead>
                        </table>
                       
                      

                    </div>
                    <br />
                    <div id="printDetail" class="scrollTablaMobile">
                        
                    
                            <table class="table table-vcenter">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Descripcion</th>
                                        <th>Precio</th>
                                        <th>Precio 2</th>
                                        <th>Precio 3</th>
                                        <th ng-hide="ocultarCosto">Costo</th>
                                        <th>Moneda</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="producto in reporte.productos track by producto.id">
                                        <td>{{producto.nombre}}</td>
                                        <td>{{producto.descripcion}}</td>
                                        <td>${{producto.precio | currency:""}}</td>
                                        <td>${{producto.precio2 | currency:""}}</td>
                                        <td>${{producto.precio3 | currency:""}}</td>
                                        <td ng-hide="ocultarCosto">${{producto.costo | currency:""}}</td>
                                        <td>{{producto.moneda.codigo}}</td>
                                    </tr>
                                </tbody>
                               
                            </table>
                      

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>