﻿

<div id="movimientosProductoIndex" >
 
    <div class="panel-body " id="impresionBody" ng-controller="movimientosProductoController" ng-init="busqueda={}">
        <form name="frmMovimientosProductoForm" class="noImprimir" ng-class="showValidate ? 'form-validate' : ''" ng-submit="BuscarMovimientos()" novalidate>
            <div class="form-group ">
                <label>Fecha inicio</label>
                <input type="date" class="form-control" ng-model="busqueda.fechaInicial" />
            </div>

            <div class="form-group ">
                <label>Fecha final</label>
                <input type="date" class="form-control" ng-model="busqueda.fechaFinal" />
            </div>
            <div class="">
                <div class="form-group">
                    <label>Producto</label>
                    <angucomplete-alt id="producto" placeholder=""
                                      pause="200"
                                      selected-object="selectedProducto"
                                      title-field="nombre"
                                      remote-url="/api/producto?pagesize=6&nombreCampo=nombre&filtro="
                                      remote-url-data-field="pagedData.result"
                                      minlength="2"
                                      initial-value=""
                                      input-class="form-control form-control-small"
                                      input-name="producto"
                                      field-required="false"
                                      input-field-required="false"
                                      input-required="false"
                                      auto-match="true">
                    </angucomplete-alt>
                </div>
            </div>

            <div id="printButton" class="btn btn-default" ng-click="exportarExcel()">
                <i class="fa fa-print"></i> Exportar Excel
            </div>
            <input type="submit" class="btn btn-primary noPresentar" value="Aceptar" />
        </form>
     




        <div id="listaMovimientos" class="row" ng-hide="!busquedaFinalizada">
            <div class="col-xs-12">
                <div class="block full">

                    <div class="noImprimir">
                        <button id="printButton" class="btn btn-default noImprimir" ng-click="Print()">
                            <i class="fa fa-print"></i> Imprimir
                        </button>
                        <br />
                        <br />
                    </div>
                    <div id="printHeader">
                        <table>
                            <thead>
                                <tr class="hideLines">
                                    <th> <img src="~/Content/images/logo.jpg" alt="header" width="230" height="60" /></th>


                                </tr>
                                <tr class="hideLines">
                                    <th style="color:white !important; visibility:hidden; width:58% !important;"></th>
                                    <th>MOVIMIENTOS DE PRODUCTOS</th>
                                </tr>
                            </thead>
                        </table>
                        <table>

                            <tr class="hideLines">
                                <th style="color:white !important; visibility:hidden;">sssss</th>
                            </tr>
                            <tr class="hideLines">
                                <th>{{reporte.fechaActual | date:'dd-MM-yyyy'}}</th>
                            </tr>
                            <tr ng-show="busqueda.fechaInicial" class="hideLines">
                                <th>Movimientos desde {{busqueda.fechaInicial | date:'dd-MM-yyyy'}}</th>
                            </tr>
                            <tr ng-show="busqueda.fechaFinal" class="hideLines">
                                <th>Movimientos hasta {{busqueda.fechaFinal | date:'dd-MM-yyyy'}}</th>
                            </tr>
                            <tr ng-show="busqueda.productoId" class="hideLines">
                                <th>De producto:  {{busqueda.producto.nombre | date:'dd-MM-yyyy'}}</th>
                            </tr>
                        </table>


                    </div>
                    <br />
                    <div id="printDetail" class="scrollTablaMobile">
                        <div ng-repeat="reporte in reporteMovimientos.reportePorAlmacen track by $index">
                            <br />
                            <h2>{{reporte.almacenNombre}}</h2>
                            <div ng-repeat="movimientoProducto in reporte.movimientosPorProducto track by $index">
                                <br /><h2>{{movimientoProducto[0].productoNombre}}</h2>
                                <table class="table table-vcenter">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>fecha movimiento</th>
                                            <th>Referencia</th>
                                            <th>Cantidad</th>
                                            <th>Unidad</th>
                                            <th>Almacen</th>
                                            <th>Tipo</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="movimiento in movimientoProducto | orderBy :'fechaCreacion' track by $index">
                                            <td>{{movimiento.productoNombre}}</td>
                                            <td>{{movimiento.fechaCreacion  | date : "dd-MM-yyyy hh:mm"}}</td>
                                            <td>{{movimiento.referencia}}</td>
                                            <td>{{movimiento.cantidad}}</td>
                                            <td>{{movimiento.unidadNombre}}</td>
                                            <td>{{movimiento.almacenNombre}}</td>
                                            <td>{{(movimiento.tipoMovimiento.toLowerCase()=='in')?'ENTRADA':'SALIDA'}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>

                                        <tr>
                                            <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Existencia: {{movimientoProducto.sum('cantidad')}}</th>
                                        </tr>

                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <br />
                        <br />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>