﻿


<div id="pagoGastoIndex">

    <div ng-controller="tablaDePagoGastosController">
        <br /><br />


        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12">
                <a href="#" class="btn  btn-primary" ng-click="EditarPagoGasto()"> Ingresar Pago</a>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">

                <div class="form-group">
                    <label>Mostrar inactivos</label>
                    <input bs-switch
                           name="facturaChk"
                           ng-model="inactivos"
                           type="checkbox"
                           switch-active="true"
                           switch-readonly="false"
                           switch-size="small"
                           switch-animate="true"
                           switch-label=""
                           switch-icon="icon-save"
                           switch-on-text="Si"
                           switch-off-text="No"
                           switch-on-color="warning"
                           switch-off-color="primary"
                           switch-radio-off="true"
                           switch-label-width="{{ labelWidth }}"
                           switch-handle-width="{{ handleWidth }}"
                           switch-inverse="false"
                           ng-true-value="{{true}}"
                           ng-false-value="{{false}}">

                </div>

            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-3 col-xs-12 col-sm-12">
                <label>Busqueda</label>
                <select class="form-control" ng-model="seleccionDeFiltro" ng-options="filtro.descripcion for filtro in filtroBusqueda"
                        ng-change="valorBusqueda.campo = seleccionDeFiltro.campo; valorBusqueda.tipoCampo=seleccionDeFiltro.tipoCampo"></select>
            </div>
            <div class="col-md-3 col-md-3 col-xs-12 col-sm-12 ">
                <label>Valor</label>
                <input type="text" class="form-control" ng-model="valorBusqueda.valor" ng-keydown="$event.keyCode === 13 && search()" />
            </div>

            <div class="col-md-3 col-md-3 col-xs-12 col-sm-12 ">
                <label>Buscar</label>
                <a class="btn btn-primary btn-sm" ng-click="search()" title="Buscar"><i class="fa fa-search"></i> <span class="Buscar">Buscar</span> </a>
            </div>


        </div>

        <br /><br />
        <div class="panel panel-primary">
            <div class="panel-heading"><h2 style="margin-top:0;margin-bottom:0;">Pagos</h2></div>

            <div class="panel-body">

                <div class="tab-content">
                    <!--INICIO TABLA DE pagoGastos-->
                    <div class="tab-pane fade in active scrollTablaMobile">
                        <br />
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>

                                    <th class="col-md-1 col-xs-1 col-sm-1">No. Recibo</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">No. Egreso</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Monto pagado</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Moneda</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Fecha pago</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Creado por</th>
                                    <th class="col-md-3 col-xs-12 col-sm-12"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pagoGasto in resultadoEnPantalla.pagoGastos">
                                    <td class="col-md-1 col-xs-1 col-sm-1">{{pagoGasto.secuencia }}</td>
                                    <td class="col-md-1 col-xs-1 col-sm-1">{{pagoGasto.referenciaGasto}}</td>
                                    <td class="col-md-1 col-xs-1 col-sm-1">{{pagoGasto.montoPagado}}</td>
                                    <td class="col-md-1 col-xs-1 col-sm-1">{{pagoGasto.moneda.codigo}}</td>
                                    <td class="col-md-1 col-xs-1 col-sm-1">{{pagoGasto.fechaCreacion | date: 'dd-MM-yyyy'}}</td>
                                    <td class="col-md-1 col-xs-1 col-sm-1">{{pagoGasto.creadoPor}}</td>
                                    <td class="col-md-3 col-xs-12 col-sm-12" align="center">

                                        <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                            <a class="btn btn-primary btn-sm" href="ImpresionEntrada/ImprimirReciboGasto?secuencia={{pagoGasto.secuencia}}" target="_blank" title="Imprimir"><i class="glyphicon glyphicon-print"></i> <span class="option">Imprimir</span> </a>

                                            <a class="btn btn-primary btn-sm" ng-hide="!pagoGasto.activo" href="#" ng-click="borrarPagoGasto(pagoGasto.id)" title="Desactivar">
                                                <i class="glyphicon glyphicon-trash"></i>
                                                <span class="option">Desactivar</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row" style="margin-right:5px">
                            <div class="col-md-3  col-xs-12 col-sm-12">
                                <p class="lead pull-left" style="vertical-align:central">
                                    <span class="badge badge-default" style="margin-bottom:5px">{{resultadoEnPantalla.totalPagoGastos | number}}</span>
                                </p>
                            </div>
                            <div class="col-md-9  col-xs-9 col-sm-9" id="navBarpagoGasto">
                                <ul class="pull-right"
                                    uib-pagination
                                    previous-text="Anterior"
                                    next-text="Siguiente"
                                    total-items="resultadoEnPantalla.totalPagoGastos"
                                    items-per-page="resultadoEnPantalla.pageSize"
                                    max-size="10"
                                    ng-model="resultadoEnPantalla.currentPage"
                                    ng-change="pageChanged()"></ul>
                            </div>
                        </div>
                    </div>
                    <!--FIN TABLA DE ALMACEN-->

                </div>
            </div>
        </div>
    </div>
</div>