﻿


<div id="PermisosIndex" >
 
    <div ng-controller="TablaDePermisosController">
        <br /><br />
              <div class="row">
                  <div class="col-md-4 col-xs-12 col-sm-12">
                      <a href="#" class="btn btn-primary btn-sm" ng-click="EditarPermisos(0)"> Ingresar Permisos</a>
                  </div>
                  <div class="col-md-4 col-xs-12 col-sm-12">

                      @Html.ActionLink("Registrar usuario", "Register", "Account", new { Area = "" }, new { @class = "btn btn-primary" })
                  </div>
              </div>
      
        <br /><br />
        <div class="panel panel-primary">
            <div class="panel-heading"><h2 style="margin-top:0;margin-bottom:0;">Permisos</h2></div>
          

            <div class="panel-body">

                <div class="tab-content">
                    <!--INICIO TABLA DE permisos-->
                    <div class="tab-pane fade in active scrollTablaMobile" >
                        <br />
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    
                                    <th class="col-md-1 col-xs-1 col-sm-1">Usuario</th>
                                    <th class="col-md-2 col-xs-2 col-sm-2">Seccion</th>
                                    <th class="col-md-5 col-xs-5 col-sm-5">Acciones</th>
                                    <th class="col-md-4 col-xs-12 col-sm-12"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="permiso in resultadoEnPantalla.permisos">
                                    <td class="col-md-1 col-xs-1 col-sm-1">{{permiso.NombreUsuario }}</td>
                                    <td class="col-md-2 col-xs-2 col-sm-2">{{permiso.Seccion=="*"?"Todas" :permiso.Seccion }}</td>
                                    <td class="col-md-5 col-xs-5 col-sm-5">{{permiso.Acciones}}</td>
                                    <td class="col-md-4 col-xs-12 col-sm-12" align="center">
                                       
                                        <div class="btn-group  btn-group-sm btn-group-lg text-center JustifyCenter">
                                            <a class="btn btn-primary btn-sm" href="#" ng-click="BorrarPermiso(permiso.UserId,permiso.Seccion)" title="Eliminar">
                                                <i class="glyphicon glyphicon-trash"></i>
                                                <span class="option">Eliminar</span>
                                            </a>
                                            <a class="btn btn-primary btn-sm" href="#" ng-click="BorrarUsuario(permiso.UserId)" title="Borrar Usuario">
                                                <i class="glyphicon glyphicon-trash"></i>
                                                <span class="option">Borrar Usuario</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row" style="margin-right:5px">
                            <div class="col-md-3  col-xs-12 col-sm-12">
                                <p class="lead pull-left" style="vertical-align:central">
                                    <span class="badge badge-default" style="margin-bottom:5px">{{resultadoEnPantalla.totalPermisos | number}}</span>
                                </p>
                            </div>

                        </div>
                    </div>
                    <!--FIN TABLA DE PERMISOS-->

                </div>
            </div>
        </div>
    </div>
</div>