﻿



<div id="ProductoUnidades" class="col-md-11 col-sm-11 col-xs-11">
    <div class="panel panel-default">
        <div class="row formTable">
            <div class="col-md-offset-1 ", style="margin-top:5px;">
                <h4 class="col-md-6 col-xs-12 col-sm-12">
                    Unidades de producto
                </h4>

                <div class="col-md-2 ">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="editarUnidad(-1)" >Agregar Unidad</button>

                </div>
            </div>


        </div>
        <div class="panel-body">


            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                      
                        <th>Unidad</th>
                        <th>Equivalencia</th>
                        <th>Costo unitario</th>
                        <th>Precio unitario</th>
                        <th>Es principal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-bordered">
                    <tr ng-repeat="productoUnidad in producto.productoUnidades">
                        
                        <td>{{productoUnidad.unidad.nombre}}</td>
                        <td>{{productoUnidad.equivalencia | number:2}}</td>
                        <td>{{productoUnidad.precioCompra | number:2}}</td>
                        <td>{{productoUnidad.precioVenta | number:2}}</td>
                        <td>{{productoUnidad.esPrincipal?'Si':'No'}}</td>

                        <td align="center">
                            <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                <a class="btn btn-primary btn-sm" href="" title="Editar" ng-click="editarUnidad($index)"><i class="fa fa-pencil"></i> <span class="option">Editar</span> </a>

                            </div>
                            <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                <a class="btn btn-danger" ng-click="AnularUnidad($index)"><i class="fa fa-ban"></i> Anular</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

