﻿


<div id="FacturaIndex" >
 
    <div class="panel-body" id="impresionBody" ng-controller="ReporteVentasController">
        <form name="frmReporteVentasForm" ng-class="showValidate ? 'form-validate' : ''" class="noImprimir" ng-submit="BuscarFacturas()" novalidate>
            <div class="form-group">
                <label>Fecha inicio</label>
                <input type="date" class="form-control" ng-model="busqueda.fechaInicial" />
            </div>

            <div class="form-group ">
                <label>Fecha final</label>
                <input type="date" class="form-control" ng-model="busqueda.fechaFinal" />
            </div>
            <div class="form-group ">
                <label>Cliente</label>
                <angucomplete-alt id="cliente" placeholder=""
                                  pause="200"
                                  selected-object="selectedCliente"
                                  title-field="codigoYNombre"
                                  remote-url="/api/cliente?pagesize=6&nombreCampo=nombre&filtro="
                                  remote-url-data-field="pagedData.result"
                                  minlength="2"
                                  initial-value=""
                                  input-class="form-control form-control-small"
                                  input-name="cliente"
                                  field-required="false"
                                  input-field-required="false"
                                  input-required="false"
                                  auto-match="true">
                </angucomplete-alt>


            </div>
            <div class="form-group ">
                <label>Vendedor</label>
                <angucomplete-alt id="vendedor" placeholder=""
                                  pause="200"
                                  selected-object="selectedVendedor"
                                  title-field="codigoYNombre"
                                  remote-url="/api/vendedor?pagesize=6&nombreCampo=nombre&filtro="
                                  remote-url-data-field="pagedData.result"
                                  minlength="2"
                                  initial-value=""
                                  input-class="form-control form-control-small"
                                  input-name="cliente"
                                  field-required="false"
                                  input-field-required="false"
                                  input-required="false"
                                  auto-match="true">
                </angucomplete-alt>


            </div>
            <div id="printButton" class="btn btn-default" ng-click="exportarExcel()">
                <i class="fa fa-print"></i> Exportar Excel
            </div>

            <input type="submit" class="btn btn-primary" value="Aceptar" />
        </form>
     




        <div id="estadoCuenta" class="row" ng-hide="!busquedaFinalizada">
            <div class="col-xs-12">
                <div class="block full">

                    <div class="noImprimir">
                        <button id="printButton" class="btn btn-default noImprimir" ng-click="Print()">
                            <i class="fa fa-print"></i> Imprimir
                        </button>
                        <br />
                        <br />
                    </div>
                    <div id="printHeader">
                        <table>
                            <thead>
                                <tr class="hideLines">
                                    <th> <img src="~/Content/images/logo.jpg" alt="header" width="230" height="60" /></th>


                                </tr>
                                <tr class="hideLines">
                                    <th style="color:white !important; visibility:hidden; width:70% !important;"></th>
                                    <th>REPORTE DE VENTAS</th>
                                </tr>
                            </thead>
                        </table>
                        <table>
                            <thead>

                                <tr>
                                    <th style="color:white !important; visibility:hidden;">sssss</th>
                                </tr>
                                <tr>
                                    <th>{{reporte.fechaActual | date:'dd-MM-yyyy'}}</th>
                                </tr>
                                <tr>
                                    <th>
                                        Facturas desde: {{(busqueda.fechaInicial?busqueda.fechaInicial:date) | date:'dd-MM-yyyy'}}
                                        hasta {{(busqueda.fechaFinal?busqueda.fechaFinal:date)  | date:'dd-MM-yyyy'}}
                                    </th>
                                </tr>
                            </thead>
                        </table>


                    </div>
                    <br />
                    <div id="printDetail">
                        <div ng-repeat="reporte in reporteGeneral.reportePorMonedas track by $index" class="scrollTablaMobile">
                            <br />
                            <h2>{{reporte.moneda.nombre}}</h2>
                            <table class="table table-vcenter">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>Fecha Facturado</th>
                                        <th>No. Factura</th>
                                        <th class="text-center">Vendido por:</th>
                                        <th>Monto Itbis</th>
                                        <th>Monto total</th>
                                        <th>Monto Pagado</th>
                                        <th>Monto Adeudado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="factura in reporte.facturas track by factura.id">
                                        <td>{{factura.cliente.codigoYNombre}}</td>
                                        <td>{{factura.fechaFacturado  | date : "dd-MM-yyyy"}}</td>
                                        <td>{{factura.numeroFactura}}</td>
                                        <td class="text-center">{{factura.creadoPor}}</td>
                                        <td>${{factura.montoItbis | currency : ""}}</td>
                                        <td>${{factura.montoTotal | currency:""}} </td>
                                        <td>${{factura.montoPagado | currency:""}}</td>
                                        <td>${{(factura.montoTotal - factura.montoPagado) | currency:""}}</td>
                                    </tr>
                                </tbody>

                            </table>
                            <table class="table table-vcenter">
                                <tfoot>

                                    <tr>
                                        <th class="text-left">{{reporte.codigoMoneda}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">SubTotal: ${{reporte.montoGrabado | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Total ITBIS: ${{reporte.montoItbis | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Total: ${{reporte.montoTotal | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Pagado: ${{reporte.montoPagado | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Adeudado: ${{(reporte.montoAdeudado) | currency:""}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <br />
                        <br />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>