﻿

<div id="reporteComisionesIndex" >
 
    <div class="panel-body " id="impresionBody" ng-controller="reporteEstadoEmpresaController" ng-init="busqueda={}">
        <form name="frmReporteComisionesForm" ng-class="showValidate ? 'form-validate' : ''" class="noImprimir" ng-submit="buscarEstado()" novalidate>
            <div class="form-group ">
                <label>Fecha inicio</label>
                <input type="date" class="form-control" ng-model="busqueda.fechaInicial" />
            </div>

            <div class="form-group ">
                <label>Fecha final</label>
                <input type="date" class="form-control" ng-model="busqueda.fechaFinal" />
            </div>
          

            <div id="printButton" class="btn btn-default noImprimir" ng-click="exportarExcel()">
                <i class="fa fa-print"></i> Exportar Excel
            </div>
            <input type="submit" class="btn btn-primary noImprimir" value="Aceptar" />
        </form>
     




        <div id="reporteGeneral" class="row" ng-hide="!busquedaFinalizada">
            <div class="col-xs-12">
                <div class="block full">
                    <div class="noImprimir">
                        <button id="printButton" class="btn btn-default noImprimir" ng-click="Print()">
                            <i class="fa fa-print"></i> Imprimir
                        </button>
                        <br />
                        <br />
                    </div>
                    
                    <div id="printHeader">
                        <table>
                            <thead>
                                <tr class="hideLines">
                                    <th> <img src="~/Content/images/logo.jpg" alt="header" width="230" height="60" /></th>


                                </tr>
                                <tr class="hideLines">
                                    <th style="color:white !important; visibility:hidden; width:68% !important;"></th>
                                    <th>REPORTE GENERAL</th>
                                </tr>
                            </thead>
                        </table>
                        <table>
                            <thead>

                                <tr class="hideLines">
                                    <th style="color:white !important; visibility:hidden;">sssss</th>
                                </tr>
                                <tr class="hideLines">
                                    <th> {{reporte.fechaActual | date:'dd-MM-yyyy'}}</th>
                                </tr>
                                <tr ng-show="busqueda.fechaInicial" class="hideLines">
                                    <th>Estado desde {{busqueda.fechaInicial | date:'dd-MM-yyyy'}}</th>
                                </tr>
                                <tr ng-show="busqueda.fechaFinal" class="hideLines">
                                    <th>Estado hasta {{busqueda.fechaFinal | date:'dd-MM-yyyy'}}</th>
                                </tr>
                               
                            </thead>
                        </table>


                    </div>
                    <div id="printDetail">
                        <div ng-repeat="reporte in reporteGeneral.reportePorMonedas track by $index" class="scrollTablaMobile">
                            <br />
                            <h2>{{reporte.factura.monedaNombre}}</h2>
                            <table class="table table-vcenter">
                                <thead>
                                    <tr>
                                        <th>Concepto</th>
                                        <th>Referencia</th>
                                        <th>Fecha</th>
                                        <th>Monto</th>
                                        <th>Monto Adeudado</th>
                                        <th>Tasa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="recibo in reporte.pagos | orderBy :'fecha' track by $index">
                                        <td>{{recibo.concepto}}</td>
                                        <td>{{recibo.referencia}} </td>
                                        <td>{{recibo.fecha  | date : "dd-MM-yyyy"}}</td>
                                        <td>${{recibo.monto | currency : ""}}</td>
                                        <td>${{recibo.montoAdeudado | currency : ""}}</td>
                                        <td>${{recibo.tasaConversion | currency : ""}}</td>
                                    </tr>
                                </tbody>
                                
                            </table>
                            <table class="table table-vcenter">
                                <tfoot>

                                    <tr>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Total Ingresos: ${{reporte.montoPagado | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Total Egresos: ${{reporte.montoComprado | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Total : ${{(reporte.montoPagado + reporte.montoComprado )| currency:""}}</th>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Antigüedad de saldo</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">0 a 30 días: ${{obtenerSaldoPorAntiguedad(reporte,0,30) | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">30 a 60 días: ${{obtenerSaldoPorAntiguedad(reporte,30,60) | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">60 a 90 días: ${{obtenerSaldoPorAntiguedad(reporte,60,90) | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Mayor de 90 días: ${{obtenerSaldoPorAntiguedad(reporte,90,null) | currency:""}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>