﻿

<div id="reporteCxPIndex">

    <div class="panel-body " id="impresionBody"  ng-controller="reporteCxPController" ng-init="busqueda={}">
        <form name="frmreporteCxPForm" class="noImprimir" ng-class="showValidate ? 'form-validate' : ''" ng-submit="buscarGastos()" novalidate>
            <div class="form-group ">
                <label>Fecha inicio</label>
                <input type="date" class="form-control" ng-model="busqueda.fechaInicial" />
            </div>

            <div class="form-group noPresentar">
                <label>Fecha final</label>
                <input type="date" class="form-control" ng-model="busqueda.fechaFinal" />
            </div>
            <div class="noPresentar">
                <div class="form-group">
                    <label>Suplidor</label>
                    <angucomplete-alt id="suplidor" placeholder=""
                                      pause="200"
                                      selected-object="selectedSuplidor"
                                      title-field="nombre"
                                      remote-url="/api/Suplidor?pagesize=6&nombreCampo=nombre&filtro="
                                      remote-url-data-field="pagedData.result"
                                      minlength="2"
                                      initial-value=""
                                      input-class="form-control form-control-small"
                                      input-name="Suplidor"
                                      field-required="false"
                                      input-field-required="false"
                                      input-required="false"
                                      auto-match="true">
                    </angucomplete-alt>
                </div>
            </div>
            <div class="form-group noPresentar">
                <label>Moneda</label>
                <select class="form-control" ng-model="busqueda.moneda" ng-options="moneda.nombre for moneda in monedas"
                        ng-change="busqueda.monedaId = busqueda.moneda.id;"></select>
            </div>
            <my-load-data url="/api/moneda"
                          model="monedas"
                          url-data-field="data"
                          on-loaded=""></my-load-data>

            <div id="printButton" class="btn btn-default" ng-click="exportarExcel()">
                <i class="fa fa-print"></i> Exportar Excel
            </div>
            <input type="submit" class="btn btn-primary noPresentar" value="Aceptar" />
        </form>





        <div id="listagastos" class="row" ng-hide="!busquedaFinalizada">
            <div class="col-xs-12">
                <div class="block full">

                    <div class="noImprimir">
                        <button id="printButton" class="btn btn-default noImprimir" ng-click="Print()">
                            <i class="fa fa-print"></i> Imprimir
                        </button>
                        <br />
                        <br />
                    </div>
                    <div id="printHeader">
                        <div class="col-xs-12 col-md-12">
                            <div class="block full">
                                <div id="container">
                                    <table>
                                        <thead>
                                            <tr class="hideLines">
                                                <th> <img src="~/Content/images/logo.jpg" alt="header" width="230" height="60" /></th>


                                            </tr>
                                            <tr class="hideLines">
                                                <th style="color:white !important; visibility:hidden; width:67% !important;"></th>
                                                <th>CUENTAS POR PAGAR</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <table>
                                        <thead>


                                            <tr class="hideLines">
                                                <th style="color:white !important; visibility:hidden;">sssss</th>
                                            </tr>
                                            <tr class="hideLines">
                                                <th>  {{reporte.fechaActual | date:'dd-MM-yyyy'}}</th>
                                            </tr>
                                            <tr class="hideLines" ng-show="busqueda.fechaInicial">
                                                <th>Gastos desde {{busqueda.fechaInicial | date:'dd-MM-yyyy'}}</th>
                                            </tr>
                                            <tr ng-show="busqueda.fechaFinal" class="hideLines">
                                                <th>Gastos hasta {{busqueda.fechaFinal | date:'dd-MM-yyyy'}}</th>
                                            </tr>
                                            <tr ng-show="busqueda.suplidorId" class="hideLines">
                                                <th>De Suplidor:  {{busqueda.suplidor.nombre | date:'dd-MM-yyyy'}}</th>
                                            </tr>
                                            <tr class="hideLines">
                                                <th></th>
                                            </tr>
                                            <tr class="hideLines">
                                                <th></th>
                                            </tr>
                                            <tr class="hideLines">
                                                <th style="color:white !important; visibility:hidden;">sssss</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div id="printDetail">
                                        <div class="scrollTablaMobile" ng-repeat="reporte in reporteCXP.reporteGastos.gastosPorMonedas track by $index">
                                            <br />
                                            <h2>{{reporte.moneda.nombre}}</h2>
                                            @*<div ng-repeat="gastoSuplidor in reporte.gastosPorSuplidor">
                                <br /><h2>{{gastoSuplidor[0].SuplidorNombre}}</h2>*@
                                            <table class="table table-vcenter">
                                                <thead>
                                                    <tr>
                                                        <th>Suplidor</th>
                                                        <th>Fecha</th>
                                                        <th>Referencia</th>
                                                        <th>Moneda</th>
                                                        <th>Monto total</th>
                                                        <th>Monto Pagado</th>
                                                        <th>Monto Adeudado</th>
                                                        <th>Cantidad días</th>
                                                        <th>Detalles</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="gasto in reporte.gastos | orderBy :'fechaCreacion' track by $index" class="filas">
                                                        <td>{{gasto.suplidor.nombre}}</td>
                                                        <td>{{gasto.fechaEmision  | date : "dd-MM-yyyy"}}</td>
                                                        <td>{{gasto.referenciaGasto}}</td>
                                                        <td>{{gasto.moneda.codigo}}</td>
                                                        <td>{{gasto.montoTotal | currency : ""}}</td>
                                                        <td>{{gasto.montoPagado | currency : ""}}</td>
                                                        <td>{{gasto.montoAdeudado | currency : ""}}</td>
                                                        <td>{{gasto.cantidadDias}}</td>
                                                        <td>{{gasto.detalles}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <br />
                                        <br />

                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <br />

                </div>
            </div>
        </div>
    </div>
</div>