﻿

<div id="reporteImpuestosIndex" >
 
    <div class="panel-body " id="impresionBody" ng-controller="reporteImpuestosController" ng-init="busqueda={}">
        <form name="frmReporteImpuestosForm" ng-class="showValidate ? 'form-validate' : ''" class="noImprimir" ng-submit="buscarImpuestos()" novalidate>
            <div class="form-group ">
                <label>Fecha inicio</label>
                <input type="date" class="form-control" ng-model="busqueda.fechaInicial" />
            </div>

            <div class="form-group ">
                <label>Fecha final</label>
                <input type="date" class="form-control" ng-model="busqueda.fechaFinal" />
            </div>
      

            <div id="printButton" class="btn btn-default noImprimir" ng-click="exportarExcel()">
                <i class="fa fa-print"></i> Exportar Excel
            </div>
            <input type="submit" class="btn btn-primary noImprimir" value="Aceptar" />
        </form>
     




        <div id="reporteImpuestos" class="row" ng-hide="!busquedaFinalizada">
            <div class="col-xs-12">
                <div class="block full">
                    <div class="noImprimir">
                        <button id="printButton" class="btn btn-default noImprimir" ng-click="Print()">
                            <i class="fa fa-print"></i> Imprimir
                        </button>
                        <br />
                        <br />
                    </div>
                    
                    <div id="printHeader">
                        <table>
                            <thead>
                                <tr class="hideLines">
                                    <th> <img src="~/Content/images/logo.jpg" alt="header" width="230" height="60" /></th>


                                </tr>
                                <tr class="hideLines">
                                    <th style="color:white !important; visibility:hidden; width:68% !important;"></th>
                                    <th>REPORTE DE IMPUESTOS</th>
                                </tr>
                            </thead>
                        </table>
                        <table>
                            <thead>

                                <tr class="hideLines">
                                    <th style="color:white !important; visibility:hidden;">sssss</th>
                                </tr>
                                <tr class="hideLines">
                                    <th> {{reporte.fechaActual | date:'dd-MM-yyyy'}}</th>
                                </tr>
                                <tr ng-show="busqueda.fechaInicial" class="hideLines">
                                    <th>Impuestos desde {{busqueda.fechaInicial | date:'dd-MM-yyyy'}}</th>
                                </tr>
                                <tr ng-show="busqueda.fechaFinal" class="hideLines">
                                    <th>Impuestos hasta {{busqueda.fechaFinal | date:'dd-MM-yyyy'}}</th>
                                </tr>
                               
                            </thead>
                        </table>


                    </div>
                    <div id="printDetail">
                        <div ng-repeat="reporte in reporteGeneral.reportePorMonedas track by $index" class="scrollTablaMobile">
                            <br />
                            <h2>{{reporte.moneda.nombre}}</h2>
                            <table class="table table-vcenter">
                                <thead>
                                    <tr>
                                        <th>Concepto</th>
                                        <th>Impuesto</th>
                                        <th>Fecha</th>
                                        <th>Monto Impuesto</th>
                                        <th>Monto Factura</th>
                                        <th>Monto Pagado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="recibo in reporte.impuestosVentas | orderBy :'fecha' track by $index">
                                        <td>{{recibo.noFactura}}</td>
                                        <td>{{recibo.impuesto.nombre}}</td>
                                        <td>{{recibo.fecha  | date : "dd-MM-yyyy"}}</td>
                                        <td>{{recibo.montoImpuesto | currency : ""}}</td>
                                        <td>{{recibo.factura.montoTotal | currency : ""}} </td>
                                        <td>${{recibo.factura.montoPagado | currency : ""}}</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr ng-repeat="recibo in reporte.impuestosPagos | orderBy :'fecha' track by $index">
                                        <td>{{recibo.noFactura}}</td>
                                        <td>{{recibo.impuesto.nombre}}</td>
                                        <td>{{recibo.fecha  | date : "dd-MM-yyyy"}}</td>
                                        <td>{{recibo.montoImpuesto | currency : ""}}</td>
                                        <td>{{recibo.factura.montoTotal | currency : ""}} </td>
                                        <td>${{recibo.factura.montoPagado | currency : ""}}</td>
                                    </tr>
                                </tbody>
                                
                            </table>
                            <table class="table table-vcenter">
                                <tfoot>

                                    <tr>
                                        <th class="text-left">{{reporte.moneda.codigo}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Total Ventas: ${{reporte.montoTotalVentas | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Total Pagos: ${{reporte.montoTotalPagos | currency:""}}</th>
                                    </tr>
                                   
                                </tfoot>
                            </table>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>