﻿<style>
    .noExiste {
    color:red;
    }
</style>

<div id="cxcGeneralIndex" >
 
    <div class="panel-body" id="impresionBody" ng-controller="reporteInventarioController">
        <form name="frmReporteInventarioForm" ng-class="showValidate ? 'form-validate' : ''" class="noImprimir" ng-submit="BuscarLocalidades()" novalidate>



            <div class="form-group">
                <label>Localidad</label>
                <select class="form-control" ng-model="busqueda.localidad" name="localidad" data-error="Debe seleccionar una localidad"
                        ng-options="localidad.nombre for localidad in localidades track by localidad.id "
                        ng-change="busqueda.localidadId=busqueda.localidad.id"></select>
            </div>


            <div class="form-group">
                <label>Almacen</label>
                <select class="form-control" ng-model="busqueda.almacen" name="localidad" data-error="Debe seleccionar un almacen"
                        ng-options="almacen.nombre for almacen in almacenes track by almacen.id "
                        ng-change="busqueda.almacenId=busqueda.almacen.id"></select>
            </div>

            <div class="form-group ">
                <label>Producto</label>
                <angucomplete-alt id="producto" placeholder=""
                                  pause="200"
                                  selected-object="selectedProducto"
                                  title-field="producto.nombre"
                                  local-data="reporteGeneral.inventarioPorLocalidades"
                                  local-search="obtenerProductoDeInventario"
                                  minlength="2"
                                  initial-value=""
                                  input-class="form-control form-control-small"
                                  input-name="producto"
                                  field-required="false"
                                  input-field-required="false"
                                  input-required="false"
                                  auto-match="true">
                </angucomplete-alt>
            </div>


            <div class="form-group">
                <label>No mostrar Productos agotados</label>
                <input type="checkbox" ng-model="busqueda.noProductosAgotados" ng-model-options="{allowInvalid: true}" />
            </div>

            <div id="printButton" class="btn btn-default" ng-click="exportarExcel()">
                <i class="fa fa-print"></i> Exportar Excel
            </div>
            <input type="submit" class="btn btn-primary" value="Aceptar" />
        </form>
     

        <div class="row form-inline noImprimir" ng-show="mostrarProductoEspecifico">
          <h2>PRODUCTO: </h2> <h4 style="color:red;">{{productoEspecifico.producto.nombre}} </h4> <h2>EXISTENCIA: </h2> <h4 style="color:red;">{{productoEspecifico.cantidad}}  {{productoEspecifico.unidad.nombre}}</h4>
        </div>


        <div id="estadoCuenta" class="row" ng-hide="!busquedaFinalizada">
            <div class="col-xs-12">
                <div class="block full">

                    <div class="noImprimir">
                        <button id="printButton" class="btn btn-default noImprimir" ng-click="Print()">
                            <i class="fa fa-print"></i> Imprimir
                        </button>
                        <br />
                        <br />
                    </div>
                    <div id="printHeader">
                        <table>
                            <thead>
                                <tr class="hideLines">
                                    <th> <img src="~/Content/images/logo.jpg" alt="header" width="230" height="60" /></th>


                                </tr>
                                <tr class="hideLines">
                                    <th style="color:white !important; visibility:hidden; width:66% !important;"></th>
                                    <th>REPORTE DE INVENTARIO</th>
                                </tr>
                            </thead>
                        </table>
                        <table>
                            <thead>

                                <tr class="hideLines">
                                    <th style="color:white !important; visibility:hidden;">sssss</th>
                                </tr>
                                <tr class="hideLines">
                                    <th>{{reporte.fechaActual | date:'dd-MM-yyyy'}}</th>
                                </tr>

                            </thead>
                        </table>



                    </div>
                    <div id="printDetail">
                        <div class="scrollTablaMobile" ng-repeat="reporte in reporteGeneral.inventarioPorLocalidades track by reporte.id">
                            <br />
                            <h2>{{reporte.nombre}}</h2>
                            <div ng-repeat="almacen in reporte.almacenes track by almacen.id">
                                <h3>{{almacen.nombre}}</h3>
                                <table class="table table-vcenter">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Existencia</th>
                                            <th>Unidad</th>
                                            <th>Costo</th>
                                            <th>Precio</th>
                                            <th>Total (Costo)</th>
                                            <th>Total (Precio)</th>

                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="producto in almacen.productos | orderBy: obtenerOrden() track by $index">
                                        @*reporteGeneral ->inventarioPorLocalidades ->almacenes -> productos*@

                                        <tr ng-class="producto.cantidad<=0?'noExiste':''">

                                            <td><span>{{producto.producto.nombre}}</span></td>
                                            <td>{{producto.cantidad}}</td>
                                            <td>{{producto.unidad.nombre}}</td>
                                            <td>${{(obtenerCosto(producto)) | currency:""}}</td>
                                            <td>${{(obtenerPrecio(producto)) | currency:""}}</td>
                                            <td>${{(obtenerCostoTotal(producto)) | currency:""}}</td>
                                            <td>${{(obtenerPrecioTotal(producto)) | currency:""}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th class="text-left" >Costo Total Existencia</th>
                                            <th class="text-left" >Precio Total Existencia</th>
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">${{obtenerTotalCostoAlmacen(almacen) | currency:""}}</th>
                                            <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">${{obtenerTotalPrecioAlmacen(almacen) | currency:""}}</th>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <br />
                        <br />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>