﻿

<div id="reporteRecibosIndex" >
 
    <div class="panel-body " id="impresionBody" ng-controller="reporteRecibosController" ng-init="busqueda={}">
        <form name="frmReporteRecibosForm" ng-class="showValidate ? 'form-validate' : ''" class="noImprimir" ng-submit="buscarRecibos()" novalidate>
            <div class="form-group ">
                <label>Fecha inicio</label>
                <input type="date" class="form-control" ng-model="busqueda.fechaInicial" />
            </div>

            <div class="form-group ">
                <label>Fecha final</label>
                <input type="date" class="form-control" ng-model="busqueda.fechaFinal" />
            </div>
            <div class="">
                <div class="form-group">
                    <label>Cliente</label>
                    <angucomplete-alt id="cliente" placeholder=""
                                      pause="200"
                                      selected-object="selectedCliente"
                                      title-field="codigoYNombre"
                                      remote-url="/api/cliente?pagesize=6&nombreCampo=nombre&filtro="
                                      remote-url-data-field="pagedData.result"
                                      minlength="2"
                                      initial-value=""
                                      input-class="form-control form-control-small"
                                      input-name="cliente"
                                      field-required="false"
                                      input-field-required="false"
                                      input-required="false"
                                      auto-match="true">
                    </angucomplete-alt>
                </div>

                <div class="form-group">
                    <label>Vendedor</label>
                    <angucomplete-alt id="vendedor" placeholder=""
                                      pause="200"
                                      selected-object="selectedVendedor"
                                      title-field="codigoYNombre"
                                      remote-url="/api/vendedor?pagesize=6&nombreCampo=nombre&filtro="
                                      remote-url-data-field="pagedData.result"
                                      minlength="2"
                                      initial-value=""
                                      input-class="form-control form-control-small"
                                      input-name="vendedor"
                                      field-required="false"
                                      input-field-required="false"
                                      input-required="false"
                                      auto-match="true">
                    </angucomplete-alt>
                </div>
            </div>

            <div id="printButton" class="btn btn-default noImprimir" ng-click="exportarExcel()">
                <i class="fa fa-print"></i> Exportar Excel
            </div>
            <input type="submit" class="btn btn-primary noImprimir" value="Aceptar" />
        </form>
     




        <div id="reporteRecibos" class="row" ng-hide="!busquedaFinalizada">
            <div class="col-xs-12">
                <div class="block full">
                    <div class="noImprimir">
                        <button id="printButton" class="btn btn-default noImprimir" ng-click="Print()">
                            <i class="fa fa-print"></i> Imprimir
                        </button>
                        <br />
                        <br />
                    </div>
                    
                    <div id="printHeader">
                        <table>
                            <thead>
                                <tr class="hideLines">
                                    <th> <img src="~/Content/images/logo.jpg" alt="header" width="230" height="60" /></th>


                                </tr>
                                <tr class="hideLines">
                                    <th style="color:white !important; visibility:hidden; width:68% !important;"></th>
                                    <th>RECIBOS DE INGRESO</th>
                                </tr>
                            </thead>
                        </table>
                        <table>
                            <thead>

                                <tr class="hideLines">
                                    <th style="color:white !important; visibility:hidden;">sssss</th>
                                </tr>
                                <tr class="hideLines">
                                    <th> {{reporte.fechaActual | date:'dd-MM-yyyy'}}</th>
                                </tr>
                                <tr ng-show="busqueda.fechaInicial" class="hideLines">
                                    <th>Recibos desde {{busqueda.fechaInicial | date:'dd-MM-yyyy'}}</th>
                                </tr>
                                <tr ng-show="busqueda.fechaFinal" class="hideLines">
                                    <th>Recibos hasta {{busqueda.fechaFinal | date:'dd-MM-yyyy'}}</th>
                                </tr>
                                <tr ng-show="busqueda.clienteId" class="hideLines">
                                    <th>De cliente:  {{busqueda.cliente.nombre | date:'dd-MM-yyyy'}}</th>
                                </tr>
                                <tr ng-show="busqueda.vendedorId" class="hideLines">
                                    <th>De vendedor:  {{busqueda.vendedor.nombre | date:'dd-MM-yyyy'}}</th>
                                </tr>
                            </thead>
                        </table>


                    </div>
                    <div id="printDetail">
                        <div ng-repeat="reporte in reporteGeneral.reportePorMonedas track by $index" class="scrollTablaMobile">
                            <br />
                            <h2>{{reporte.moneda.nombre}}</h2>
                            <table class="table table-vcenter">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>Fecha Pago</th>
                                        <th>No. Recibo</th>
                                        <th>Monto</th>
                                        <th>Tipo de Pago</th>
                                        <th>No. Talonario</th>
                                        <th>No. Factura</th>
                                        <th>Monto Pendiente</th>
                                        <th>Vendedor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="recibo in reporte.pagos | orderBy :'fechaCreacion' track by recibo.id">
                                        <td>{{recibo.cliente.codigoYNombre}}</td>
                                        <td>{{recibo.fechaCreacion  | date : "dd-MM-yyyy"}}</td>
                                        <td>{{recibo.secuencia}}</td>
                                        <td>${{recibo.montoPagado | currency : ""}}</td>
                                        <td>{{recibo.tipoPagoNombre}}</td>
                                        <td>{{recibo.noTalonario}}</td>
                                        <td>{{recibo.noFactura}} </td>
                                        <td>${{recibo.montoPendiente | currency:""}}</td>
                                        <td>{{recibo.vendedor?recibo.vendedor.nombre:'N/A'}}</td>
                                    </tr>
                                </tbody>
                                
                            </table>
                            <table class="table table-vcenter">
                                <tfoot>

                                    <tr>
                                        <th class="text-left">{{reporte.codigoMoneda}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Pagado: ${{reporte.montoPagado | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Adeudado: ${{reporte.montoAdeudado | currency:""}}</th>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Antigüedad de saldo</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">0 a 30 días: ${{obtenerSaldoPorAntiguedad(reporte,0,30) | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">30 a 60 días: ${{obtenerSaldoPorAntiguedad(reporte,30,60) | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">60 a 90 días: ${{obtenerSaldoPorAntiguedad(reporte,60,90) | currency:""}}</th>
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Mayor de 90 días: ${{obtenerSaldoPorAntiguedad(reporte,90,null) | currency:""}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>