﻿


<div id="RolesIndex" >
 
    <div ng-controller="TablaDerolesController">
        <br /><br />
              <div class="row">
                  <div class="col-md-4 col-xs-12 col-sm-12">
                      <a href="#" class="btn btn-primary btn-sm" ng-click="editarRoles(0)"> Ingresar Role</a>
                  </div>

                  <div class="col-md-4 col-xs-12 col-sm-12">

                      <div class="form-group">
                          <label>Mostrar inactivos</label>
                          <input bs-switch
                                 name="facturaChk"
                                 ng-model="inactivos"
                                 type="checkbox"
                                 switch-active="true"
                                 switch-readonly="false"
                                 switch-size="small"
                                 switch-animate="true"
                                 switch-label=""
                                 switch-icon="icon-save"
                                 switch-on-text="Si"
                                 switch-off-text="No"
                                 switch-on-color="warning"
                                 switch-off-color="primary"
                                 switch-radio-off="true"
                                 switch-label-width="{{ labelWidth }}"
                                 switch-handle-width="{{ handleWidth }}"
                                 switch-inverse="false"
                                 ng-true-value="{{true}}"
                                 ng-false-value="{{false}}">

                      </div>

                  </div>

              </div>
      
        <br /><br />
        <div class="panel panel-primary">
            <div class="panel-heading"><h2 style="margin-top:0;margin-bottom:0;">Roles</h2></div>
          

            <div class="panel-body">

                <div class="tab-content">
                    <!--INICIO TABLA DE Roles-->
                    <div class="tab-pane fade in active scrollTablaMobile" >
                        <br />
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    
                                    <th class="col-md-1 col-xs-1 col-sm-1">Id</th>
                                    <th class="col-md-2 col-xs-2 col-sm-2">Nombre</th>
                                    <th class="col-md-4 col-xs-12 col-sm-12"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="role in resultadoEnPantalla.roles">
                                    <td class="col-md-1 col-xs-1 col-sm-1">{{role.id }}</td>
                                    <td class="col-md-2 col-xs-2 col-sm-2">{{role.name }}</td>
                                    <td class="col-md-4 col-xs-12 col-sm-12" align="center">
                                       
                                        <div class="btn-group  btn-group-sm btn-group-lg text-center JustifyCenter">
                                            <a class="btn btn-primary btn-sm" href="#" ng-click="editarRoles(role.id)" title="Eliminar">
                                                <i class="glyphicon"></i>
                                                <span class="option">Editar</span>
                                            </a>
                                            <a class="btn btn-primary btn-sm" href="#" ng-click="borrarRole(role.id)" title="Borrar Usuario">
                                                <i class="glyphicon glyphicon-trash"></i>
                                                <span class="option">Borrar</span>
                                            </a>
                                            <a class="btn btn-primary btn-sm" href="#" ng-click="asignarPermisos(role)" title="Permisos">
                                                <i class="glyphicon"></i>
                                                <span class="option">Permisos</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row" style="margin-right:5px">
                            <div class="col-md-3  col-xs-12 col-sm-12">
                                <p class="lead pull-left" style="vertical-align:central">
                                    <span class="badge badge-default" style="margin-bottom:5px">{{resultadoEnPantalla.totalRoles | number}}</span>
                                </p>
                            </div>
                            <div class="col-md-9 col-xs-9 col-sm-9" id="navBarFacturacion">
                                <ul class="pull-right"
                                    uib-pagination
                                    previous-text="Anterior"
                                    next-text="Siguiente"
                                    total-items="resultadoEnPantalla.totalRoles"
                                    items-per-page="resultadoEnPantalla.pageSize"
                                    max-size="10"
                                    ng-model="resultadoEnPantalla.currentPage"
                                    ng-change="pageChanged()"></ul>
                            </div>

                        </div>
                    </div>
                    <!--FIN TABLA DE Roles-->

                </div>
            </div>
        </div>
    </div>
</div>