﻿


<div id="TarifarioClienteIndex" >
 
    <div ng-controller="TablaDeTarifarioClientesController">
        <br /><br />
        <a href="#" class="btn btn-primary btn-sm" ng-click="EditarTarifarioCliente(0)" > Crear Tarifa</a>
        <br /><br />
        <div class="panel panel-primary">
            <div class="panel-heading"><h2 style="margin-top:0;margin-bottom:0;">Tarifario Clientes</h2></div>

            <div class="panel-body">

                <div class="tab-content">
                    <!--INICIO TABLA DE Tarifario-->
                    <div class="tab-pane fade in active scrollTablaMobile" >
                        <br />
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Cliente</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Producto / Servicio</th>
                                    <th class="col-md-1 col-xs-1 col-sm-1">Tarifa</th>
                                    <th class="col-md-3  col-xs-12 col-sm-12"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tarifa in resultadoEnPantalla.tarifarioClientes">
                                    <td>{{tarifa.Cliente.Nombre}}</td>
                                    <td>{{tarifa.Producto.Nombre}}</td>
                                    <td>{{tarifa.Tarifa}}</td>
                                    <td align="left">
                                        <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                            <a class="btn btn-primary btn-sm" ng-click="EditarTarifarioCliente(tarifa.Id)" title="Editar"><i class="fa fa-pencil"></i> <span class="option">Editar</span> </a>
                                        </div>
                                        <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter" ng-hide="!tarifa.activo">
                                            <a class="btn btn-primary btn-sm" href="#" ng-click="BorrarTarifarioCliente(tarifa.Id)" title="Desactivar">
                                                <i class="glyphicon glyphicon-trash"></i>
                                                <span class="option">Eliminar</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row" style="margin-right:5px">
                            <div class="col-md-3  col-xs-12 col-sm-12">
                                <p class="lead pull-left" style="vertical-align:central">
                                    <span class="badge badge-default" style="margin-bottom:5px">{{resultadoEnPantalla.totalTarifas | number}}</span>
                                </p>
                            </div>
                            <div class="col-md-9  col-xs-12 col-sm-12" id="navBarFacturacion">
                                <ul class="pull-right"
                                    uib-pagination
                                    previous-text="Anterior"
                                    next-text="Siguiente"
                                    total-items="resultadoEnPantalla.totalTarifas"
                                    items-per-page="resultadoEnPantalla.pageSize"
                                    max-size="10"
                                    ng-model="resultadoEnPantalla.currentPage"
                                    ng-change="pageChanged()"></ul>
                            </div>
                        </div>
                    </div>
                    <!--FIN TABLA DE FACTURACION-->

                </div>
            </div>
        </div>
    </div>
</div>