﻿




<div id="ProductoIndex">

    <div ng-controller="TablaDeTransferenciaAlmacenesController">
        <br /><br />
              <div class="row">
                  <div class="col-md-4 col-xs-12 col-sm-12">
                      <a href="#" class="btn btn-primary btn-sm" ng-click="EditarTransferenciaAlmacen(-1)">Crear entrada</a>
                  </div>
                  <div class="col-md-4 col-xs-12 col-sm-12">

                      <div class="form-group">
                          <label>Mostrar inactivos</label>
                          <input bs-switch
                                 name="facturaChk"
                                 ng-model="inactivos"
                                 type="checkbox"
                                 switch-active="true"
                                 switch-readonly="false"
                                 switch-size="small"
                                 switch-animate="true"
                                 switch-label=""
                                 switch-icon="icon-save"
                                 switch-on-text="Si"
                                 switch-off-text="No"
                                 switch-on-color="warning"
                                 switch-off-color="primary"
                                 switch-radio-off="true"
                                 switch-label-width="{{ labelWidth }}"
                                 switch-handle-width="{{ handleWidth }}"
                                 switch-inverse="false"
                                 ng-true-value="{{true}}"
                                 ng-false-value="{{false}}">

                      </div>

                  </div>
              </div>
       
        <br /><br />
        <div class="panel panel-primary">
            <div class="panel-heading"><h2 style="margin-top:0;margin-bottom:0;">Movimientos entre almacenes</h2></div>

            <div class="panel-body">

                <div class="tab-content">
                    <!--INICIO TABLA DE Productos-->
                    <div class="tab-pane fade in active scrollTablaMobile">
                        <br />
                     
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-1 col-sm-1 col-xs-1">Almacen de origen</th>
                                    <th class="col-md-1 col-sm-1 col-xs-1">Fecha de transferencia</th>
                                    <th class="col-md-2 col-xs-12 col-sm-12">Producto</th>
                                    <th class="col-md-1 col-sm-1 col-xs-1">Cantidad</th>
                                    <th class="col-md-2 col-xs-12 col-sm-12">Almacen de recepción</th>
                                    <th class="col-md-2 col-xs-12 col-sm-12">Creado Por</th>
                                    <th class="col-md-3 col-sm-3 col-xs-3"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="transferencia in resultadoEnPantalla.transferenciaAlmacenes">

                                    <td  class="col-md-1 col-sm-1 col-xs-1">{{transferencia.almacenOrigen.nombre}}</td>
                                    <td  class="col-md-1 col-sm-1 col-xs-1">{{ObtenerSoloFecha(transferencia.fechaCreacion)}}</td>
                                    <td  class="col-md-2 col-xs-12 col-sm-12">{{transferencia.producto.nombre}}</td>
                                    <td  class="col-md-1 col-sm-1 col-xs-1">{{transferencia.cantidad}}</td>
                                    <td  class="col-md-2 col-xs-12 col-sm-12">{{transferencia.almacenDestino.nombre}}</td>
                                    <td  class="col-md-2 col-xs-12 col-sm-12">{{transferencia.creadoPor}}</td>
                                    <td  class="col-md-3 col-sm-3 col-xs-3" align="left">
                                        <div class="btn-group  btn-group-sm btn-group-lg text-center JustifyCenter">
                                            <a class="btn btn-primary btn-sm btn-xs" href="ImpresionEntrada/ImprimirTransferencia?id={{transferencia.referencia}}" target="_blank" title="Imprimir"><i class="glyphicon glyphicon-print"></i> <span class="option">Imprimir</span> </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row" style="margin-right:5px">
                            <div class="col-md-3  col-xs-12 col-sm-12">
                                <p class="lead pull-left" style="vertical-align:central">
                                    <span class="badge badge-default" style="margin-bottom:5px">{{resultadoEnPantalla.transferenciaAlmacenes | number}}</span>
                                </p>
                            </div>
                            <div class="col-md-9  col-xs-12 col-sm-12" id="navBarFacturacion">
                                <ul class="pull-right"
                                    uib-pagination
                                    previous-text="Anterior"
                                    next-text="Siguiente"
                                    total-items="resultadoEnPantalla.totalTransferenciaAlmacenes"
                                    items-per-page="resultadoEnPantalla.pageSize"
                                    max-size="10"
                                    ng-model="resultadoEnPantalla.currentPage"
                                    ng-change="pageChanged()"></ul>
                            </div>
                        </div>
                    </div>
                    <!--FIN TABLA DE FACTURACION-->

                </div>
            </div>
        </div>
    </div>
</div>