﻿




<div id="UsuarioIndex">

    <div ng-controller="TablaDeUsuariosController">
        <br /><br />
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12">
                <a href="#" class="btn btn-primary btn-sm" ng-click="EditarUsuario('')"> Crear usuario / Servicio</a>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">

                <div class="form-group">
                    <label>Mostrar inactivos</label>
                    <input bs-switch
                           name="usuarioChk"
                           ng-model="inactivos"
                           type="checkbox"
                           switch-active="true"
                           switch-readonly="false"
                           switch-size="small"
                           switch-animate="true"
                           switch-label=""
                           switch-icon="icon-save"
                           switch-on-text="Si"
                           switch-off-text="No"
                           switch-on-color="warning"
                           switch-off-color="primary"
                           switch-radio-off="true"
                           switch-label-width="{{ labelWidth }}"
                           switch-handle-width="{{ handleWidth }}"
                           switch-inverse="false"
                           ng-true-value="{{true}}"
                           ng-false-value="{{false}}">

                </div>

            </div>
        </div>
       
        <br /><br />
        <div class="panel panel-primary">
            <div class="panel-heading"><h2 style="margin-top:0;margin-bottom:0;">Usuarios</h2></div>

            <div class="panel-body">

                <div class="tab-content">
                    <!--INICIO TABLA DE usuarios-->
                    <div class="tab-pane fade in active scrollTablaMobile">
                        <br />

                        <table class="table table-striped table-hover table-responsive table-bordered">
                            <thead>
                                <tr>

                                    <th class="col-md-2 col-xs-2 col-sm-2">Nombre</th>
                                    <th class="col-md-1 col-xs-2 col-sm-2">Cédula</th>
                                    <th class="col-md-1 col-xs-2 col-sm-2">Alias</th>
                                    <th class="col-md-1 col-xs-2 col-sm-2">Activo</th>
                                    <th class="col-md-3  col-xs-12 col-sm-12"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="usuario in resultadoEnPantalla.usuarios">
                                    <td class="col-md-2 col-xs-2 col-sm-2">{{usuario.nombre +' '+usuario.apellido}} </td>
                                    <td class="col-md-1 col-xs-2 col-sm-2" >{{usuario.cedula}}</td >
                                    <td class="col-md-1 col-xs-2 col-sm-2">{{usuario.userName}}</td>
                                    <td class="col-md-1 col-xs-2 col-sm-2">{{usuario.activo?'Si':'No'}}</td>
                                    <td class="col-md-3  col-xs-12 col-sm-12" align="center">
                                        <div class="btn-group  btn-group-sm btn-group-lg text-center JustifyCenter">
                                            <a class="btn btn-primary btn-xs" ng-click="EditarUsuario(usuario.id)" title="Editar"><i class="fa fa-pencil"></i> <span class="option">Editar</span> </a>
                                            <a class="btn btn-primary  btn-sm btn-xs" href="#" ng-click="BorrarUsuario(usuario.id)" title="Desactivar" ng-hide="usuario.activo==0">
                                                <i class="glyphicon glyphicon-trash"></i>
                                                <span class="option">Desactivar</span>
                                            </a>
                                            <a class="btn btn-primary  btn-sm btn-xs " href="#" ng-click="cambiarPassword(usuario.id)" title="Desactivar">
                                                <i class="glyphicon glyphicon-lock"></i>
                                                <span class="option">Cambiar contraseña</span>
                                            </a>
                                             <a class="btn btn-primary  btn-sm btn-xs " href="#" ng-click="asignarRoles(usuario.id)" title="Roles">
                                                <i class="glyphicon glyphicon-lock"></i>
                                                <span class="option">Asignar roles</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row" style="margin-right:5px">
                            <div class="col-md-3 col-xs-12 col-sm-12">
                                <p class="lead pull-left" style="vertical-align:central">
                                    <span class="badge badge-default" style="margin-bottom:5px">{{resultadoEnPantalla.totalUsuarios | number}}</span>
                                </p>
                            </div>
                            <div class="col-md-9 col-xs-12 col-sm-12" id="navBarFacturacion">
                                <ul class="pull-right"
                                    uib-pagination
                                    previous-text="Anterior"
                                    next-text="Siguiente"
                                    total-items="resultadoEnPantalla.totalUsuarios"
                                    items-per-page="resultadoEnPantalla.pageSize"
                                    max-size="10"
                                    ng-model="resultadoEnPantalla.currentPage"
                                    ng-change="pageChanged()"></ul>
                            </div>
                        </div>
                    </div>
                    <!--FIN TABLA DE FACTURACION-->

                </div>
            </div>
        </div>
    </div>
</div>