﻿
@{
    Layout = null;
}

<script src="~/Content/jquery/dist/jquery.min.js"></script>
<script src="~/Content/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Content/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/Scripts/angular/angular.min.js"></script>
<script src="~/Scripts/angular-resource.min.js"></script>
<script src="~/Scripts/Services/apiService.js"></script>

<link href="~/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/angucomplete-alt/angucomplete-alt.css" rel="stylesheet" />
<link href="~/Content/PaceJs/paceJs.css" rel="stylesheet" />
<link href="~/Content/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />


<script src="~/Scripts/Apps/impresionApp.js"></script>


<link href="~/Content/printStyle.css" rel="stylesheet" />



<div ng-app="impresionApp" ng-init="notaCreditoRef='@((string)ViewBag.notaCreditoReferencia)'; cantidadDeCopias=2">
    <div class="panel-body" id="impresionTransferenciaBody" ng-controller="impresionNotaCreditoController">
        <div class="row noImprimir">
            <div class="col-md-2 col-xs-12 col-sm-12">
                <input type="text" id="textoProvisional" class="form-control" ng-model="textoProvisional" />
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12">
                <button id="printButton" class="btn btn-default col-md-2" ng-click="Print()">
                    <i class="fa fa-print"></i> Imprimir
                </button>
            </div>

        </div>
        <div id="estadoCuenta" class="row">
            <div class="col-xs-12">
                <div class="block full">

                    <div id="printHeader">
                        <div class="row">
                            <div class="col-xs-8">
                                <img src="~/Content/images/logo.jpg" alt="header" width="300" height="80" />

                            </div>
                            <div class="col-xs-3 col-xs-offset-9">
                                <h3 class="text-center">
                                    {{notaCredito.fechaCreacion | date:'dd-MM-yyyy'}}<br /> @*@(User.Identity.Name.Split().Last())*@
                                </h3>
                            </div>
                        </div>
                        
                        <div class="row ">
                         
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>Código:{{notaCredito.secuencia}}</h4>
                                <h4>NCF:{{notaCredito.ncf}}</h4>
                                <h4>Monto:{{notaCredito.moneda.codigo}} {{notaCredito.monto | currency}}</h4>
                                <h4>Factura origen: {{notaCredito.noFacturaOrigenId}}</h4>
                                <h4 ng-show="notaCredito.noFacturaAplicadaId">Factura aplicada: {{notaCredito.noFacturaAplicadaId}}</h4>
                                <h4>Creado por: {{notaCredito.creadoPor.toUpperCase()}}</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
