﻿
@{
    Layout = null;
}

<script src="~/Content/jquery/dist/jquery.min.js"></script>
<script src="~/Content/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Content/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/Scripts/angular/angular.min.js"></script>
<script src="~/Scripts/angular-resource.min.js"></script>
<script src="~/Scripts/Services/apiService.js"></script>

<link href="~/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/angucomplete-alt/angucomplete-alt.css" rel="stylesheet" />
<link href="~/Content/PaceJs/paceJs.css" rel="stylesheet" />
<link href="~/Content/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />

<link href="~/Content/printStylePos.css" rel="stylesheet" />


<script src="~/Scripts/Apps/impresionApp.js"></script>




<div ng-app="impresionApp" ng-init="secuencia='@((string)ViewBag.secuencia)'; cantidadDeCopias=2">
    <div class="panel-body" id="impresionTransferenciaBody" ng-controller="impresionPagoController">
        <div class="row noImprimir">
            <div class="col-md-2 col-xs-12 col-sm-12">
                <input type="text" id="textoProvisional" class="form-control" ng-model="textoProvisional" />
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12">
                <button id="printButton" class="btn btn-default col-md-2" ng-click="Print()">
                    <i class="fa fa-print"></i> Imprimir
                </button>
            </div>

        </div>
        <div id="estadoCuenta" class="row">
            <div class="col-xs-12">
                <div class="block full">

                    <div id="printHeader">
                        <div class="row">
                            <div class="col-xs-8">
                                <img style="margin-left:20%;" src="~/Content/images/logo.jpg" alt="header" width="200" height="80" />

                            </div>
                        </div>
                        <br /><br />
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Fecha pago: {{pago.fechaCreacion | date:'dd-MM-yyyy'}}</p>
                                <p>Recibo No.: {{pago.secuencia.toUpperCase()}}</p>
                                <p>Cliente: {{pago.cliente.nombre}}</p>
                                <p>Moneda: {{pago.moneda.nombre}}({{pago.moneda.codigo}})</p>
                                <p>Creado por: {{pago.creadoPor.toUpperCase()}}</p>
                                <p ng-class="{'hidden':!textoProvisional}">Observaciones: {{textoProvisional.toUpperCase()}}</p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div id="printDetail">
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>

                                        <th>Factura</th>
                                        <th>Pagado</th>
                                        <th>Total</th>
                                        <th>Adeudado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="detalle in pago.detallesPago">
                                        <td>{{detalle.noFactura}}</td>

                                        <td class="text-center">{{detalle.montoPagado | currency:""}}</td>
                                        <td class="text-center">{{detalle.montoTotal | currency:""}}</td>
                                        <td class="text-center">{{detalle.montoPendiente | currency:""}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>

                                    <tr>
                                        <th class="text-left">TOTAL PAGADO: {{ItemSumm(pago.detallesPago,'montoPagado') | currency:""}} {{pago.moneda.codigo}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <br />
                        <br /><br />
                        <br />

                        @*<table class="table table-vcenter">
                                <tfoot>

                                    <tr>

                                        <th class="text-center" style="border-top: 2px solid black;">RECIBIDO</th>
                                        <th style=" border:none; width:100px;"></th>
                                        <th class="text-center" style="border-top: 2px solid black;">  BULTOS  </th>
                                        <th style=" border:none; width:100px;"></th>
                                        <th class="text-center" style="border-top: 2px solid black;">DESPACHADO</th>
                                    </tr>
                                </tfoot>
                            </table>*@

                    </div>




                </div>
            </div>
        </div>

    </div>
</div>

