﻿
@{
    Layout = null;
}

<script src="~/Content/jquery/dist/jquery.min.js"></script>
<script src="~/Content/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Content/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/Scripts/angular/angular.min.js"></script>
<script src="~/Scripts/angular-resource.min.js"></script>
<script src="~/Scripts/Services/apiService.js"></script>

<link href="~/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/angucomplete-alt/angucomplete-alt.css" rel="stylesheet" />
<link href="~/Content/PaceJs/paceJs.css" rel="stylesheet" />
<link href="~/Content/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />
<link href="~/Content/printStyle.css" rel="stylesheet" />



<script src="~/Scripts/Apps/impresionApp.js"></script>




<div ng-app="impresionApp" ng-init="movimientoId='@((string)ViewBag.movimientoId)'; cantidadDeCopias=2">
    <div class="panel-body" id="impresionEntradaBody" ng-controller="impresionEntradaController">
        <div class="row noImprimir">
            <div class="col-md-2 col-xs-12 col-sm-12">
                <input type="text" id="textoProvisional" class="form-control" ng-model="textoProvisional" />
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12">
                <button id="printButton" class="btn btn-default col-md-2" ng-click="Print()">
                    <i class="fa fa-print"></i> Imprimir
                </button>
            </div>

        </div>
        <div id="estadoCuenta" class="row">
            <div class="col-xs-12">
                <div class="block full">

                    <div id="printHeader">
                        <div class="row">
                            <div class="col-xs-8">
                                <img src="~/Content/images/logo.jpg" alt="header" width="300" height="80" />

                            </div>
                            <div class="col-xs-3 col-xs-offset-9">
                                <h3 class="text-center">
                                    {{movimiento.fechaCreacion | date:'dd-MM-yyyy'}}<br /> @*@(User.Identity.Name.Split().Last())*@
                                </h3>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-xs-3 col-xs-offset-9">
                                <h4 class="text-center">movimiento: {{movimiento.referencia.toUpperCase()}}</h4>
                                <h4 style="height:10px;"></h4>
                                <h4 class="text-center">{{textoProvisional.toUpperCase()}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>Suplidor: {{movimiento.suplidor.nombre}}</h4>
                                <h4>Dirección: {{movimiento.suplidor.direccion}}</h4>
                                <h4>Teléfono: {{movimiento.suplidor.telefono}}</h4>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div id="printDetail">
                        <div>
                            <table class="table table-vcenter">
                                <thead>
                                    <tr>

                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Unidad</th>
                                        <th>Itbis</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="detalles in movimiento.movimientosEntradas" class="filas">
                                        <td>{{detalles.producto.nombre}}</td>
                                        <td>{{detalles.cantidad | number}}</td>
                                        <td>{{detalles.unidad.nombre}}</td>
                                        <td>${{detalles.montoItbis  | currency : ""}}</td>
                                        <td>${{detalles.montoTotal  | currency : ""}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>

                                    <tr>
                                        <th class="text-left">{{movimiento.almacen.nombre}}</th>
                                        <th></th>

                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">CANTIDAD DE ARTICULOS: {{ItemSumm(movimiento.movimientosEntradas,'cantidad') | number}}</th>
                                        @*<th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Total ITBIS: ${{ItemSumm(movimiento.movimientosEntradas,'montoItbis') | currency:""}}</th>*@
                                        <th class="text-left" style="border-top: 2px solid black; border-bottom: 3px double black">Monto Total: {{ItemSumm(movimiento.movimientosEntradas,'montoTotal') | currency:""}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <br />
                        <br /><br />
                        <br />

                        @*<table class="table table-vcenter">
                                <tfoot>

                                    <tr>

                                        <th class="text-center" style="border-top: 2px solid black;">RECIBIDO</th>
                                        <th style=" border:none; width:100px;"></th>
                                        <th class="text-center" style="border-top: 2px solid black;">  BULTOS  </th>
                                        <th style=" border:none; width:100px;"></th>
                                        <th class="text-center" style="border-top: 2px solid black;">DESPACHADO</th>
                                    </tr>
                                </tfoot>
                            </table>*@

                    </div>




                </div>
            </div>
        </div>

    </div>
</div>
