﻿@{
    Layout = null;
}

<div class="panel panel-primary" style="margin-bottom:0!important">
    <div class="panel-heading">
        <h4>{{headerMessage || 'Confirmación'}}</h4>
        <h4 title="Cerrar Ventana" style="position:absolute;right:10px;top:5px;cursor:pointer" ng-click="cancelar()">X</h4>
    </div>


    <div class="tab-content" style="padding:10px;">
        <!--INICIO TABLA DE FACTURACION-->
        <div class="tab-pane fade in active scrollTablaMobile" id="facturacion" style="margin-right:5px;text-align:center">
            <br />
            <h5>{{bodyMessage}}</h5>

            <br />
            <br />

            <div class="row pull-center">
                <div class="col-md-4 col-xs-12 col-sm-12" style="display:inline-block;float:none">
                    <input type="button" class="form-control btn-primary" value="Sí" ng-click="aceptar()" />
                </div>

                <div class="col-md-4 col-xs-12 col-sm-12"  style="display:inline-block;float:none">
                    <input type="button" class="form-control btn-default" value="No" ng-click="cancelar()" />
                </div>
            </div>


        </div>
    </div>

</div>

