﻿@{
    Layout = null;
}

<style type="text/css">

    .Success .panel-heading, .Success  input{
        border-color: #4CAF50 !important;
        background-color: #4CAF50 !important;
    }
     .Success {
          border-color: #4CAF50 !important;
     }



    .Warning  .panel-heading,  .Warning input{
        border-color: #a5a5a5 !important;
        background-color: #efad4d !important;
    }

    .Warning {
        border-color: #a5a5a5 !important;
    }

    .Error .panel-heading, .Error  input{
        border-color: #e8714b   !important;
        background-color: #ff7b51  !important;
    }
     .Error {
          border-color: #e8714b   !important;
     }

   
</style>

<div class="panel panel-primary @ViewBag.Class" style="margin-bottom:0!important">
    <div class="panel-heading">
        <h4>{{headerMessage}}</h4>
        <h4 title="Cerrar Ventana" style="position:absolute;right:10px;top:5px;cursor:pointer" ng-click="aceptar()">X</h4>
    </div>


    <div class="tab-content" style="padding:10px;">
        <!--INICIO TABLA DE FACTURACION-->
        <div class="tab-pane fade in active scrollTablaMobile" id="facturacion" style="margin-right:5px;text-align:center">
            <br />
            <h5>{{bodyMessage}}</h5>

            <br />
            <br />

            <div class="row pull-center">
                <div class="col-md-4 col-xs-12 col-sm-12" style="display:inline-block;float:none">
                    <input type="button" class="form-control btn-primary" value="Ok" ng-click="aceptar()" />
                </div>
            </div>

        </div>
    </div>

</div>

