﻿



<div ng-show="seleccion=='Clientes'">
    @Html.Partial("ClienteIndex")
</div>
<div ng-show="seleccion==''">
    @Html.Partial("HomeIndex")
</div>

<div ng-show="seleccion=='Productos'">
    @Html.Partial("ProductoIndex")
</div>

<div ng-show="seleccion=='Impuestos'">
    @Html.Partial("ImpuestoIndex")
</div>

<div ng-show="seleccion=='Monedas'">
    @Html.Partial("MonedaIndex")
</div>

<div ng-show="seleccion=='Almacen'">
    @Html.Partial("AlmacenIndex")
</div>

<div ng-show="seleccion=='zonas'">
    @Html.Partial("ZonaIndex")
</div>

<div ng-show="seleccion=='EstadoCuentaCliente'">
    @Html.Partial("EstadoCuentaCliente")
</div>

<div ng-show="seleccion=='roles'">
    @Html.Partial("RolesIndex")
</div>

<div ng-show="seleccion=='Facturas'">
    @Html.Partial("FacturaIndex")
</div>
<div ng-show="seleccion=='Cotizaciones'">
    @Html.Partial("CotizacionIndex")
</div>

<div ng-show="seleccion=='Permisos'">
    @Html.Partial("PermisosIndex")
</div>

<div ng-show="seleccion=='Suplidores'">
    @Html.Partial("SuplidoresIndex")
</div>

<div ng-show="seleccion=='Localidad'">
    @Html.Partial("LocalidadIndex")
</div>

<div ng-show="seleccion=='usuarios'">
    @Html.Partial("UsuarioIndex")
</div>

<div ng-show="seleccion=='movimientoEntrada'">
    @Html.Partial("MovimientoEntradaIndex")
</div>
<div ng-show="seleccion=='Gastos'">
    @Html.Partial("GastosIndex")
</div>

<div ng-show="seleccion=='GastoAgenda'">
    @Html.Partial("GastoAgendaIndex")
</div>

<div ng-show="seleccion=='movimientoDevolucion'">
    @Html.Partial("MovimientoDevolucionIndex")
</div>

<div ng-show="seleccion=='devolucionCliente'">
    @Html.Partial("DevolucionClienteIndex")
</div>

<div ng-show="seleccion=='transferenciaAlmacen'">
    @Html.Partial("TransferenciaAlmacenesIndex")
</div>

<div ng-show="seleccion=='Unidades'">
    @Html.Partial("UnidadesIndex")
</div>

<div ng-show="seleccion=='Caja'">
    @Html.Partial("CajaIndex")
</div>
<div ng-show="seleccion=='AperturaCierreCaja'">
    @Html.Partial("AperturaCajaIndex")
</div>
<div ng-show="seleccion=='ReporteVentas'">
    @Html.Partial("ReporteDeVentas")
</div>

<div ng-show="seleccion=='CxCGeneral'">
    @Html.Partial("CxCGeneral")
</div>

<div ng-show="seleccion=='ReporteRecibos'">
    @Html.Partial("ReporteRecibos")
</div>
<div ng-show="seleccion=='ReporteComisiones'">
    @Html.Partial("ReporteComisiones")
</div>
<div ng-show="seleccion=='ReporteInventario'">
    @Html.Partial("ReporteInventario")
</div>

<div ng-show="seleccion=='Pagos'">
    @Html.Partial("PagoIndex")
</div>

<div ng-show="seleccion=='controlNCF'">
    @Html.Partial("ControlNCFIndex")
</div>

<div ng-show="seleccion=='movimientosProducto'">
    @Html.Partial("MovimientosDeProducto")
</div>
<div ng-show="seleccion=='reporteCxP'">
    @Html.Partial("ReporteCXP")
</div>

<div ng-show="seleccion=='PagoGastos'">
    @Html.Partial("PagoGastosIndex")
</div>

<div ng-show="seleccion=='listadoPrecios'">
    @Html.Partial("ListadoDePrecios")
</div>
<div ng-show="seleccion=='listadoClientes'">
    @Html.Partial("ListadoDeClientes")
</div>

<div ng-show="seleccion=='vendedor'">
    @Html.Partial("VendedoresIndex")
</div>

<div ng-show="seleccion=='estadoEmpresa'">
    @Html.Partial("ReporteEstadoEmpresa")
</div>

<div ng-show="seleccion=='reporteImpuestos'">
    @Html.Partial("ReporteImpuestos")
</div>




