﻿.dl-info dt {
    overflow-x: visible;
    overflow-y: visible;
}

.dl-info dd {
    color: #31708f;
}

.container-scrollable {
    max-height: 75vh;
    overflow-y: auto;
}

.form-validate input.ng-invalid,
.form-validate select.ng-invalid,
.form-validate input.ng-invalid-autocomplete-required {
    border-color: #e89898;
}

.cargando {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}

body.loading {
    overflow: hidden;
}

    body.loading .cargando {
        display: block;
    }

@media (max-width: 1470px) {
    span.option {
        display: none;
    }
}

.loading {
    background-image: url(../images/loading.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    z-index: 1000000;
    position: fixed;
    left: 0px;
    top: 0px;
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: rgba(105, 105, 105, 0.33);
}

.content-error {
    position: fixed;
    top: 65px;
    right: 10%;
    display: inline-block;
}

    .content-error span {
        display: block;
        background-color: #e57c7c;
        min-width: 50px;
        border-radius: 4px;
        padding: 4px 8px;
        color: #fff;
        margin-bottom: 5px;
        font-size: 16px;
        border: 1px solid #ff7a7a;
    }
