﻿#Poploading,
#loading {
display: none;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(255,255,255,0.8);
z-index: 1000;
}


#loadingcontent {
display: table;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
}

#loadingspinner {
display: table-cell;
vertical-align: middle;
width: 100%;
text-align: center;
font:bold 14px Arial, Helvetica, sans-serif;
/*font-size: larger;*/
padding-top: 80px;
 color: #000;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    /*color: #000000;*/
    color: #10426b;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
        z-index: 99;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}


        .kv-file-upload,.file-upload-indicator
         {
            display: none;
         }
        .showSolicImg {
            width: 100%;
            max-height: 200px
        }
        
 