﻿textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}

@page {
    margin: 0;
    width:80mm;
    height:100mm;
}
.sheet {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
}

body.receipt .sheet {
    width: 80mm;
    height: 100mm
}
 table tbody tr td{
     border-top:none !important;
     padding: 0px !important;
     font-size: 10px !important;
 }

@media print {
   body .receipt {
        width: 80mm;
        margin:0mm 0mm 0mm 0mm;
    }
    #printingContainer {
    height:5px;
    }
    table tfoot {
        display: table-row-group;
    }

    .noel, #estadoCuenta {
        display: block !important;
        font-size: 12px !important;
    }
    p {
    font-size:9px;
    margin: 1px 1px 1px 1px !important;
    }
    .withoutMargins {
        margin: 1px 1px 1px 1px !important;
    }
    .clientFont {
    font-size:8px !important;
    }

    noel {
        font-size: 10px !important;
    }
    .noImprimir {
        display: none;
    }
    #printButton, .noPresentar {
        display: none !important;
    }

    body {
        /*font-size: 8px !important;*/
        margin: 0mm;
    }

   th{
       font-size:10px !important;
       font-weight: bold !important;
   }



   
}
