﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}


@media screen and (max-width: 900px) {
    .scrollTablaMobile{
    overflow-x:scroll !important;
    }

    .pull-right {
        float: left !important;
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.separacion {
height:20px !important;
}
.iconsSize {
    font-size:13em !important;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-validate input.ng-invalid,
.form-validate select.ng-invalid,
.form-validate input.ng-invalid-autocomplete-required {
    border-color: #e89898;
}

.Boxtitle {
    color: #ffffff;
    background: #000000;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}
@media (max-width: 767px) {
    .iconsSize {
        font-size:7em !important;
    }
    .separacion {
    height:0px !important;
    }
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 1200;
}

.loaderBackGround {
    position: absolute;
 
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.62) ;
    
}

    div.bootbox.modal.fade.in {
         z-index:1070;
 }

    div.bootbox.modal.fade.in + div {
     z-index:1060;
 }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.detallesFacturasForm {
display:inline-block;
height:400px;

overflow-y:auto;
overflow-x:hidden;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgba(0, 0, 0, 0.00);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
