﻿


<div class="panel panel-primary" style="margin-bottom:0!important"  >
    <div class="panel-heading">
        <h4>Ingresar producto</h4>
    </div>

    <form name="frmAlmacenForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="GuardarAlmacen()" novalidate>


        <div class="panel-body">

          <div class="row">

  

              <div class="col-md-3  col-xs-12 col-sm-12">
                  <div class="form-group">
                      <label>Nombre</label>
                      <input type="text" class="form-control" maxlength="100" ng-model="almacen.nombre" required />
                  </div>
              </div>

              <div class="col-md-3  col-xs-12 col-sm-12">
                  <div class="form-group">
                      <label>Codigo</label>
                      <input type="text" class="form-control" maxlength="50" ng-model="almacen.codigo" required />
                  </div>
              </div>

              <div class="col-md-3  col-xs-12 col-sm-12">
            <label>Localidad</label>
            <select class="form-control" ng-model="almacen.localidad" name="localidad" required data-error="Debe seleccionar una localidad"
                    ng-options="localidad.nombre for localidad in localidades track by localidad.id "
                    ng-change="almacen.localidadId = almacen.localidad.id"></select>
        </div>

              <div class="col-md-3  col-xs-12 col-sm-12">
                  <div class="form-group">
                      <label>Activo</label>
                      
                      <input type="checkbox"  maxlength="100" ng-model="almacen.activo " ng-model-options="{allowInvalid: true}" />
                  </div>
              </div>

          </div>



            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>
