﻿


<div class="panel panel-primary" style="margin-bottom:0!important; z-index:10;">
    <div class="panel-heading">
        <h4>Ingresar Productos base</h4>
    </div>

    <form name="frmproductoUnidadBaseForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="guardarproductoUnidadBase()" novalidate>


        <div class="panel-body">

            <div class="row">

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Producto compuesto</label>
                        <input type="text" disabled="disabled" class="form-control" maxlength="100" ng-model="base.productoCompuesto.nombre" />
                    </div>
                </div>

               
                <div class="col-md-3  col-xs-12 col-sm-12" ng-show="!esEdicion">
                    <div class="form-group">
                        <label>Producto base</label>
                        <angucomplete-alt id="producto" placeholder=""
                                          pause="200"
                                          selected-object="selectedproductoUnidadBase"
                                          title-field="nombre"
                                          remote-url="/api/producto?pagesize=6&nombreCampo=nombre&nombrecampo2=codigobarra&filtro="
                                          remote-url-data-field="pagedData.result"
                                          minlength="2"
                                          description-field="codigoBarra"
                                          initial-value=""
                                          input-class="form-control form-control-small"
                                          input-name="producto"
                                          field-required="(!esEdicion)"
                                          input-field-required="(!esEdicion)"
                                          input-required="(!esEdicion)"
                                          auto-match="true">
                        </angucomplete-alt>
                    </div>
                  


                </div>
                <div class="col-md-3  col-xs-12 col-sm-12"  ng-show="esEdicion">
                    <div class="form-group">
                        <label>Producto base</label>
                        <input type="text" disabled="disabled" class="form-control" maxlength="100" 
                               ng-model="base.productoBase.nombre || base.nombreServicioBase" />
                    </div>
                </div>

                   
                <div class="col-md-3  col-xs-12 col-sm-12" ng-hide="base.productoBase.esServicio || esEdicion">
                    <label>Unidad</label>
                    <select class="form-control" ng-model="base.productoUnidadBase" 
                            ng-disabled="!base.productoBase || !base.productoBase.productoUnidades" 
                            name="unidad" required data-error="Debe seleccionar una unidad" ng-required="!(esServicioBase)"
                            ng-options="unidad.unidad.nombre for unidad in base.productoBase.productoUnidades track by unidad.id "
                            ng-change="base.productoUnidadBaseId = base.productoUnidadBase.id"></select>
                </div>
                <div class="col-md-3  col-xs-12 col-sm-12" ng-show="esEdicion">
                    <div class="form-group">
                        <label>Producto base</label>
                        <input type="text" disabled="disabled" class="form-control" maxlength="100"
                               ng-model="base.productoUnidadBase.unidad.nombre" />
                    </div>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Cantidad </label>
                        <input type="number" class="form-control"  ng-model="base.cantidad" min="0.0001" required />
                    </div>
                </div>


            </div>
           





            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>