﻿


<div class="panel panel-primary" style="margin-bottom:0!important"  >
    <div class="panel-heading">
        <h4>Cambiar Contraseña</h4>
    </div>

    <form name="frmUserPasswordForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="cambiarContrasena()" novalidate>


        <div class="panel-body">

          <div class="row">

              <div class="col-md-4 col-md-offset-4">
                  <div class="form-group">
                      <label>Nueva contraseña</label>
                      <input type="password" class="form-control" maxlength="100" ng-model="usuario.contrasena" required />
                  </div>
              </div>

            
          </div>

 


            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>
