﻿


<div class="panel panel-primary" style="margin-bottom:0!important">
    <div class="panel-heading">
        <h4>Ingresar producto</h4>
    </div>

    <form name="frmAperturaCajaForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="GuardarAperturaCaja()" novalidate>


        <div class="panel-body">

            <div class="row">

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Usuario</label>
                    <select class="form-control" ng-model="aperturaCaja.usuario" name="usuario" required data-error="Debe seleccionar un usuario"
                            ng-options="usuario.nombreYApellido for usuario in usuarios track by usuario.id "
                            ng-change="aperturaCaja.userId = aperturaCaja.usuario.id;obtenerInfoUsuario(aperturaCaja.usuario.id);"
                            ng-disabled="id>0"></select>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12" ng-show="aperturaCaja.localidad">
                    <div class="form-group">
                        <label>Localidad</label>
                        <input type="text" class="form-control" maxlength="100" ng-model="aperturaCaja.localidad.nombre" disabled />
                    </div>
                </div>
                <div class="col-md-3  col-xs-12 col-sm-12" ng-show="aperturaCaja.caja">
                    <div class="form-group">
                        <label>Caja asignada</label>
                        <input type="text" class="form-control" maxlength="100" ng-model="aperturaCaja.caja.nombre" disabled />
                    </div>
                </div>


                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Moneda</label>
                    <select class="form-control" ng-model="aperturaCaja.moneda" name="moneda" required data-error="Debe seleccionar una moneda"
                            ng-options="moneda.nombre for moneda in monedas track by moneda.id "
                            ng-change="aperturaCaja.monedaId = aperturaCaja.moneda.id;"
                            ng-disabled="id>0"></select>
                </div>

                <div class=" col-md-3 col-xs-3-col-sm-3">
                    <div class="form-group">
                        <label>Monto apertura</label>
                        <input type="number" class="form-control" required ng-model="aperturaCaja.montoAperturaTotal" disabled />
                    </div>
                </div>

                <div class=" col-md-3 col-xs-3-col-sm-3">
                    <div class="form-group">
                        <label>Monto cierre</label>
                        <input type="number" class="form-control" required ng-model="aperturaCaja.montoCierreTotal" disabled />
                    </div>
                </div>


                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Monto Total de pagos</label>
                        <input type="number" class="form-control" required ng-model="aperturaCaja.montoTotalPagos" disabled />
                    </div>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Diferencia Apertura/Cierre</label>
                        <input type="number" class="form-control" required ng-model="aperturaCaja.diferenciaAperturaCierre" disabled />
                    </div>
                </div>

                <my-load-data url="/api/usuarios/obtenerUsuariosConCajas"
                              model="usuarios"
                              url-data-field="data"
                              on-loaded=""></my-load-data>


                <my-load-data url="/api/moneda"
                              model="monedas"
                              url-data-field="data"
                              on-loaded=""></my-load-data>

                <my-load-data url="/api/tipoPago"
                              model="tipoPagos"
                              url-data-field="data"
                              on-loaded=""></my-load-data>

                <my-load-data url="/api/montosapertura"
                              model="montosApertura"
                              url-data-field="data"
                              on-loaded=""></my-load-data>

            </div>
            <div class="row">
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Tipo de monto</label>
                    <select class="form-control" ng-model="aperturaCaja.tipoPago" name="usuario" required data-error="Debe seleccionar un tipo"
                            ng-options="tipo.nombre for tipo in tipoPagos track by tipo.id "
                            ng-change="aperturaCaja.tipoPagoId = aperturaCaja.tipoPago.id;montoCierre=0;"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6  col-xs-6 col-sm-6" ng-show="aperturaCaja.tipoPago.codigo=='EFE'">
                    <label>Montos de apertura en efectivo</label>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <td class="col-md-1  col-xs-1 col-sm-1">Monto</td>
                                <td class="col-md-1  col-xs-1 col-sm-1">Cantidad</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="monto in montosApertura | orderBy: 'orden'">
                                <td>{{monto.nombre}}</td>
                                <td><input class="form-control" type="number" min="0" ng-model="monto.cantidad" ng-change="evaluarCierreTipo(aperturaCaja.tipoPago)" /></td>

                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-12" ng-hide="aperturaCaja.tipoPago.codigo=='EFE' || !aperturaCaja.tipoPago.codigo">
                    <div class="form-group">
                        <label>Monto Total </label>
                        <input type="number" class="form-control" maxlength="100" min="0" ng-model="montoCierre" , ng-change="evaluarCierreTipo(aperturaCaja.tipoPago)" />
                    </div>
                </div>

                <div class="col-md-6  col-xs-6 col-sm-6">
                    <label>Montos de cuadre</label>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <td class="col-md-1  col-xs-1 col-sm-1">Descripcion</td>
                                <td class="col-md-1  col-xs-1 col-sm-1">Monto</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tipoPago in tiposCierre | orderBy: 'codigo'" ng-hide="!tipoPago.nombre">
                                <td>{{tipoPago.nombre}}</td>
                                <td>{{tipoPago.monto}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>




            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>
