﻿


<div class="panel panel-primary" style="margin-bottom:0!important"  >
    <div class="panel-heading">
        <h4>Agregar Cliente</h4>
    </div>

    <form name="frmClienteForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="GuardarCliente()" novalidate>


        <div class="panel-body">

            <div class="row">

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" maxlength="100" ng-model="cliente.nombre" required />
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Cedula/Rnc</label>
                        <input type="text" class="form-control" maxlength="11" ng-model="cliente.cedulaRnc" />
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Telefono</label>
                        <input type="text" class="form-control" maxlength="10" ng-model="cliente.telefono" />
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Zona</label>

                        <select class="form-control" ng-model="cliente.zona" required name="zona"
                                ng-options="zona.nombre for zona in zonas track by zona.id "
                                ng-change="cliente.zonaId=cliente.zona.id;"></select>

                    </div>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Aplicar Itbis</label>
                        <input type="checkbox" ng-model="cliente.aplicarItbis" ng-model-options="{allowInvalid: true}" />
                    </div>
                </div>
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Tipo NCF</label>

                        <select class="form-control" ng-model="cliente.controlNcf" name="controNcf"
                                ng-options="tipoNcf.nombre for tipoNcf in tiposNcf track by tipoNcf.id "
                                ng-change="setTipoNcf(cliente.controlNcf)"></select>

                    </div>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Activo</label>
                        <input type="checkbox" ng-model="cliente.activo" ng-model-options="{allowInvalid: true}" />
                    </div>
                </div>
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Almacen asignado</label>
                        <select class="form-control" ng-model="cliente.almacen" name="almacen"
                                ng-options="almacen.nombre for almacen in almacenes track by almacen.id "
                                ng-change="cliente.almacenId = cliente.almacen.id"></select>
                    </div>
                </div>
            </div>
            <my-load-data url="/api/almacen/obtenerAlmacenesUsuario"
                          model="almacenes"
                          url-data-field="data"
                          on-loaded=""></my-load-data>

            <my-load-data url="/api/ControlNCF"
                          model="tiposNcf"
                          url-data-field="data"
                          on-loaded=""></my-load-data>
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Dias de vencimiento</label>
                        <input type="number" class="form-control" ng-model="cliente.diasVencimiento" />
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Límite de Crédito </label>
                        <input type="number" class="form-control" ng-model="cliente.montoLimiteDeCredito" />
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <label>Moneda</label>
                    <select class="form-control" ng-model="cliente.moneda" name="moneda" required data-error="Debe seleccionar una moneda" ng-required="true"
                            ng-options="moneda.nombre for moneda in monedas track by moneda.id "
                            ng-change="cliente.monedaId = cliente.moneda.id"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xs-7 col-sm-8">
                    <label>Direccion</label>
                    <textarea class="form-control" ng-model="cliente.direccion"></textarea>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Codigo</label>
                        <input type="text" class="form-control" ng-model="cliente.codigo" disabled="disabled" />
                    </div>
                </div>

            </div>



            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>
