﻿


<div class="panel panel-primary" style="margin-bottom:0!important"  >
    <div class="panel-heading">
        <h4>Ingresar control NCF</h4>
    </div>

    <form name="frmControlNCFForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="GuardarControlNCF()" novalidate>


        <div class="panel-body">

            <div class="row">



                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" maxlength="100" ng-model="controlNCF.nombre" required />
                    </div>
                </div>
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Serie</label>
                        <input type="text" class="form-control" maxlength="1" ng-model="controlNCF.serie" required />
                    </div>
                </div>
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Tipo de comprobante</label>
                        <input type="text" class="form-control" maxlength="2" ng-model="controlNCF.tipo" required />
                    </div>
                </div>
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Secuencia</label>
                        <input type="number" min="0" class="form-control" ng-model="controlNCF.secuencia" required />
                    </div>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Control Numerico</label>
                        <input type="number" min="0" class="form-control" ng-model="controlNCF.controlNumerico" disabled />
                    </div>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Cantidad</label>
                        <input type="number" min="0" class="form-control" ng-model="controlNCF.cantidad" required />
                    </div>
                </div>





                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Activo</label>

                        <input type="checkbox" maxlength="100" ng-model="controlNCF.activo" ng-model-options="{allowInvalid: true}" />
                    </div>
                </div>

            </div>



            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>
