﻿


<div class="panel panel-primary" style="margin-bottom:0!important; max-height:600px; overflow-y:auto;">
    <div class="panel-heading">
        <h4>Ingresar Factura</h4>
    </div>

    <form name="frmFacturaForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="GuardarFactura()" novalidate>
        <my-load-data url="/api/almacen/obtenerAlmacenesUsuario"
                      model="almacenes"
                      url-data-field="data"
                      on-loaded=""></my-load-data>

        <div class="panel-body">

            <div class="row">
                <div class="col-md-3  col-xs-12 col-sm-12" ng-show="esCreacion">
                    <div class="form-group">
                        <label>Cliente</label>
                        <angucomplete-alt id="cliente" placeholder=""
                                          pause="200"
                                          selected-object="selectedCliente"
                                          title-field="codigoYNombre"
                                          remote-url="/api/cliente?pagesize=6&nombreCampo=nombre&filtro="
                                          remote-url-data-field="pagedData.result"
                                          minlength="2"
                                          initial-value=""
                                          input-class="form-control form-control-small"
                                          input-name="cliente"
                                          field-required="esCreacion"
                                          input-field-required="esCreacion"
                                          input-required="esCreacion"
                                          auto-match="true">
                        </angucomplete-alt>
                    </div>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12" ng-show="!esCreacion">
                    <div class="form-group">
                        <label>Cliente</label>
                        <input type="text" disabled="disabled" class="form-control" maxlength="100" ng-model="factura.cliente.nombre" />
                    </div>
                </div>
                <div class="col-md-3  col-xs-12 col-sm-12" ng-show="!esCreacion">
                    <label>Vendedor</label>
                    <input type="text" disabled="disabled" class="form-control" maxlength="100" ng-model="factura.vendedor.nombre" />

                </div>

                <div class="col-md-3  col-xs-12 col-sm-12" ng-show="esCreacion">
                    <label>Vendedor</label>
                    <select class="form-control" ng-model="factura.vendedor" name="vendedor" ng-disabled="(!esCreacion)"
                            ng-options="vendedor.nombre for vendedor in vendedores track by vendedor.id "
                            ng-change="factura.vendedorId = factura.vendedor.id"></select>
                </div>
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Descuento (%)</label>
                    <input type="number" class="form-control" ng-disabled="!esCreacion || factura.detallesFactura.length<=0" ng-model="factura.porcientoDescuento" />
                </div>

            </div>

            <div class="row">
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Moneda</label>
                    <select class="form-control" ng-model="factura.moneda" name="moneda" required data-error="Debe seleccionar una moneda" ng-required="true" disabled
                            ng-options="moneda.nombre for moneda in monedas track by moneda.id "
                            ng-change="factura.monedaId = factura.moneda.id; factura.tasa=factura.moneda.tasa"></select>
                </div>
               

                <div class="col-md-3  col-xs-12 col-sm-12" >
                    <div class="form-group">
                        <label>RNC</label>
                        <input type="text" ng-disabled="!esCreacion" class="form-control" maxlength="100" ng-model="factura.rnc" />
                    </div>
                </div>
            </div>
              
              

                <!--@*<div class="col-md-3  col-xs-12 col-sm-12">
        <label>Impuesto</label>
        <select class="form-control" ng-model="factura.impuesto" name="impuesto" required data-error="Debe seleccionar un impuesto"
                ng-options="impuesto.nombre for impuesto in impuestos"
                ng-change="factura.impuestoId = factura.impuesto.id"></select>
    </div>*@-->




                <div class="">
                    <div id="Detalles" class="col-md-11 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="row formTable">
                                <div class="col-md-offset-1  col-sm-offset-1 " , style="margin-top:5px;">
                                    <h4 class="col-md-6 col-sm-12 col-xs-12">
                                        Detalle de factura
                                    </h4>

                                    <div class="col-md-2 col-xs-2 col-sm-2">
                                        <button type="button" class="btn btn-primary btn-sm" ng-click="EditarDetalle()" ng-show="factura.moneda">Agregar Detalle</button>

                                    </div>
                                </div>


                            </div>
                            <div class="panel-body scrollTablaMobile">


                                <table class="table table-striped table-hover table-bordered" ng-show="mostrarDetalles">
                                    <thead>
                                        <tr>

                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                            <th>Unidad</th>
                                            <th>Precio unitario</th>
                                            <th>Subtotal</th>
                                            <th>Itbis</th>
                                            <th>descuento</th>
                                            <th>porciento %</th>
                                            <th>Total</th>
                                            <th ng-hide="esEdicion"></th>
                                        </tr>
                                    </thead>

                                    <tbody ng-repeat="detalle in factura.detallesFactura" class="table-bordered">
                                        <tr ng-show="!detalle.DetallePadreId">
                                            <td>{{detalle.producto.nombre}}</td>
                                            <td>{{detalle.cantidad |number:2 }}</td>
                                            <td>{{detalle.producto.esServicio?'':detalle.unidad.nombre}}</td>
                                            <td>{{detalle.monto | currency:""}}</td>
                                            <td>{{(detalle.montoGrabado) | currency:"" }}</td>
                                            <td>{{(detalle.montoItbis) | currency:""}}</td>
                                            <td>{{(detalle.montoDescuento) | currency:""}}</td>
                                            <td>
                                                <input type="number" class="form-control"
                                                       ng-disabled="!esCreacion" ng-model="detalle.porcientoDescuento"
                                                       ng-change="RecalcularDescuento()" />
                                            </td>

                                            <td>{{detalle.montoTotal | currency:"" }}</td>

                                            <td align="center">
                                                <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                                    <a class="btn btn-primary btn-sm" href="" title="Editar" ng-click="EditarDetalle(detalle,$index)"><i class="fa fa-pencil"></i> <span class="option">Editar</span> </a>

                                                </div>
                                                <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                                    <a class="btn btn-danger" ng-click="AnularDetalle($index)"><i class="fa fa-ban"></i> Anular</a>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>

                                </table>
                                <div class="row" style="margin-right:5px">

                                    <div class="col-md-3  col-xs-12 col-sm-12">
                                        <p class="lead pull-left" style="vertical-align:central">
                                            Subtotal
                                            <span class="badge badge-default" style="margin-bottom:5px">{{factura.montoGrabado | currency:""}}</span>
                                        </p>
                                    </div>

                                    <div class="col-md-3  col-xs-12 col-sm-12">
                                        <p class="lead pull-center" style="vertical-align:central">
                                            Total Itbis
                                            <span class="badge badge-default" style="margin-bottom:5px">{{factura.montoItbis | currency:""}}</span>
                                        </p>
                                    </div>

                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <p class="lead pull-left" style="vertical-align:central">
                                            Total de factura
                                            <span class="badge badge-default ">{{factura.moneda.codigo }}</span>
                                            <span class="badge badge-default pull-right" style="margin-left:10px; margin-top:5px;">{{(factura.montoTotal) | currency:""}}</span>

                                        </p>

                                    </div>

                                </div>

                                <div class="row" style="margin-right:5px">

                                    <div class="col-md-6 col-sm-12 col-xs-12" ng-show="factura.montoRecibido>(factura.montoTotal - factura.montoNC)">
                                        <p class="lead pull-left" style="vertical-align:central">
                                            Devolución
                                            <span class="badge badge-default" style="margin-bottom:5px">{{(factura.montoDevuelto) | currency:""}}</span>
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12" ng-hide="(factura.montoAdeudado)<=0">
                                        <p class="lead pull-left" style="vertical-align:central">
                                            Total adeudado
                                            <span class="badge badge-default" style="margin-bottom:5px">{{(factura.montoAdeudado) | currency:""}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                




           

            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <label>Concepto</label>
                    <textarea class="form-control" ng-model="factura.detalles"></textarea>
                </div>

            </div>


            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <!--@*<button class="btn btn-primary btn-sm">Aceptar</button>*@-->
                <input type="submit" class="btn btn-primary btn-sm" value="Aceptar" />
                <input type="button" class="btn btn-default" ng-click="closeDialogFactura()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>