﻿


<div class="panel panel-primary" style="margin-bottom:0!important; z-index:1060 !important;">
    <div class="panel-heading">
        <h4>Ingresar Detalle</h4>
    </div>

    <form name="frmDetalleFacturaForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="GuardarDetalleFactura()" novalidate>


        <div class="panel-body">

            <div class="row">

                <div class="col-md-4 col-xs-12 col-sm-12" ng-show="!esEdicion">
                    <div class="form-group">
                        <label>Producto</label>
                        <angucomplete-alt id="producto" placeholder=""
                                          pause="200"
                                          selected-object="selectedProducto"
                                          title-field="nombre"
                                          remote-url="/api/producto?pagesize=6&nombreCampo=nombre&nombrecampo2=codigobarra&filtro="
                                          remote-url-data-field="pagedData.result"
                                          minlength="2"
                                          description-field="codigoBarra"
                                          initial-value=""
                                          input-class="form-control form-control-small"
                                          input-name="producto"
                                          field-required="(!esEdicion)"
                                          input-field-required="(!esEdicion)"
                                          input-required="(!esEdicion)"
                                          auto-match="true">
                        </angucomplete-alt>
                    </div>



                </div>

                <div class="col-md-4 col-xs-12 col-sm-12" ng-show="esEdicion">
                    <div class="form-group">
                        <label>Producto</label>
                        <input type="text" disabled="disabled" class="form-control" maxlength="100" ng-model="detalleFactura.producto.nombre" />
                    </div>
                </div>



                <div class="col-md-2 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>cantidad </label>
                        <input type="number" class="form-control" ng-model="detalleFactura.cantidad" min="0" required />
                    </div>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12" ng-hide="detalleFactura.producto.esServicio">
                    <label>Unidad</label>
                    <select class="form-control" ng-model="detalleFactura.productoUnidad" name="unidad" required data-error="Debe seleccionar un unidad"
                            ng-required="!detalleFactura.producto.esServicio"
                            ng-options="productoUnidad.unidad.nombre for productoUnidad in detalleFactura.producto.productoUnidades track by productoUnidad.id "
                            ng-change="seleccionDeUnidad()"></select>
                </div>

                <div class="col-md-2 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Monto </label>
                        <input type="number" class="form-control" maxlength="100" min="0" ng-model="detalleFactura.monto" />
                    </div>
                </div>
                <div ng-show="existencias && detalleFactura.producto && !detalleFactura.producto.esServicio" class="col-md-4 col-xs-12 col-sm-12">
                    <div ng-repeat="existencia in existencias.productoPorAlmacen">
                        <p> {{existencia.nombreAlmacen}}.  {{existencia.cantidad}} {{existencia.unidad.nombre}}</p>
                    </div>

                </div>
                <div class="col-md-2 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Monto Impuesto </label>
                        <input type="number" disabled="disabled" class="form-control" maxlength="100" ng-model="detalleFactura.montoItbis" required />
                    </div>
                </div>



            </div>
            <div class="row">
                <div class="col-md-3  col-xs-12 col-sm-12" ng-show="detalleFactura.producto">
                    <label>Precios</label>
                    <select class="form-control" ng-model="detalleFactura.precioProductoSel" name="precioProducto"
                            ng-options="precioProducto.monto for precioProducto in preciosProducto track by precioProducto.id"></select>
                </div>
            </div>
            <div class="row">


                  <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Monto Total </label>
                        <span disabled class="form-control">{{(detalleFactura.cantidad *( detalleFactura.monto) + detalleFactura.montoItbis) | number:2}} ({{factura.moneda.codigo}})</span>
                    </div>
                </div>

                <div class="form-group col-md-6 col-xs-12 col-sm-12">
                    <label>Comentario </label>
                    <textarea ng-model="detalleFactura.comentario"></textarea>
                </div>

               

            </div>

            <div class="row">
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Gratis</label>

                        <input type="checkbox" maxlength="100" ng-model="detalleFactura.esGratis" ng-model-options="{allowInvalid: true}" />
                    </div>
                </div>
            </div>



            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm" ng-disabled="!puedeFacturar">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>