﻿


<div class="panel panel-primary" style="margin-bottom:0!important; max-height:600px; overflow-y:auto;">
    <div class="panel-heading">
        <h4>Duplicar Cotización</h4>
    </div>

    <form name="frmDuplicarCotizacion" ng-class="showValidate ? 'form-validate' : ''" ng-submit="duplicarCotizacion()" novalidate>
      

        <div class="panel-body">

            <div class="row">

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Cliente</label>
                        <input type="text" disabled="disabled" class="form-control" maxlength="100" ng-model="cliente.nombre" />
                    </div>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Cliente</label>
                        <angucomplete-alt id="cliente" placeholder=""
                                          pause="200"
                                          selected-object="selectedCliente"
                                          title-field="codigoYNombre"
                                          remote-url="/api/cliente?pagesize=6&nombreCampo=nombre&filtro="
                                          remote-url-data-field="pagedData.result"
                                          minlength="2"
                                          initial-value=""
                                          input-class="form-control form-control-small"
                                          input-name="cliente"
                                          field-required="esCreacion"
                                          input-field-required="esCreacion"
                                          input-required="esCreacion"
                                          auto-match="true">
                        </angucomplete-alt>
                    </div>
                </div>


            </div>   

            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <!--@*<button class="btn btn-primary btn-sm">Aceptar</button>*@-->
                <input type="submit" class="btn btn-primary btn-sm" value="Aceptar" />
                <input type="button" class="btn btn-default" ng-click="closeDialogCopiarCotizacion()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>