﻿


<div class="panel panel-primary" style="margin-bottom:0!important; max-height:600px; overflow-y:auto;">
    <div class="panel-heading">
        <h4>Ingresar Factura</h4>
    </div>

    <form name="frmFacturaAntiguaForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="GuardarFactura()" novalidate>


        <div class="panel-body">

            <div class="row">

                <div class="col-md-8 col-xs-12 col-sm-12">
                    <div class="form-group" ng-show="esCreacion">
                        <label>Cliente</label>
                        <angucomplete-alt id="cliente" placeholder=""
                                          pause="200"
                                          selected-object="selectedCliente"
                                          title-field="codigoYNombre"
                                          remote-url="/api/cliente?pagesize=6&nombreCampo=nombre&filtro="
                                          remote-url-data-field="pagedData.result"
                                          minlength="2"
                                          initial-value=""
                                          input-class="form-control form-control-small"
                                          input-name="cliente"
                                          field-required="esCreacion"
                                          input-field-required="esCreacion"
                                          input-required="esCreacion"
                                          auto-match="true">
                        </angucomplete-alt>
                    </div>
                </div>

                <div class="col-md-8 col-xs-12 col-sm-12" ng-show="!esCreacion">
                    <div class="form-group">
                        <label>Cliente</label>
                        <input type="text" disabled="disabled" class="form-control" maxlength="100" ng-model="factura.cliente.nombre" />
                    </div>
                </div>
                <div class="col-md-3  col-xs-12 col-sm-12" ng-show="!esCreacion">
                    <label>Vendedor</label>
                    <input type="text" disabled="disabled" class="form-control" maxlength="100" ng-model="factura.vendedor.nombre" />

                </div>

                <div class="col-md-3  col-xs-12 col-sm-12" ng-show="esCreacion">
                    <label>Vendedor</label>
                    <select class="form-control" ng-model="factura.vendedor" required name="vendedor" ng-disabled="(!esCreacion)"
                            ng-options="vendedor.nombre for vendedor in vendedores track by vendedor.id "
                            ng-change="factura.vendedorId = factura.vendedor.id"></select>
                </div>
                <my-load-data url="/api/vendedor"
                              model="vendedores"
                              url-data-field="data"
                              on-loaded=""></my-load-data>
                <my-load-data url="/api/controlncf"
                              model="controlNCFs"
                              url-data-field="data"
                              on-loaded=""></my-load-data>
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Moneda</label>
                    <select class="form-control" ng-model="factura.moneda" name="moneda" required data-error="Debe seleccionar una moneda" ng-required="true" ng-disabled="!esCreacion"
                            ng-options="moneda.nombre for moneda in monedas track by moneda.id "
                            ng-change="factura.monedaId = factura.moneda.id; factura.tasa=factura.moneda.tasa"></select>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Tipo NCF</label>
                    <select class="form-control" ng-model="factura.controlNCF" name="ncf" ng-disabled="(!esCreacion)"
                            ng-options="controlNCF.nombre for controlNCF in controlNCFs track by controlNCF.id "
                            ng-change="factura.tipoNCF = factura.controlNCF.tipo"></select>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>NCF</label>
                        <input type="text" class="form-control" maxlength="17" ng-model="factura.NCF" />
                    </div>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>RNC</label>
                        <input type="text" ng-disabled="!esCreacion" class="form-control" maxlength="100" ng-model="factura.rnc" />
                    </div>
                </div>




                <div class="">
                    <div id="Detalles" class="col-md-11 col-sm-11 col-xs-11">
                        <div class="panel panel-default">

                            <div class="panel-body">



                                <div class="row formTable" style="margin-right:5px">

                                    <div class="col-md-2 col-xs-12 col-sm-12">
                                        <p class="lead pull-left" style="vertical-align:central">
                                            Subtotal
                                            <input type="number" class="form-control" maxlength="100" min="0.001" step="0.001" ng-model="factura.montoGrabado" required />
                                        </p>
                                    </div>

                                    <div class="col-md-2 col-xs-12 col-sm-12">
                                        <p class="lead pull-center" style="vertical-align:central">
                                            Total Itbis
                                            <input type="number" class="form-control" maxlength="100" min="0" step="0.001" ng-model="factura.montoItbis" required />
                                        </p>
                                    </div>

                                    <div class="col-md-4 col-xs-12 col-sm-12">
                                        <p class="lead pull-left" style="vertical-align:central">
                                            Total de factura
                                            <span class="badge badge-default ">{{factura.moneda.codigo }}</span>
                                            <input type="number" class="form-control" maxlength="100" min="0" ng-model="factura.montoTotal" disabled />

                                        </p>

                                    </div>

                                    <div class="col-md-4 col-xs-12 col-sm-12">
                                        <p class="lead pull-left" style="vertical-align:central">
                                            Monto comisión de vendedor
                                            <span class="badge badge-default ">{{factura.moneda.codigo }}</span>
                                            <input type="number" class="form-control"  min="0" ng-model="factura.porcentajeVendedor" />

                                        </p>

                                    </div>
                                    <div class="col-md-4 col-xs-12 col-sm-12">
                                        <p class="lead pull-center" style="vertical-align:central">
                                            Fecha de factura
                                            <input type="date" class="form-control" ng-model="factura.fechaFacturado" required />
                                        </p>
                                    </div>

                                </div>

                                <div class="row" style="margin-right:5px">
                                    <h3>Concepto</h3>
                                    <textarea class="form-control" ng-model="factura.detalles"></textarea>




                                </div>
                                <br />
                                <div class="row" style="margin-right:5px">
                                    <div class="col-md-4 col-xs-12 col-sm-12">
                                        <p class="lead pull-left" style="vertical-align:central">
                                            Recibido
                                            <span class="badge badge-default" style="margin-bottom:5px">{{(factura.montoRecibido) | currency:""}}</span>
                                        </p>
                                    </div>
                                    <div class="col-md-4 col-xs-12 col-sm-12">
                                        <p class="lead pull-left" style="vertical-align:central">
                                            Pagado
                                            <span class="badge badge-default" style="margin-bottom:5px">{{(factura.montoPagado) | currency:""}}</span>
                                        </p>
                                    </div>

                                </div>

                                <div class="row" style="margin-right:5px">

                                    <div class="col-md-6 col-xs-12 col-sm-12" ng-show="factura.montoRecibido>(factura.montoTotal)">
                                        <p class="lead pull-left" style="vertical-align:central">
                                            Devolución
                                            <span class="badge badge-default" style="margin-bottom:5px">{{(factura.montoDevuelto) | currency:""}}</span>
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-xs-12 col-sm-12" ng-hide="(factura.montoAdeudado)<=0">
                                        <p class="lead pull-left" style="vertical-align:central">
                                            Total adeudado
                                            <span class="badge badge-default" style="margin-bottom:5px">{{(factura.montoAdeudado) | currency:""}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Abono a factura </label>
                        <input type="number" class="form-control" maxlength="100" ng-model="factura.montoRecibido" />
                    </div>
                </div>

            </div>



            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <!--@*<button class="btn btn-primary btn-sm">Aceptar</button>*@-->
                <input type="submit" class="btn btn-primary btn-sm" value="Aceptar" />
                <input type="button" class="btn btn-default" ng-click="closeDialogFactura()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>