﻿


<div class="panel panel-primary" style="margin-bottom:0!important; max-height:600px; overflow-y:auto;">
    <div class="panel-heading">
        <h4>Ingresar Gasto</h4>
    </div>

    <form name="frmGastoForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="guardarGasto()" novalidate>


        <div class="panel-body">

            <div class="row">
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Localidad</label>
                    <select class="form-control" ng-model="gasto.localidad" name="localidad" required data-error="Debe seleccionar una localidad" ng-required="true" ng-disabled="!esCreacion"
                            ng-options="localidad.nombre for localidad in localidades track by localidad.id "
                            ng-change="gasto.localidadId = gasto.localidad.id"></select>
                </div>

                <div class="col-md-8 col-xs-12 col-sm-12">
                    <div class="form-group" ng-show="esCreacion">
                        <label>Suplidor</label>
                        <angucomplete-alt id="cliente" placeholder=""
                                          pause="200"
                                          selected-object="selectedSuplidor"
                                          title-field="nombre"
                                          remote-url="/api/suplidor?pagesize=6&nombreCampo=nombre&filtro="
                                          remote-url-data-field="pagedData.result"
                                          minlength="2"
                                          initial-value=""
                                          input-class="form-control form-control-small"
                                          input-name="suplidor"
                                          field-required="esCreacion"
                                          input-field-required="esCreacion"
                                          input-required="esCreacion"
                                          auto-match="true">
                        </angucomplete-alt>
                    </div>
                </div>

                <div class="col-md-8 col-xs-12 col-sm-12" ng-show="!esCreacion">
                    <div class="form-group">
                        <label>Suplidor</label>
                        <input type="text" disabled="disabled" class="form-control" maxlength="100" ng-model="gasto.suplidor.nombre" />
                    </div>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Moneda</label>
                    <select class="form-control" ng-model="gasto.moneda" name="moneda" required data-error="Debe seleccionar una moneda" ng-required="true" ng-disabled="!esCreacion"
                            ng-options="moneda.nombre for moneda in monedas track by moneda.id "
                            ng-change="gasto.monedaId = gasto.moneda.id; gasto.tasa=gasto.moneda.tasa"></select>
                </div>






                <div class="">
                    <div id="Detalles" class="col-md-11 col-sm-11 col-xs-11">
                        <div class="panel panel-default ">

                            <div class="panel-body">



                                <div class="row formTable" style="margin-right:5px">

                                    <div class="col-md-3 col-xs-12 col-sm-12">
                                        <p class="lead pull-center" style="vertical-align:central">
                                            Subtotal
                                            <input type="number" class="form-control" maxlength="100" min="0.001" step="0.001" ng-model="gasto.montoGrabado" required />
                                        </p>
                                    </div>

                                    <div class="col-md-3 col-xs-12 col-sm-12">
                                        <p class="lead pull-center" style="vertical-align:central">
                                            Total Impuestos
                                            <input type="number" class="form-control" maxlength="100" min="0" step="0.001" ng-model="gasto.montoItbis" disabled />
                                        </p>
                                    </div>

                                    <div class="col-md-3 col-xs-12 col-sm-12">
                                        <p class="lead pull-center" style="vertical-align:central">
                                            Total de Gasto
                                            <span class="badge badge-default ">{{gasto.moneda.codigo }}</span>
                                            <input type="number" class="form-control" maxlength="100" min="0" ng-model="gasto.montoTotal" disabled />

                                        </p>

                                    </div>
                                    <div class="col-md-3 col-xs-12 col-sm-12">
                                        <p class="lead pull-center" style="vertical-align:central">
                                            Fecha de gasto
                                            <input type="date" class="form-control" ng-model="fechaSeleccionada" />
                                        </p>
                                    </div>

                                </div>

                                <div class="row ">
                                    <div id="gastoImpuestos" class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="panel panel-default">
                                            <div class="row formTable">
                                                <div class="col-md-offset-1 " , style="margin-top:5px;">
                                                    <h4 class="col-md-3 col-xs-12 col-sm-12">
                                                        Impuestos
                                                    </h4>
                                                    <div class="col-md-9 col-xs-12 col-sm-12 row">
                                                        <div class="col-md-4 col-xs-6 col-sm-6">

                                                            <select class="form-control" ng-model="gasto.impuesto" name="impuesto" ng-required="false"
                                                                    ng-options="impuesto.nombre for impuesto in impuestos track by impuesto.id"></select>
                                                        </div>
                                                        <div class="col-md-4 col-xs-6 col-sm-6" ng-if="gasto.impuesto && gasto.impuesto.id>0">

                                                            <input type="number" class="form-control" maxlength="100" min="0" step="0.001" ng-model="gasto.montoImpuestoTemp" />
                                                        </div>
                                                        <div class="col-md-4 col-xs-6 col-sm-6">
                                                            <button type="button" class="btn btn-primary btn-sm" ng-click="agregarImpuesto(gasto.impuesto,gasto.montoImpuestoTemp)">Agregar Impuesto</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body scrollTablaMobile">
                                                <table class="table table-striped table-hover table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombre</th>
                                                            <th>Monto</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="table-bordered">
                                                        <tr ng-repeat="gastoImpuesto in gasto.impuestos track by $index">

                                                            <td>{{gastoImpuesto.impuesto.nombre}}</td>
                                                            <td>{{gastoImpuesto.montoImpuesto | currency:""}}</td>

                                                            <td align="center">
                                                                <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                                                    <a class="btn btn-danger" ng-click="anularImpuesto($index)"><i class="fa fa-ban"></i> Borrar</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin-right:5px">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <h3>Concepto</h3>
                                        <textarea class="form-control" ng-model="gasto.detalles"></textarea>

                                    </div>
                                    <div class=" col-md-6 col-sm-12 col-xs-12">
                                        <h3>NCF</h3>
                                        <input type="text" ng-model="gasto.ncf" class="form-control" />
                                    </div>



                                </div>
                                <br />
                                <div class="row" style="margin-right:5px">
                                    <div class="col-md-4 col-xs-12 col-sm-12">
                                        <p class="lead pull-left" style="vertical-align:central">
                                            Monto  Dado
                                            <span class="badge badge-default" style="margin-bottom:5px">{{(gasto.montoDado) | currency:""}}</span>
                                        </p>
                                    </div>
                                    <div class="col-md-4 col-xs-12 col-sm-12">
                                        <p class="lead pull-left" style="vertical-align:central">
                                            Monto Pagado
                                            <span class="badge badge-default" style="margin-bottom:5px">{{(gasto.montoPagado) | currency:""}}</span>
                                        </p>
                                    </div>

                                </div>

                                <div class="row" style="margin-right:5px">

                                    <div class="col-md-6 col-sm-12 col-xs-12" ng-show="gasto.montoDado>(gasto.montoTotal)">
                                        <p class="lead pull-left" style="vertical-align:central">
                                            Devolución
                                            <span class="badge badge-default" style="margin-bottom:5px">{{(gasto.montoDevuelto) | currency:""}}</span>
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12" ng-hide="(gasto.montoAdeudado)<=0">
                                        <p class="lead pull-left" style="vertical-align:central">
                                            Total adeudado
                                            <span class="badge badge-default" style="margin-bottom:5px">{{(gasto.montoAdeudado) | currency:""}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label>Abono a gasto </label>
                            <input type="number" class="form-control" maxlength="100" ng-model="gasto.montoDado" />
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-12" ng-if="gasto.montoDado>0">
                        <label>Tipo de pago</label>
                        <select class="form-control" ng-model="gasto.tipopago" name="tipopagoGasto" ng-required="gasto.montoDado>0" data-error="Debe seleccionar un tipo de pago" ng-disabled="!esCreacion"
                                ng-options="tipopago.nombre for tipopago in tipopagos track by tipopago.id"
                                ng-change="gasto.tipopagoId = gasto.tipopago.id"></select>
                    </div>
                </div>


            </div>



            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <!--@*<button class="btn btn-primary btn-sm">Aceptar</button>*@-->
                <input type="submit" class="btn btn-primary btn-sm" value="Aceptar" />
                <input type="button" class="btn btn-default" ng-click="closeDialogGasto()" value="Cerrar" />
            </div>

        </div>
    </form>

    <my-load-data url="/api/impuesto"
                  model="impuestos"
                  url-data-field="data"
                  on-loaded=""></my-load-data>

    <my-load-data url="/api/tipopago"
                  model="tipopagos"
                  url-data-field="data"
                  on-loaded=""></my-load-data>
</div>