﻿


<div class="panel panel-primary" style="margin-bottom:0!important"  >
    <div class="panel-heading">
        <h4>Ingresar localidad</h4>
    </div>

    <form name="frmLocalidadForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="GuardarLocalidad()" novalidate>


        <div class="panel-body">

          <div class="row">

  

                <div class="col-md-4 col-xs-12 col-sm-12">
                  <div class="form-group">
                      <label>Nombre</label>
                      <input type="text" class="form-control" maxlength="100" ng-model="localidad.nombre" required />
                  </div>
              </div>

              <!--@*<div class="col-md-4 col-xs-12 col-sm-12">
                  <label>Suplidor</label>
                  <select class="form-control" ng-model="producto.suplidor" name="moneda" required data-error="Debe seleccionar un suplidor"
                          ng-options="suplidor.nombre for suplidor in suplidores track by suplidor.id "
                          ng-change="producto.suplidorId = producto.suplidor.id"></select>
              </div>*@-->

            

                <div class="col-md-4 col-xs-12 col-sm-12">
                  <div class="form-group">
                      <label>Activo</label>
                      
                      <input type="checkbox"  ng-model="localidad.activo" ng-model-options="{allowInvalid: true}" />
                  </div>
              </div>

          </div>



            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>
