﻿


<div class="panel panel-primary" style="margin-bottom:0!important"  >
    <div class="panel-heading">
        <h4>Ingresar moneda</h4>
    </div>

    <form name="frmMonedaForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="GuardarMoneda()" novalidate>


        <div class="panel-body">

          <div class="row">

                <div class="col-md-4 col-xs-12 col-sm-12">
                  <div class="form-group">
                      <label>Nombre</label>
                      <input type="text" class="form-control" maxlength="100" ng-model="moneda.nombre" required/>
                  </div>
              </div>

                <div class="col-md-4 col-xs-12 col-sm-12">
                  <div class="form-group">
                      <label>Codigo</label>
                      <input type="text" class="form-control" maxlength="100" ng-model="moneda.codigo" required/>
                  </div>
              </div>



          </div>

            <div class="row">
                  <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Tasa</label>
                        <input type="text" class="form-control" maxlength="100" ng-model="moneda.tasa" required />
                    </div>
                </div>
                  <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Activo</label>
                        <input type="checkbox" ng-model="moneda.activo" ng-model-options="{allowInvalid: true}"/>
                    </div>
                </div>
                  <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Moneda local</label>
                        <input type="checkbox" ng-model="moneda.esMonedaLocal" />
                    </div>
                </div>
            </div>



            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>
