﻿


<div class="panel panel-primary" style="margin-bottom:0!important"  >

        <div class="panel-heading">
            <h4>Devolución de clientes</h4>
        </div>
   

    <form name="frmDevolucionClienteForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="guardarDevolucionCliente()" novalidate>


        <div class="panel-body">

            <div class="row">

                <div class="col-md-8 col-xs-12 col-sm-12" ng-show="!esEdicion">
                    <div class="form-group">
                        <label>Factura</label>
                        <angucomplete-alt id="NoFactura" placeholder="Ingresar número de factura"
                                          pause="200"
                                          selected-object="selectedFactura"
                                          title-field="numeroFactura"
                                          remote-url="/api/factura?pagesize=6&nombreCampo=numeroFactura&filtro="
                                          remote-url-data-field="pagedData.result"
                                          minlength="2"
                                          initial-value=""
                                          input-class="form-control form-control-small"
                                          input-name="noFactura"
                                          field-required="(!esEdicion)"
                                          input-field-required="(!esEdicion)"
                                          input-required="(!esEdicion)"
                                          auto-match="true">
                        </angucomplete-alt>
                    </div>
                </div>

                <div class="col-md-8 col-xs-12 col-sm-12" ng-show="esEdicion">
                    <div class="form-group">
                        <label>Factura</label>
                        <input type="text" disabled="disabled" class="form-control" maxlength="100" ng-model="devolucion.factura.numeroFactura" />
                    </div>
                </div>



            </div>

            <div class="row">

                <div class="col-md-6  col-xs-12 col-sm-12">
                    <label>NCF</label>
                    <select class="form-control" ng-model="devolucion.factura.controlNCF" name="ncf" ng-disabled="(esEdicion)"
                          
                            ng-options="controlNCF.nombre for controlNCF in controlNCFs track by controlNCF.id "
                            ng-change="devolucion.factura.tipoNCF = devolucion.factura.controlNCF.tipo"></select>
                </div>


            </div>

            <div id="productosADevolver">
                <div class="row" ng-repeat="detalle in devolucion.detallesDevolucion">
                    <div ng-show="detalle.detallePadreId==null">
                        <div class="col-md-4 col-xs-12 col-sm-12 form-group">
                            <label>Producto</label>
                            <input type="text" disabled="disabled" class="form-control" maxlength="1000" ng-model="detalle.producto.nombre" />
                        </div>

                        <div class="col-md-2 col-xs-12 col-sm-12 form-group">
                            <label>Cantidad</label>
                            <input type="text" disabled="disabled" class="form-control" maxlength="1000" value="{{detalle.cantidad}} {{detalle.unidad.nombre}}" />

                        </div>

                        <div class="col-md-2  col-xs-12 col-sm-12 form-group">
                            <label>Devolución</label>
                            <input type="number" max="{{detalle.cantidad}}" min="0" class="form-control" ng-model="detalle.cantidadDevolucion" />
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-12">

                            <div class="form-group">
                                <label>Defectuoso</label>
                                <input type="checkbox" ng-model="detalle.defectuoso" />
                            </div>

                        </div>
                    </div>

                </div>
            </div>



            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>
