﻿


<div class="panel panel-primary" style="margin-bottom:0!important; max-height:600px; overflow-y:auto;"  >

        <div class="panel-heading">
            <h4>Ingresar movimientos de entrada</h4>
        </div>
   

    <form name="frmMovimientoEntradaForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="GuardarMovimientoEntrada()" novalidate>


        <div class="panel-body">

          <div class="row">

              <div class="col-md-4 col-xs-12 col-sm-12" ng-show="!esEdicion">
                  <div class="form-group">
                      <label>Suplidor</label>
                      <angucomplete-alt id="suplidor" placeholder="Ingresar nombre de suplidor"
                                        pause="200"
                                        selected-object="selectedSuplidor"
                                        title-field="nombre"
                                        remote-url="/api/suplidor?pagesize=6&nombreCampo=nombre&filtro="
                                        remote-url-data-field="pagedData.result"
                                        minlength="2"
                                        initial-value=""
                                        input-class="form-control form-control-small"
                                        input-name="suplidor"
                                        field-required="(!esEdicion)"
                                        input-field-required="(!esEdicion)"
                                        input-required="(!esEdicion)"
                                        auto-match="true">
                      </angucomplete-alt>
                  </div>
              </div>

              <div class="col-md-4 col-xs-12 col-sm-12"  ng-show="esEdicion">
                  <div class="form-group">
                      <label>Suplidor</label>
                      <input type="text" disabled="disabled" class="form-control" maxlength="100" ng-model="movimientoEntrada.suplidor.nombre"  />
                  </div>
              </div>

              <div class="col-md-4 col-xs-12 col-sm-12" ng-show="!editandoMovimiento">
                  <div class="form-group">
                      <label>Producto</label>
                      <angucomplete-alt id="productoNombre" placeholder="Ingresar nombre de producto"
                                        pause="200"
                                        selected-object="selectedProducto"
                                        title-field="nombre"
                                        remote-url="/api/producto?pagesize=6&nombreCampo=nombre&nombrecampo2=codigobarra&esservicio=false&filtro="
                                        remote-url-data-field="pagedData.result"
                                        minlength="2"
                                        initial-value=""
                                        input-class="form-control form-control-small"
                                        input-name="nombre"
                                        field-required="(!editandoMovimiento)"
                                        input-field-required="(!esEdicion)"
                                        input-required="(!esEdicion)"
                                        description-field="codigoBarra"
                                        auto-match="true">
                      </angucomplete-alt>
                  </div>
              </div>

              <div class="col-md-4 col-xs-12 col-sm-12" ng-show="editandoMovimiento">
                  <div class="form-group">
                      <label>Producto</label>
                      <input type="text" disabled="disabled" class="form-control" maxlength="100" ng-model="movimientoEntradaTemp.producto.nombre" />
                  </div>
              </div>
              <div class="col-md-4 col-xs-12 col-sm-12" >
                  <div class="form-group">
                      <label>Precio</label>
                      <input type="text" class="form-control" maxlength="100" ng-model="movimientoEntradaTemp.costoActual" />
                  </div>
              </div>
              

          </div>

            <div class="row">
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Cantidad</label>
                  <input type="number" class="form-control" required ng-model="movimientoEntradaTemp.cantidad " min="1" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Monto Itbis</label>
                    <input type="number"  class="form-control" ng-model="movimientoEntradaTemp.montoItbis " min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Monto Total</label>
                    <input type="number" required class="form-control" ng-model="movimientoEntradaTemp.montoTotal " min="0"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"  />
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Referencia</label>
                    <input type="text"  class="form-control" ng-model="movimientoEntrada.referencia"  ng-change="movimientoEntradaTemp.referencia=movimientoEntrada.referencia"   />
                </div>

      

            </div>

            <div  class="row">
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Localidad</label>
                    <select class="form-control" ng-model="movimientoEntrada.localidad" name="localidad" required data-error="Debe seleccionar una localidad" ng-required="true"
                            ng-options="localidad.nombre for localidad in localidades track by localidad.id "
                            ng-change="movimientoEntradaTemp.localidadId=movimientoEntrada.localidad.id">

                    </select>
                </div>
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Almacen</label>
                    <select class="form-control" ng-model="movimientoEntrada.almacen" name="almacen" required data-error="Debe seleccionar un almacen" ng-required="true"
                            ng-options="almacen.nombre for almacen in almacenes track by almacen.id "
                            ng-change="movimientoEntradaTemp.almacenId=movimientoEntrada.almacen.id"></select>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Unidad de transferencia</label>
                    <select class="form-control" ng-model="movimientoEntradaTemp.productoUnidad" name="unidad" required data-error="Debe seleccionar un unidad" ng-required="true"
                            ng-options="productoUnidad.unidad.nombre for productoUnidad in movimientoEntradaTemp.producto.productoUnidades track by productoUnidad.id "
                            ng-change="movimientoEntradaTemp.unidadId=movimientoEntradaTemp.productoUnidad.unidadId"></select>
                </div>

            </div>
            <br />
            <div class="row">
                  <div class="col-md-4 col-xs-12 col-sm-12">
                    <a href="#"class="btn btn-primary btn-sm" ng-click="agregarMovimiento()">Agregar entrada</a>
                </div>
               
               
            </div>
            <br />


            <div>
                <div id="DetallesPermisos" class="col-md-11 col-sm-11 col-xs-11">
                    <div class="panel panel-default">
                        <div class="row formTable">
                            <div class="col-md-offset-1 " , style="margin-top:5px;">
                                <h4 class="col-md-6 col-xs-12 col-sm-12">
                                    Entradas
                                </h4>


                            </div>


                        </div>
                        <div class="panel-body scrollTablaMobile">


                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>

                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Unidad</th>
                                        <th>Monto</th>
                                        <th>Monto Itbis</th>
                                        <th>Monto total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="table-bordered">
                                    <tr ng-repeat="movimiento in movimientoEntrada.movimientosEntradas">

                                        <td>{{movimiento.producto.nombre}}</td>
                                        <td>{{movimiento.cantidad}}</td>
                                        <td>{{movimiento.productoUnidad.unidad.nombre}}</td>
                                        <td>{{movimiento.producto.costo}}</td>
                                        <td>{{movimiento.montoItbis}}</td>
                                        <td>{{movimiento.montoTotal}}</td>

                                        <td align="center">
                                            <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                                <a class="btn btn-primary btn-sm" ng-click="EditarMovimiento(movimiento)" title="Editar"><i class="fa fa-pencil"></i> <span class="option">Editar</span> </a>
                                            </div>
                                            <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                                <a class="btn btn-danger" ng-click="AnularMovimiento(movimiento)"><i class="fa fa-ban"></i> Anular</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>
