﻿


<div class="panel panel-primary" style="margin-bottom:0!important; max-height:600px; overflow-y:auto;">
    <div class="panel-heading">
        <h4>Ingresar Pago</h4>
    </div>

    <form name="frmPagoForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="GuardarPago()" ng-init="pago={}" novalidate>
        
        
        <my-load-data url="/api/moneda"
                      model="monedas"
                      url-data-field="data"
                      on-loaded=""></my-load-data>

        <my-load-data url="/api/tipopago"
                      model="tipoPagos"
                      url-data-field="data"
                      on-loaded=""></my-load-data>

        <div class="panel-body">

            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <label>Tipo de pago</label>
                    <select class="form-control" ng-model="pago.tipoPago" name="tipoPago" required data-error="Debe seleccionar un tipo de pago" ng-required="true" ng-disabled="!esCreacion"
                            ng-options="tipoPago.nombre for tipoPago in tipoPagos track by tipoPago.id"
                            ng-change="pago.tipoPagoId = pago.tipoPago.id"></select>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <label>No. talonario</label>
                    <input type="text" min="0" ng-model="pago.noTalonario" class="form-control"  />
                </div>
            </div>

            <div class="row">

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group" ng-show="esCreacion">
                        <label>Cliente</label>
                        <angucomplete-alt id="cliente" placeholder=""
                                          pause="200"
                                          selected-object="selectedCliente"
                                          title-field="codigoYNombre"
                                          remote-url="/api/cliente?pagesize=6&nombreCampo=nombre&filtro="
                                          remote-url-data-field="pagedData.result"
                                          minlength="2"
                                          initial-value=""
                                          input-class="form-control form-control-small"
                                          input-name="cliente"
                                          field-required="esCreacion"
                                          input-field-required="esCreacion"
                                          input-required="esCreacion"
                                          auto-match="true">
                        </angucomplete-alt>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12" ng-show="!esCreacion">
                    <div class="form-group">
                        <label>Cliente</label>
                        <input type="text" disabled="disabled" class="form-control" maxlength="100" ng-model="pago.cliente.nombre" />
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-12" ng-show="esCreacion">
                    <label>Vendedor</label>
                    <select class="form-control" ng-model="pago.vendedor" name="tipoPago" ng-disabled="!esCreacion"
                            ng-options="vendedor.nombre for vendedor in vendedores track by vendedor.id"
                            ng-change="pago.vendedorId = pago.vendedor.id"></select>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12" ng-show="!esCreacion">
                    <div class="form-group">
                        <label>Vendedor</label>
                        <input type="text" disabled="disabled" class="form-control" maxlength="100" ng-model="pago.vendedor.nombre" />
                    </div>
                </div>

                <div class="col-md-2 col-xs-12 col-sm-12">
                    <label>Moneda</label>
                    <select class="form-control" ng-model="pago.moneda" name="moneda" required data-error="Debe seleccionar una moneda" ng-required="true" ng-disabled="!esCreacion"
                            ng-options="moneda.nombre for moneda in monedas track by moneda.id "
                            ng-change="filtrarPorMoneda()"></select>
                </div>

                <div class="col-md-2 col-xs-12 col-sm-12">
                    <label>Monto a pagar</label>
                    <input type="number" min="0" ng-model="pago.montoPago" class="form-control" required />
                </div>



                <div class="col-md-2 col-xs-12 col-sm-12">
                    <label>Monto Total</label>
                    <input type="number" min="0" value="{{montoPagoAcc.sum('monto')}}" class="form-control" disabled />
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <label>Detalles</label>
                    <textarea ng-model="pago.detalles" class="form-control"></textarea>
                </div>
               
              
            </div>
            <br />
            <div class="">
                <div id="Detalles" class="col-md-12 col-xs-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="row formTable">
                            <div class="col-md-offset-1 " , style="margin-top:5px;">
                                <h4 class="col-md-6 col-xs-12 col-sm-12">
                                    Detalle de pago
                                </h4>


                            </div>


                        </div>
                      
                        <div class="panel-body scrollTablaMobile">

                            <!--<div class="col-md-3 form-group">
                                <label>Cuneta / Banco</label>
                                <my-select url="/Facturacion/Api/Deposito/Cuentas"
                                           url-data-field="data"
                                           title-field="noCuenta"
                                           title-field-as="nombre"
                                           track-by="noCuenta"
                                           model="noCuenta"
                                           class="form-control"
                                           name="noCuenta">

                                </my-select>

                            </div>-->
                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>

                                        <th>Factura</th>
                                        <th>Fecha</th>
                                        <th>Moneda</th>
                                        <th>Monto total</th>
                                        <th>Monto Adeudado</th>
                                        <th>Monto a aplicar</th>
                                        <th>monto pendiente</th>
                                        <th ng-hide="esEdicion"></th>
                                    </tr>
                                </thead>
                                <tbody class="table-bordered">
                                    <tr ng-repeat="detalle in pago.detallesPago">

                                        <td>{{detalle.numeroFactura}}</td>
                                        <td>{{detalle.fechaFacturado | date:'dd-MM-yyyy'}}</td>
                                        <td>{{detalle.moneda.codigo }}</td>
                                        <td>{{detalle.montoTotal | currency:""}}</td>
                                        <td>{{detalle.montoAdeudado | currency:""}}</td>
                                        <td><input type="number" ng-model="detalle.montoAPagar" ng-change="verificarMontoAPagar(detalle)" ng-disabled="!detalle.seleccionado"></td>
                                        <td>{{(detalle.montoAdeudado - detalle.montoAPagar) | currency:"" }}</td>
                                        <td><input type="checkbox" ng-model="detalle.seleccionado" ng-disabled="!pago.montoPago || pago.montoPago<=0", ng-change="AbonarFactura(detalle)" /></td>

                                    </tr>
                                </tbody>
                            </table>




                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <!--@*<button class="btn btn-primary btn-sm">Aceptar</button>*@-->
                <input type="submit" class="btn btn-primary btn-sm" value="Aceptar" />
                <input type="button" class="btn btn-default" ng-click="closeDialogPago()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>