﻿


<div class="panel panel-primary" style="margin-bottom:0!important"  >

        <div class="panel-heading">
            <h4>Ingresar Permisos por sección</h4>
        </div>
   

    <form name="frmPermisoForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="GuardarPermiso()" novalidate>


        <div class="panel-body">

          <div class="row">

              <div class="col-md-7 col-sm-7 col-xs-7" ng-show="!esEdicion">
                  <div class="form-group">
                      <label>Role</label>
                      <input type="text" disabled="disabled" class="form-control" maxlength="100" ng-model="role.name" />
                  </div>
              </div>

             

              <div class="col-md-3  col-xs-12 col-sm-12">
                  <label>Sección</label>
                  <select class="form-control" ng-model="permisotemp.seccion" name="seccion" required data-error="Debe seleccionar una sección" ng-required="true"
                          ng-options="seccion.nombre for seccion in secciones | orderBy: 'nombre' track by seccion.id "
                          ng-change="cargarOperaciones(permisotemp.seccion.id);"></select>
              </div>

              <div class="col-sm-2 col-md-2 col-xs-2">
                  <div class="form-group">
                      <label>Seleccionar todos</label>
                      <input type="checkbox" ng-model="seleccionarTodos" ng-model-options="{allowInvalid: true}" />
                  </div>
              </div>

          </div>

            <div class="row">
                <div ng-repeat="operacion in operaciones" class="col-md-3  col-xs-12 col-sm-12">
                    <input type="checkbox"  
                           value="{{operacion.operacion.nombre}}" 
                           ng-model="operacion.seleccion" ng-change="agregarOperacion(operacion)"
                           ng-model-options="{allowInvalid: true}"
                           /><p>{{operacion.operacion.nombreIlustrativo}}</p>
                </div>
               
            </div>



            <div>
                <div id="DetallesPermisos" class="col-md-11 col-sm-11 col-xs-11">
                    <div class="panel panel-default">
                        <div class="row formTable">
                            <div class="col-md-offset-1 " , style="margin-top:5px;">
                                <h4 class="col-md-6 col-xs-6 col-sm-6">
                                    permisos
                                </h4>

                                <div class="col-md-2 col-xs-12 col-sm-12 ">
                                    <button type="button" class="btn btn-primary btn-sm" ng-click="EditarDetallePermiso()">Agregar a permisos</button>

                                </div>
                            </div>


                        </div>
                        <div class="panel-body scrollTablaMobile">


                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>

                                        <th>Seccion</th>
                                        <th>Operaciones</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="table-bordered">
                                    <tr ng-repeat="detalle in permiso.permisos">

                                        <td>{{detalle.seccion.nombre}}</td>
                                        <td>{{convertirListaEnTexto(detalle.operaciones)}}</td>

                                        <td align="center">
                                            <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                                <a class="btn btn-danger" ng-click="AnularDetalle(detalle)"><i class="fa fa-ban"></i> Anular</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>
