﻿<div class="panel panel-primary" id="productoForm" style="margin-bottom:0!important">
    <div class="panel-heading">
        <h4>Agregar Producto</h4>
    </div>

    <form name="frmProductoForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="GuardarProducto()" novalidate>


        <div class="panel-body">

            <div class="row">

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" maxlength="100" ng-model="producto.nombre" required />
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Descripcion</label>
                        <input type="text" class="form-control" maxlength="100" ng-model="producto.descripcion" />
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Precio</label>
                        <input type="number" class="form-control" maxlength="10" ng-model="producto.precio" required />
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Precio 2</label>
                        <input type="number" class="form-control" maxlength="10" ng-model="producto.precio2" />
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Precio 3</label>
                        <input type="number" class="form-control" maxlength="10" ng-model="producto.precio3" />
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Porcentaje Comisión Vendedor</label>
                        <input type="number" class="form-control" min="0" max="1" maxlength="10" step="0.1" ng-model="producto.porcentajeVendedor" />
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Es Servicio</label>
                        <input type="checkbox" ng-model="producto.esServicio" ng-change="producto.esCompuesto=!producto.esServicio?false:producto.esCompuesto;" />
                    </div>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12" ng-show="producto.esServicio">
                    <div class="form-group">
                        <label>Es compuesto</label>
                        <input type="checkbox" ng-model="producto.esCompuesto" />
                    </div>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Activo</label>
                        <input type="checkbox" ng-model="producto.activo" ng-model-options="{allowInvalid: true}" />
                    </div>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Codigo</label>
                        <input type="text" class="form-control" maxlength="500" ng-model="producto.codigoBarra" ng-keydown="checkKeyEvent($event)" />
                    </div>
                </div>

            </div>

            <div class="row">


                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Costo</label>
                        <input type="number" class="form-control" ng-model="producto.costo" ng-required="producto.esServicio"  />
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <label>Moneda</label>
                    <select class="form-control" ng-model="producto.moneda" name="moneda" required data-error="Debe seleccionar una moneda" ng-required="true"
                            ng-options="moneda.nombre for moneda in monedas track by moneda.id "
                            ng-change="producto.monedaId = producto.moneda.id"></select>
                </div>




            </div>
            <div>
                <div class="row ">
                    <div id="productoImpuestos" class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="row formTable">
                                <div class="col-md-offset-1 " , style="margin-top:5px;">
                                    <h4 class="col-md-3 col-xs-12 col-sm-12">
                                        Impuestos
                                    </h4>
                                    <div class="col-md-9 col-xs-12 col-sm-12 row">
                                        <div class="col-md-6 col-xs-6 col-sm-6">

                                            <select class="form-control" ng-model="producto.impuesto" name="impuesto" ng-required="false"
                                                    ng-options="impuesto.nombre for impuesto in impuestos track by impuesto.id"></select>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6">
                                            <button type="button" class="btn btn-primary btn-sm" ng-click="agregarImpuesto(producto.impuesto)">Agregar Impuesto</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body scrollTablaMobile">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Porcentaje</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-bordered">
                                        <tr ng-repeat="productoImpuesto in producto.impuestos track by $index">

                                            <td>{{productoImpuesto.impuesto.nombre}}</td>
                                            <td>{{productoImpuesto.impuesto.porciento | number:2}}</td>

                                            <td align="center">
                                                <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                                    <a class="btn btn-danger" ng-click="anularImpuesto($index)"><i class="fa fa-ban"></i> Borrar</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-hide="producto.esServicio">
                    <div class="row">
                        <div id="ProductoUnidades" class="col-md-11 col-sm-11 col-xs-11">
                            <div class="panel panel-default">
                                <div class="row formTable">
                                    <div class="col-md-offset-1 " , style="margin-top:5px;">
                                        <h4 class="col-md-6 col-xs-12 col-sm-12">
                                            Unidades de producto
                                        </h4>

                                        <div class="col-md-2 col-xs-12 col-sm-12 ">
                                            <button type="button" class="btn btn-primary btn-sm" ng-click="editarUnidad(-1)">Agregar Unidad</button>

                                        </div>
                                    </div>


                                </div>
                                <div class="panel-body scrollTablaMobile">


                                    <table class="table table-striped table-hover table-bordered">
                                        <thead>
                                            <tr>

                                                <th>Unidad</th>
                                                <th>Equivalencia</th>
                                                <th>Costo unitario</th>
                                                <th>Precio unitario</th>
                                                <th>Es principal</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-bordered">
                                            <tr ng-repeat="productoUnidad in producto.productoUnidades">

                                                <td>{{productoUnidad.unidad.nombre}}</td>
                                                <td>{{productoUnidad.equivalencia | number:2}}</td>
                                                <td>{{productoUnidad.precioCompra | number:2}}</td>
                                                <td>{{productoUnidad.precioVenta | number:2}}</td>
                                                <td>{{productoUnidad.esPrincipal?'Si':'No'}}</td>

                                                <td align="center">
                                                    <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                                        <a class="btn btn-primary btn-sm" href="" title="Editar" ng-click="editarUnidad($index)"><i class="fa fa-pencil"></i> <span class="option">Editar</span> </a>

                                                    </div>
                                                    <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                                        <a class="btn btn-danger" ng-click="AnularUnidad($index)"><i class="fa fa-ban"></i> Anular</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>

                <div class="row" ng-hide="!producto.moneda || producto.esServicio">
                    <div id="ProductoCostos" class="col-md-11 col-sm-11 col-xs-11">
                        <div class="panel panel-default">
                            <div class="row formTable">
                                <div class="col-md-offset-1 " , style="margin-top:5px;">
                                    <h4 class="col-md-6 col-xs-12 col-sm-12">
                                        Costos por suplidor
                                    </h4>

                                    <div class="col-md-2 col-xs-12 col-sm-12 " ng-hide="!verificarExistenciaUnidadPrincipal()">
                                        <button type="button" class="btn btn-primary btn-sm" ng-click="editarCosto(-1)">Agregar Costo</button>

                                    </div>
                                </div>


                            </div>
                            <div class="panel-body scrollTablaMobile">


                                <table class="table table-striped table-hover table-bordered">
                                    <thead>
                                        <tr>

                                            <th>Suplidor</th>
                                            <th>Costo unitario</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-bordered">
                                        <tr ng-repeat="productoCosto in producto.productoCostos">

                                            <td>{{productoCosto.suplidor.nombre}}</td>
                                            <td>{{productoCosto.costo | number:2}}</td>


                                            <td align="center">
                                                <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                                    <a class="btn btn-primary btn-sm" href="" title="Editar" ng-click="editarCosto($index)"><i class="fa fa-pencil"></i> <span class="option">Editar</span> </a>

                                                </div>
                                                <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                                    <a class="btn btn-danger" ng-click="AnularCosto($index)"><i class="fa fa-ban"></i> Anular</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>




            </div>


          

            <div ng-hide="!producto.esServicio">
                <div class="row" ng-hide="!producto.esCompuesto">
                    <div id="basesProducto" class="col-md-11 col-sm-11 col-xs-11">
                        <div class="panel panel-default">
                            <div class="row formTable">
                                <div class="col-md-offset-1 " , style="margin-top:5px;">
                                    <h4 class="col-md-6 col-xs-12 col-sm-12">
                                        Productos base del servicio
                                    </h4>

                                    <div class="col-md-2 col-xs-12 col-sm-12 ">
                                        <button type="button" class="btn btn-primary btn-sm" ng-click="editarProductoBase(-1)">Agregar Base de producto</button>

                                    </div>
                                </div>


                            </div>
                            <div class="panel-body">


                                <table class="table table-striped table-hover table-bordered">
                                    <thead>
                                        <tr>

                                            <th>Producto base</th>
                                            <th>Unidad</th>
                                            <th>Cantidad</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-bordered">
                                        <tr ng-repeat="base in producto.unidadesProductosBase">

                                            <td>{{base.productoBase.nombre || base.nombreServicioBase}}</td>
                                            <td>{{base.productoUnidadBase.unidad.nombre}}</td>
                                            <td>{{base.cantidad | number:2}}</td>


                                            <td align="center">
                                                <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                                    <a class="btn btn-primary btn-sm" href="" title="Editar" ng-click="editarProductoBase($index)"><i class="fa fa-pencil"></i> <span class="option">Editar</span> </a>

                                                </div>
                                                <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                                    <a class="btn btn-danger" ng-click="AnularProductoBase($index)"><i class="fa fa-ban"></i> Anular</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <my-load-data url="/api/impuesto"
                          model="impuestos"
                          url-data-field="data"
                          on-loaded=""></my-load-data>



            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>
