﻿


<div class="panel panel-primary" style="margin-bottom:0!important; z-index:10;">
    <div class="panel-heading">
        <h4>Ingresar Detalle</h4>
    </div>

    <form name="frmProductoUnidadForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="GuardarProductoUnidad()" novalidate>


        <div class="panel-body">

            <div class="row">

                  <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Producto</label>
                        <input type="text" disabled="disabled" class="form-control" maxlength="100" ng-model="productoUnidad.producto.nombre" />
                    </div>
                </div>

                  <div class="col-md-4 col-xs-12 col-sm-12">
                    <label>Unidad</label>
                    <select class="form-control" ng-model="productoUnidad.unidad" name="Unidad" ng-disabled="esEdicion" required data-error="Debe seleccionar una unidad"
                            ng-options="unidad.nombre for unidad in unidades track by unidad.id"
                            ng-change="productoUnidad.unidadId=productoUnidad.unidad.id"></select>
                </div>

                  <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Equivalencia </label>
                        <input type="number" class="form-control"  ng-model="productoUnidad.equivalencia" min="0.0001" required />
                    </div>
                </div>





                  <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Es principal </label>
                        <input type="checkbox" class="form-control" ng-model="productoUnidad.esPrincipal" ng-model-options="{allowInvalid: true}" />
                    </div>
                </div>

   


            </div>
           





            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>