﻿


<div class="panel panel-primary" style="margin-bottom:0!important; z-index:10;">
    <div class="panel-heading">
        <h4>Ingresar Detalle</h4>
    </div>

    <form name="frmProductoCostoForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="guardarProductoCosto()" novalidate>


        <div class="panel-body">

            <div class="row">

                  <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Producto</label>
                        <input type="text" disabled="disabled" class="form-control" maxlength="100" ng-model="productoCosto.producto.nombre" />
                    </div>
                </div>

               
                  

                    <div class="col-md-4 col-xs-12 col-sm-12 form-group">
                        <label>Suplidor</label>
                        <my-select url="/Api/Suplidor"
                                   url-data-field="data"
                                   title-field="nombre"
                                   track-by="id"
                                   model="productoCosto.suplidor"
                                   class="form-control"
                                   name="nombre">

                        </my-select>

                    </div>


                  <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Costo </label>
                        <input type="number" class="form-control"  ng-model="productoCosto.costo" min="0.0001" required />
                    </div>
                </div>


            </div>
           





            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>