﻿


<div class="panel panel-primary" style="margin-bottom:0!important"  >
    <div class="panel-heading">
        <h4>Agregar Suplidor</h4>
    </div>

    <form name="frmSuplidoresForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="GuardarSuplidores()" novalidate>


        <div class="panel-body">

          <div class="row">

                <div class="col-md-4 col-xs-12 col-sm-12">
                  <div class="form-group">
                      <label>Nombre</label>
                      <input type="text" class="form-control" maxlength="200" ng-model="suplidor.nombre" required />
                  </div>
              </div>

                <div class="col-md-4 col-xs-12 col-sm-12">
                  <div class="form-group">
                      <label>Cedula/Rnc</label>
                      <input type="text" class="form-control" maxlength="11" ng-model="suplidor.cedulaRnc" required />
                  </div>
              </div>
                <div class="col-md-4 col-xs-12 col-sm-12">
                  <div class="form-group">
                      <label>Telefono</label>
                      <input type="text" class="form-control" maxlength="10" ng-model="suplidor.telefono" required />
                  </div>
              </div>
          </div>

            <div class="row">

                  <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Dirección</label>
                        <input type="text" class="form-control" maxlength="500" ng-model="suplidor.direccion" />
                    </div>
                </div>

                  <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Activo</label>
                        <input type="checkbox" ng-model="suplidor.activo" ng-model-options="{allowInvalid: true}" />
                    </div>
                </div>
               
            </div>




            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>
