﻿


<div class="panel panel-primary" style="margin-bottom:0!important; max-height:600px; overflow-y:auto;">

    <div class="panel-heading">
        <h4>Ingresar transferencia</h4>
    </div>


    <form name="frmtransferenciaAlmacenForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="GuardarTransferenciaAlmacen()" novalidate>


        <div class="panel-body">

            <div class="row">
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Localidad origen</label>
                    <select class="form-control" ng-model="transferenciaAlmacen.localidadOrigen" name="localidad" required data-error="Debe seleccionar una localidad" ng-required="true"
                            ng-options="localidad.nombre for localidad in localidadesOrigen track by localidad.id "
                            ng-change="transferenciaAlmacenTemp.localidadOrigenId=transferenciaAlmacen.localidadOrigen.id"></select>
                </div>
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Almacen</label>
                    <select class="form-control" ng-model="transferenciaAlmacen.almacenOrigen" name="almacen" required data-error="Debe seleccionar un almacen" ng-required="true"
                            ng-options="almacen.nombre for almacen in almacenesOrigen track by almacen.id "
                            ng-change="transferenciaAlmacenTemp.almacenOrigenId=transferenciaAlmacen.almacenOrigen.id"></select>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-12" ng-show="!editandoTransferencia" ng-hide="!transferenciaAlmacen.almacenOrigen">
                    <div class="form-group">
                        <label>Producto</label>
                        <angucomplete-alt id="productoNombre" placeholder="Ingresar nombre de producto"
                                          pause="200"
                                          selected-object="selectedProducto"
                                          title-field="nombre"
                                          remote-url="/api/producto?pagesize=6&nombreCampo=nombre&nombrecampo2=codigoBarra&esservicio=false&filtro="
                                          remote-url-data-field="pagedData.result"
                                          minlength="2"
                                          initial-value=""
                                          input-class="form-control form-control-small"
                                          input-name="nombre"
                                          field-required="(!editandoTransferencia)"
                                          input-field-required="(!esEdicion)"
                                          input-required="(!esEdicion)"
                                          description-field="codigoBarra"
                                          auto-match="true">
                        </angucomplete-alt>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-12" ng-show="editandoTransferencia">
                    <div class="form-group">
                        <label>Producto</label>
                        <input type="text" disabled="disabled" class="form-control" maxlength="100" ng-model="transferenciaAlmacenTemp.producto.nombre" />
                    </div>
                </div>

            </div>

            <div class="row">

             
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Cantidad</label>
                    <input type="number" class="form-control" required ng-model="transferenciaAlmacenTemp.cantidad" min="0.000000001" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"
                            max="{{transferenciaAlmacenTemp.producto.existenciaEnAlmacen}}" />
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Unidad</label>
                    <select class="form-control" ng-model="transferenciaAlmacenTemp.productoUnidad" name="unidad" required data-error="Debe seleccionar un unidad" ng-required="true"
                            ng-options="productoUnidad.unidad.nombre for productoUnidad in transferenciaAlmacenTemp.producto.productoUnidades track by productoUnidad.id "
                            ng-change="transferenciaAlmacenTemp.unidadId=transferenciaAlmacenTemp.productoUnidad.unidadId"></select>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-12 ">
                    <label>Existencia en almacen</label>
                    <input type="number" disabled class="form-control"  ng-model="transferenciaAlmacenTemp.producto.existenciaEnAlmacen"  />
                </div>

              

            </div>



            <div class="row">
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <label>Localidad</label>
                    <select class="form-control" ng-model="transferenciaAlmacen.localidadDestino" name="localidad" required data-error="Debe seleccionar una localidad" ng-required="true"
                            ng-options="localidad.nombre for localidad in localidadesDestino track by localidad.id "
                            ng-change="transferenciaAlmacenTemp.localidadDestinoId=transferenciaAlmacen.localidadDestino.id"></select>
                </div>
                <div class="col-md-3 col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-offset-3">
                    <label>Almacen</label>
                    <select class="form-control" ng-model="transferenciaAlmacen.almacenDestino" name="almacen" required data-error="Debe seleccionar un almacen" ng-required="true"
                            ng-options="almacen.nombre for almacen in almacenesDestino track by almacen.id "
                            ng-change="transferenciaAlmacenTemp.almacenDestinoId=transferenciaAlmacen.almacenDestino.id"></select>
                </div>

             

            </div>
            <br />
            <div class="row">
                  <div class="col-md-4 col-xs-12 col-sm-12">
                    <a href="#" class="btn btn-primary btn-sm" ng-click="agregarTransferencia()">Agregar entrada</a>
                </div>


            </div>
            <br />


            <div>
                <div id="DetallesPermisos" class="col-md-11 col-sm-11 col-xs-11">
                    <div class="panel panel-default">
                        <div class="row formTable">
                            <div class="col-md-offset-1 " , style="margin-top:5px;">
                                <h4 class="col-md-6 col-xs-12 col-sm-12">
                                    Entradas
                                </h4>


                            </div>


                        </div>
                        <div class="panel-body scrollTablaMobile">


                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>

                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Unidad</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="table-bordered">
                                    <tr ng-repeat="transferencia in transferenciaAlmacen.transferencias">

                                        <td>{{transferencia.producto.nombre}}</td>
                                        <td>{{transferencia.cantidad}}</td>
                                        <td>{{transferencia.productoUnidad.unidad.nombre}}</td>

                                        <td align="center">
                                            <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                                <a class="btn btn-primary btn-sm" ng-click="EditarTransferencia($index)" title="Editar"><i class="fa fa-pencil"></i> <span class="option">Editar</span> </a>
                                            </div>
                                            <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                                <a class="btn btn-danger" ng-click="AnularTransferencia($index)"><i class="fa fa-ban"></i> Anular</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>


        </div>

   
        <br />
    
       


     
        </form>

</div>






