﻿


<div class="panel panel-primary" style="margin-bottom:0!important">
    <div class="panel-heading">
        <h4>Agregar Usuario</h4>
    </div>

    <form name="frmUsuarioForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="GuardarUsuario()" novalidate>


        <div class="panel-body">

            <div class="row">

                  <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" maxlength="100" ng-model="usuario.nombre" required />
                    </div>
                </div>

                  <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Apellido</label>
                        <input type="text" class="form-control" maxlength="100" ng-model="usuario.apellido" required />
                    </div>
                </div>

                  <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Cédula</label>
                        <input type="text" class="form-control" maxlength="11" ng-model="usuario.cedula" required />
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Nombre de usuario</label>
                        <input type="text" class="form-control" maxlength="500" ng-model="usuario.userName" required />
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" maxlength="500" ng-model="usuario.email" />
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-4" ng-show="(usuario.id=='')">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" maxlength="500" ng-model="usuario.clave" ng-required="(usuario.id=='')" />
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Id aplicacion</label>
                        <input type="text" class="form-control" maxlength="50" ng-model="usuario.aplicacionId"  />
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Activo</label>
                        <input type="checkbox" ng-model="usuario.activoBool" ng-model-options="{allowInvalid: true}" />
                    </div>
                </div>



                <div class="col-md-4 col-xs-12 col-sm-12">
                    <label>Localidad</label>
                    <select class="form-control" ng-model="usuario.localidad" name="moneda" required data-error="Debe seleccionar una localidad" ng-required="true"
                            ng-options="localidad.nombre for localidad in localidades track by localidad.id "
                            ng-change="usuario.localidadId = usuario.localidad.id;obtenerAlmacenes(usuario.localidadId);"></select>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <label>Almacen</label>
                    <select class="form-control" ng-model="usuario.almacen" name="almacen" required data-error="Debe seleccionar un almacen" ng-required="true"
                            ng-options="almacen.nombre for almacen in almacenes track by almacen.id "
                            ng-change="usuario.almacenId = usuario.almacen.id"></select>
                </div>

               

            </div>
            <hr />
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <label>Caja Asignada</label>
                    <select class="form-control" ng-model="usuario.caja" name="caja" ng-options="caja.nombre for caja in cajas track by caja.id "
                            ng-change="usuario.cajaId = usuario.caja.id;usuario.tiempoAperturaCajaHoras=usuario.cajaId?usuario.tiempoAperturaCajaHoras:null;"></select>
                </div>

                <div class="col-md-6 col-xs-12 col-sm-12" ng-show="usuario.cajaId">
                    <div class="form-group">
                        <label>Tiempo de apertura de caja Max. (Horas)</label>
                        <input type="number" min="1" class="form-control" maxlength="500" ng-model="usuario.tiempoAperturaCajaHoras" ng-required="usuario.cajaId"/>
                    </div>
                </div>
            </div>




            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>
