﻿


<div class="panel panel-primary" style="margin-bottom:0!important"  >

        <div class="panel-heading">
            <h4>Ingresar usuarioRoles por sección</h4>
        </div>
   

    <form name="frmusuarioRoleForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="GuardarUsuarioRole()" novalidate>


        <div class="panel-body">

            <div class="row">


                <div class="col-md-5  col-xs-5 col-sm-5">
                    <div class=" form-group">
                        <label>Roles</label>
                        <select class="form-control" ng-model="usuarioRole.role" name="role" required data-error="Debe seleccionar un rol" ng-required="true"
                                ng-options="role.name for role in roles | orderBy: 'name' track by role.id"
                                ng-change="usuarioRole.roleId=usuarioRole.role.id;"></select>
                    </div>
                    
                </div>
                <div class="col-md-offset-1 col-xs-12 col-sm-12 ">
                    <label style="color:white;">Roles</label>
                    <button type="button" class="btn btn-primary btn-sm form-control" ng-click="agregarRoleAUsuario(usuarioRole.role.id)">Agregar Role</button>

                </div>

            </div>

            


            <div>
                <div id="DetallesUsuarioRoles" class="col-md-11 col-sm-11 col-xs-11">
                    <div class="panel panel-default">
                        <div class="row formTable">
                            <div class="col-md-offset-1 " , style="margin-top:5px;">
                                <h4 class="col-md-6 col-xs-6 col-sm-6">
                                    Roles de usuario
                                </h4>

                               
                            </div>


                        </div>
                        <div class="panel-body">


                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>

                                        <th>Role</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="table-bordered">
                                    <tr ng-repeat="rol in usuarioRoles track by rol.id">

                                        <td>{{rol.name}}</td>

                                        <td align="center">
                                            <div class="btn-group  btn-group-sm  btn-group-lg text-center JustifyCenter">
                                                <a class="btn btn-danger" ng-click="eliminarRoleDeUsuario(rol.id)"><i class="fa fa-ban"></i> Eliminar</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>
