﻿


<div class="panel panel-primary" style="margin-bottom:0!important"  >
    <div class="panel-heading">
        <h4>Agregar vendedor</h4>
    </div>

    <form name="frmVendedorForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="guardarVendedor()" novalidate>


        <div class="panel-body">

            <div class="row">

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" maxlength="100" ng-model="vendedor.nombre" required />
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Cedula</label>
                        <input type="text" class="form-control" maxlength="11" ng-model="vendedor.cedula" required/>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Telefono</label>
                        <input type="text" class="form-control" maxlength="10" ng-model="vendedor.telefono" required/>
                    </div>
                </div>

            </div>

            <div class="row">

               
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Zona</label>

                        <select class="form-control" ng-model="vendedor.zona" name="zona"
                                ng-options="zona.nombre for zona in zonas track by zona.id "
                                ng-change="vendedor.zonaId=vendedor.zona.id;" required></select>
                       
                    </div>
                </div>

                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Activo</label>
                        <input type="checkbox" ng-model="vendedor.activo" ng-model-options="{allowInvalid: true}" />
                    </div>
                </div>
             
            </div>
           
            <div class="row">
                

                
            </div>
            <div class="row">
                <div class="col-md-8 col-xs-12 col-sm-12">
                    <label>Direccion</label>
                    <textarea class="form-control" ng-model="vendedor.direccion" required></textarea>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Codigo</label>
                        <input type="text" class="form-control" ng-model="vendedor.codigo" disabled="disabled" />
                    </div>
                </div>

              
            </div>
            <br />
            <div class="row">
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Comisión Fija</label>
                        <input type="checkbox" ng-model="vendedor.comisionFija" ng-model-options="{allowInvalid: true}" />
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 col-sm-12" ng-show="vendedor.comisionFija">
                    <div class="form-group">
                        <label>Porcentaje Comisión</label>
                        <input type="number" min="0" max="1" class="form-control" ng-model="vendedor.porcentajeComision" />
                    </div>
                </div>
                <div class="col-md-3  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Comisión por producto</label>
                        <input type="checkbox" ng-model="vendedor.comisionPorProducto" ng-model-options="{allowInvalid: true}" />
                    </div>
                </div>
            </div>
            <br />

            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>
