﻿


<div class="panel panel-primary" style="margin-bottom:0!important"  >
    <div class="panel-heading">
        <h4>Ingresar Zona</h4>
    </div>

    <form name="frmZonaForm" ng-class="showValidate ? 'form-validate' : ''" ng-submit="GuardarZona()" novalidate>


        <div class="panel-body">

            <div class="row">



                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" maxlength="100" ng-model="zona.nombre" required />
                    </div>
                </div>

                <!--@*<div class="col-md-4 col-xs-12 col-sm-12">
            <label>Suplidor</label>
            <select class="form-control" ng-model="producto.suplidor" name="moneda" required data-error="Debe seleccionar un suplidor"
                    ng-options="suplidor.nombre for suplidor in suplidores track by suplidor.id "
                    ng-change="producto.suplidorId = producto.suplidor.id"></select>
        </div>*@-->



                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Activo</label>

                        <input type="checkbox" ng-model="zona.activo" ng-model-options="{allowInvalid: true}" />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12  col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" maxlength="100" ng-model="nuevoSector"  />
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <a href="#" class="btn btn-primary btn-sm" ng-click="agregarSector()"> Ingresar sector</a>
                </div>
            </div>
             <div class="row">
                <div class="col-md-6  col-xs-12 col-sm-12">
                    <label>Sectores</label>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <td class="col-md-1  col-xs-1 col-sm-1">Nombre</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sector in sectores | orderBy: 'nombre'">
                                <td>{{sector.nombre}}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="#" ng-click="borrarSector(sector.nombre)" title="borrar">
                                        <i class="glyphicon glyphicon-trash"></i>
                                        <span class="option">Borrar</span>
                                    </a>
                                </td>
                                <!--<td align="left">
                            <div class="btn-group  btn-group-sm  btn-group-xs text-center JustifyCenter">
                                <a class="btn btn-primary btn-sm" ng-click="agregrarMonto(monto)" title="Anadir"><i class="fa fa-pencil"></i> <span class="option">Anadir</span> </a>
                            </div>
                        </td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>



            <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
                <button class="btn btn-primary btn-sm">Aceptar</button>
                <input type="button" class="btn btn-default" ng-click="closeDialog()" value="Cerrar" />
            </div>

        </div>
    </form>
</div>
